{% load i18n helper_tags %}
<div id="filter" class="spoiler">
  <form action="." method="GET">
        <fieldset>
            <legend>{% trans "Filter" %}</legend>
            <table>
                {{ filterform|as_filterform }}
            </table>
        </fieldset>
          <div class="button">
        <input type="submit" value="{% trans "Filter" %}">
        </div>

        <div class="clear"><!--//--></div>
    </form>
</div>
