{% load i18n helper_tags %}
<div class="blockLinks">
    <a href="#filter" id="togglefilter" class="toggleSpoiler">Toggle filter</a>
</div>
<script type="text/javascript">
function getParameterByName(name) {
    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
    return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
}
</script>
<div id="filter" class="spoiler">
  <form action="." method="GET"> 
        <fieldset>
            <legend>{% trans "Filter" %}</legend>
            <table>
                {{ filterform|as_filterform }}
            </table>
        </fieldset>
        <div class="button">
        <input type="submit" value="{% trans "Filter" %}">
        </div>
        {# CSV #}
        {% if  user.group.name == 'Administrator' %}
            <div id="export_csv" class="button">
                <span>
                    Export to file
                    <a href="#" onclick="window.open(document.location.pathname + '?csv&filename=' + getParameterByName('filename') + '&' +  $('#filter form').serialize());return false;" style="opacity: 0">
                        Export
                    </a>
                </span>
            </div>
        {% endif %}
        <div class="clear"></div>
    </form>
</div>
