{% extends "homepage/base.html" %}
{% load pagination_tags helper_tags i18n %}

{% block breadcrumbs %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <h3>Мои Ожидания</h3>
    <br/>
    <br/>

    <table cellspacing="0" class="stdAppTable">
        <tr>
            <th>№ единицы хранения</th>
            <th>Заголовок</th>
            <th>Приоритет</th>
            <th>Дата ожидания</th>
            <th>Комментарий</th>
            <th>Выдан ?</th>
        </tr>

        {% for item in object_list %}
            <tr class="{% cycle 'odd' 'even' %}" id="{{ item.id }}">
            </tr>
        {% endfor %}
    </table>
{% endblock %}

