{% extends "homepage/base.html" %}
{% load i18n static %}

{% block meta_tags %}
{% endblock %}

{% block content %}
<script type="text/javascript">
$(function() {
    $('#add').submit(function(){
        $.post("{% url 'storage:itemin_create' %}", function() {
            var search = document.getElementById('add_search').value;
            console.log('POST: ' + search);
            window.location = "{% url 'storage:itemin_create' %}?s=" + search;
        });
        return false;
    });
});
</script>
  <div style=";">
    <div style="width:50%;float:left;display:inline-block;">
      </div>
      <h3>Лист уничтожения</h3>
      <div style="margin-left:50%;">
        <span style="display: block;overflow: hidden;">
        <input type="text" title="search" style="width: 100%;" placeholder="Искать" ng-keyup="outlist_keyup($event.which)" /></span>
      </div>
  </div>
  {% if error_message %}
  <br/>
  <div class="error">{{ error_message }}</div>
  {% endif %}
  <br/>
  <br/>

<section class="page-section vector-bg">
  <div ng-app="archivistapp" class="wrapper ng-scope" id="form_wrap" ng-controller="InstrumentsCtrl">
    <div class="ng-scope" id="form_steps" onload="startup()">
      <table>
      {% for object in object_list %}
        <tr>
          <td>
            #{{ object.pk }} : {{ object.created }}
            <button type="button" ng-click="sendGet({{ object.pk }})">Раскрыть</button>
          </td>
        </tr>
      {% endfor %}  
      </table>
    </div>
  </div>
</section>
{% endblock %}
