{% extends "homepage/base.html" %}
{% load i18n static %}

{% block meta_tags %}
{% endblock %}

{% block content %}
<section class="page-section vector-bg">
  <h3>Выдача</h3>
  <div ng-app="archivistapp" class="wrapper ng-scope" id="form_wrap" ng-controller="InstrumentsCtrl">
    <div class="ng-scope" id="form_steps" onload="startup()">
      <table>
      {% for object in object_list %}
        <tr>
          <td>
            #{{ object.pk }} : {{ object.created }}
            <button type="button" ng-click="sendGet({{ object.pk }})">Раскрыть</button>
          </td>
        </tr>
      {% endfor %}  
      </table>
    </div>
  </div>
</section>
{% endblock %}
