{% extends "users/registration/base.html" %}

{% load i18n crispy_forms_tags %}

{% block registration_content %}
<center>
                <div id="signup-form" class="form">
                    {% crispy form %}
                </div>
</center>
{% endblock %}
