{% extends "homepage/base.html" %}
{% load helper_tags i18n static %}

{% block title_suffix %} | {% trans "Sign Up" %}  {% endblock %}

{% block content %}
    <div id="main">
        <section class="page-section sign-up">
            <h1 class="center-text">{% block registration_title %}{% endblock %}</h1>
            <h2 class="center-text">{% block registration_subtitle %}{% endblock %}</h2>
            <div class="wrapper">
                {% block registration_content %}{% endblock %}
            </div>
        </section>
    </div>
{% endblock %}