<label for="{{ field.auto_id }}">{{ field.label }}:</label>
{{ field }}
{% if field.errors %}
    <span class="error">
        {% for error in field.errors %}
            {{ error }}
        {% endfor %}
    </span>
{% endif %}