{% extends "homepage/base.html" %}
{% load pagination_tags helper_tags i18n %}

{% block breadcrumbs %}
    {{ block.super }}
{% endblock %}

{% block content %}

  <div style=";">
    <div style="width:50%;float:left;display:inline-block;">
          <h3 class="title">Настройки</h3>
      </div>
      <div style="margin-left:50%;">
        <span style="display: block;overflow: hidden;">
      </div>
  </div>
  {% if error_message %}
  <br/>
  <div class="error">{{ error_message|safe }}</div>
  {% endif %}
  <br/>
  <br/>

  <div id="settings_details">
    <table cellspacing="0" class="stdAppTable">
        <tr>
            <th>
              Проверка уникальности регистрационного номера ЕХ
            </th>
            <th>
              Проверка уникальности регистрационного номера Документа
            </th>
            <th>
              Количество записей на страницу
            </th>
            <th></th>
        </tr>

        {% for settings in object_list %}
            <tr class="{% cycle 'odd' 'even' %}" id="{{ settings.id }}">
                <td>
                  <input type="checkbox"
                  {% if settings.item_unique %}
                         checked="checked"
                  {% endif %}
                   disabled
                  />
                </td>
                <td>
                  <input type="checkbox"
                  {% if settings.document_unique %}
                         checked="checked"
                  {% endif %}
                   disabled
                  />
                </td>
                <td>
                  {{ settings.paginate_by|default_if_none:'' }}
                </td>

                <td class="controls">
                    <a class="bt-edit" href="{% url 'storage:settings_edit' settings.id %}">
                       Изменить
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <div ng-app="archivistapp" class="wrapper ng-scope" id="archivistapp_wrap" ng-controller="TaskCtrl">
        <div class="preloader_container">
            <div ng-hide="hideme" class="preloader_padding">
                <div class="s1" id="preloader"></div>
            </div>
        </div>

        <form method="POST" action=".">
          <button name="reindex" ng-click="hideme=false">Переиндексировать поля поиска</button>
        </form>
    </div>

  </div>
{% endblock %}

