{%load static %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>{% block title %}ARChivist{% endblock %}</title>
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% static "img/apple-touch-icon-144-precomposed.png" %}" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static "img/apple-touch-icon-144-precomposed.png" %}" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static "img/apple-touch-icon-144-precomposed.png" %}" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static "img/apple-touch-icon-144-precomposed.png" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/home_page_style.css?bild=20140724" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/flags.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/dd.css" %}" />{% block styles %}{% endblock %}
    <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <!--[endif]---->
    <script type="text/javascript" src="{% static "js/jquery-1.9.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/modernizr.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.validate.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery-easing-1.3.js" %}"></script>
    <script type="text/javascript" src="{% static "js/waypoints.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.placeholder.1.3.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.mousewheel.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.carousel-1.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.bxslider.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.dd.js" %}"></script>
    <script type="text/javascript" src="{% static "js/animate-numbers.js" %}"></script>
    <script type="text/javascript" src="{% static "js/custom.js" %}?build=20141203"></script>
    {% block scripts %}{% endblock %}
</head>
<body{% block body_attr %}{% endblock body_attr %}>
    <div class="page-wrapper">
        {% include 'homepage/left_menu.html' %}
        {% include "homepage/base_header.html" %}
        <div id="main" class="{% if LANGUAGE_CODE == 'ru' %}ru_lang{% endif %}">
            {% block content %}{% endblock %}
        </div>
        <div class="page-buffer"></div>
    </div>
    {% include "homepage/base_footer.html" %}
</body>
</html>
