{% extends "homepage/base.html" %}
{% load i18n static %}

{% block title_suffix %} | {% blocktrans %} Data Confidentiality{% endblocktrans %}{% endblock %}

{% block meta_tags %}
{% endblock %}

{% block content %}
<section class="page-section">
    <div class="wrapper justify">
        <div class="right-thumbnail">
            <h1 class="center-text">{% blocktrans %}Data Confidentiality{% endblocktrans %}</h1>

            <div class="thumbnail">
                <img src="{% static "img/logo-security.png" %}">
            </div>
        </div>
    </div>
</section>
{% endblock %}
