{% load pagination_tags %}
    {% paginate %}
    <table cellspacing="0" class="stdAppTable">
        <tr>
            <th>ID</th>
            <th>Наименование</th>
            <th>Описание</th>
            <th>Состояние</th>
            <th></th>
        </tr>

        {% for d in object_list %}
            <tr class="{% cycle 'odd' 'even' %}" id="{{ d.id }}">
                <td>{{ d.id }}</td>
                <td>{{ d.name }}</td>
                <td>{{ d.description }}</td>
                <td>
                  {% if d.enabled %}
                    Активен
                  {% else %}
                    Не активен
                  {% endif %}
                </td>

                <td class="controls">
                    <a class="bt-edit" href="{% url 'storage:department_edit' d.id %}">
                       Изменить
                    </a>
                    <a class="bt-delete" href="{% url 'storage:department_delete' d.id %}">
                       Удалить
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% paginate %}
