{% extends "homepage/base.html" %}
{% load pagination_tags helper_tags i18n %}

{% block breadcrumbs %}
    {{ block.super }}
{% endblock %}

{% block content %}
<script type="text/javascript">
var item_id = {% if item_id %} {{ item_id }} {% else %} undefined {% endif %};
var doc_id = {% if doc_id %} {{ doc_id }} {% else %} undefined {% endif %};
var person_id = {% if person_id %} {{ person_id }} {% else %} undefined {% endif %};

window.onload = function() { 
    document.getElementById('doc').addEventListener('change', function() {
        var url = '?d=';
        doc_id = this.options[this.selectedIndex].value;

        if( doc_id != undefined) {
          url = url + '&doc=' + doc_id;
        }
        if( item_id != undefined) {
          url = url + '&item=' + item_id;
        }
        if( person_id != undefined) {
          url = url + '&person=' + person_id;
        }
        window.location = url;
    });
    document.getElementById('docnum').addEventListener('change', function() {
        var url = '?d=';
        docnum = this.options[this.selectedIndex].value;

        if( doc_id != undefined) {
          url = url + '&doc=' + doc_id;
        }
        if( item_id != undefined) {
          url = url + '&item=' + item_id;
        }
        if( person_id != undefined) {
          url = url + '&person=' + person_id;
        }
        window.location = url;
    });
    document.getElementById('itemnum').addEventListener('change', function() {
        var url = '?d=';
        item_id = this.options[this.selectedIndex].value;

        if( doc_id != undefined) {
          url = url + '&doc=' + doc_id;
        }
        if( item_id != undefined) {
          url = url + '&item=' + item_id;
        }
        if( person_id != undefined) {
          url = url + '&person=' + person_id;
        }
        window.location = url;
    });
    document.getElementById('item').addEventListener('change', function() {
        var url = '?d=';
        item_id = this.options[this.selectedIndex].value;

        if( doc_id != undefined) {
          url = url + '&doc=' + doc_id;
        }
        if( item_id != undefined) {
          url = url + '&item=' + item_id;
        }
        if( person_id != undefined) {
          url = url + '&person=' + person_id;
        }
        window.location = url;
    });
    document.getElementById('person').addEventListener('change', function() {
        var url = '?d=';
        person_id = this.options[this.selectedIndex].value;

        if( doc_id != undefined) {
          url = url + '&doc=' + doc_id;
        }
        if( item_id != undefined) {
          url = url + '&item=' + item_id;
        }
        if( person_id != undefined) {
          url = url + '&person=' + person_id;
        }
        window.location = url;
    });
};
</script>

<div ng-app="archivistapp" class="wrapper ng-scope" id="form_wrap" ng-controller="TaskCtrl">
    <h3 class="title">Создать Выдачу</h3>
    {% if error_message %}
    <br/>
    <div class="error">{{ error_message|safe }}</div>
    {% endif %}
    <br/>
    <br/>

    <form method="POST" action=".">
        <div class="block">
        <span id="doc_select">
            <label>
              Документ: Рег. №
            </label>
            <select name="docnum" id="docnum" style="width: 15em;">
                {% for doc in docnums %}
                <option value="{{ doc.0 }}"{% if doc_id == doc.0 %} selected {% endif %}/>
                {{ doc.1 }}</option>
                {% endfor %}
            </select>
              Наименование
            <select name="doc" id="doc" style="width: 20em;">
                {% for doc in docs %}
                <option value="{{ doc.0 }}"{% if doc_id == doc.0 %} selected {% endif %}/>
                {{ doc.1 }}</option>
                {% endfor %}
            </select>
        </span>
        <input type="text" id="docsearch" name="docsearch" ng-keyup="doc_keyup($event.which, 'doc_select')" autofocus value="{{ docsearch }}" placeholder="Искать документ" style="width: 30em;"/>
        </div>

        <div class="block">
        <span id="item_select">
            <label>
              &nbsp;&nbsp;  Единица хранения: Рег. №
            </label>
            <select name="itemnum" id="itemnum" style="width: 15em;">
                {% for item in itemnums %}
                  <option value="{{ item.0 }}"{% if item_id == item.0 %} selected {% endif %}/>
                  {{ item.1 }}</option>
                {% endfor %}
            </select>
              Наименование
            <select name="item" id="item" style="width: 20em;">
                {% for item in items %}
                  <option value="{{ item.0 }}"{% if item_id == item.0 %} selected {% endif %}/>
                  {{ item.1 }}</option>
                {% endfor %}
            </select>
        </span>
        <input type="text" id="itemsearch" name="itemsearch" ng-keyup="doc_keyup($event.which, 'item_select')" value="{{ itemsearch }}" placeholder="Искать ЕХ" style="width: 30em;"/>
        </div>

        </br>

        <div class="block">
        <label>
          Пользователь
        </label>
        <select name="person" id="person" style="width: 15em;">
            {% for per in pers %}
            <option value="{{ per.0 }}"{% if person_id == per.0 %} selected {% endif %}/>
            {{ per.1 }}</option>
            {% endfor %}
        </select>
        <input type="text" id="persearch" name="persearch" ng-keyup="doc_keyup($event.which, 'person')" value="{{ persearch }}" placeholder="Искать пользователя" style="width: 30em;"/>
        </div>

        </br>

        <div class="block">
        <label>
          Комментарий
        </label>
        <input type="text" id="comment" name="comment" style="width: 30em;"/>
        </div>
    </form>

    </br>

    <form method="POST" action=".">
        <div class="block">
        <label>Удалить</label>
        <input type="checkbox" name="remove_item" id="remove_item" />
        </div>

        <br/>
        <br/>

        <div class="button">
              <input type="submit" value="Добавить"/>
              <input type="hidden" id="add_item" name="add_item"/>
              <input type="hidden" id="doc" name="doc" value="{{ doc_id }}"/>
              <input type="hidden" id="item" name="item" value="{{ item_id }}"/>
              <input type="hidden" id="person" name="person" value="{{ person_id }}"/>
        </div>
    </form>
</div>
{% endblock %}
