{% load pagination_tags %}
    {% paginate %}
    <table cellspacing="0" class="stdAppTable">
        <tr>
            <th>Регистрационный №</th>
            <th>Наименование</th>
            <th>Комментарий</th>
            <th>Мобильная группа</th>
            <th>Ряд</th>
            <th>Секция</th>
            <th>Полка</th>
            <th>Место</th>
            <th>Пользователь</th>
            <th>Статус</th>
            <th></th>
        </tr>
        {% for mission in object_list %}
            {% for task in mission.task_set.all %}

            <tr {% if task.status == 'inprogress' %} style="font-weight: bold;"
                                    {% if task.id == next_task %}
                                            {% if mission.name == 'REMOVE' %} class="next_remove_task"
                                            {% else %}
                                                  class="next_task"
                                            {% endif %}
                                    {% else %}
                                            {% if mission.name == 'REMOVE' %} class="remove_task"
                                            {% endif %}
                                    {% endif %}
                {% else %} class="done_task"
                {% endif %}>

              {% if task.item %}
                {% with task.item as titem %}
                    <td>{{ titem.number }}</td>
                    <td>{{ titem.name|default_if_none:'' }}</td>
                    <td>{{ task.description|default_if_none:'' }}</td>

                    {% if titem.slot_set.count %}
                        {% for slot in titem.slot_set.all %}
                          <!--
                          if slot.state == 3
                          -->
                          {% if slot.state %}
                            {% with slot.shelf as shelf %}
                                {% with shelf.section.row as row %}
                                  <td>
                                      {{ row.rack.rack_group }}
                                      <br/>
                                      {% if row.rack.rack_group.blocker %}
                                        Заблокирован [{{ row.rack.rack_group.blocker }}]
                                      {% else %}
                                        Не блокирован
                                      {% endif %}
                                  </td>

                                  <td>
                                    {{ row }}
                                  </td>
                                {% endwith %}

                                <td>
                                  {{ shelf.section }}
                                </td>

                                <td>
                                  {{ shelf }}
                                </td>
                            {% endwith %}

                            <td>
                              {{ slot }}
                            </td>
                          {% endif %}
                        {% endfor %}
                    {% else %}
                        <td>
                          ...
                        </td>
                        <td>
                          ...
                        </td>
                        <td>
                          ...
                        </td>
                        <td>
                          ...
                        </td>
                        <td>
                          без места
                        </td>
                    {% endif %}
                {% endwith %}
              {% else %}
                  <td>
                    ---
                  </td>
                  <td>
                    ---
                  </td>
                  <td>
                    ---
                  </td>
                  <td>
                    ---
                  </td>
                  <td>
                    ---
                  </td>
              {% endif %}
              <!--
              endif task.item as titem
              -->
                  <td>
                    {{ task.owner }}
                  </td>

                  <td>
                    {{ task }}
                  </td>

                  <td class="controls">
                    {% if task.status == 'inprogress' %}
                      {% if 'itemin' in request.path %}
                        <a class="bt-delete" href="{% url 'api:intask_delete' task.id %}">
                      {% else %} 
                        <a class="bt-delete" href="{% url 'api:task_delete' task.id %}">
                      {% endif %}
                         Удалить</a>
                      {% else %} 
                      {% endif %}
                  </td>

                </tr>
            {% endfor %}
        {% endfor %}

    </table>
    {% paginate %}
