            <label>
              Документ: Рег. №
            </label>
            <select name="docnum" id="docnum" style="width: 15em;">
                {% for doc in docnums %}
                <option value="{{ doc.0 }}"{% if doc_id == doc.0 %} selected {% endif %}/>
                {{ doc.1 }}</option>
                {% endfor %}
            </select>
              Наименование
            <select name="doc" id="doc" style="width: 20em;">
                {% for doc in docs %}
                <option value="{{ doc.0 }}"{% if doc_id == doc.0 %} selected {% endif %}/>
                {{ doc.1 }}</option>
                {% endfor %}
            </select>
