{% extends "homepage/base.html" %}
{% load static pagination_tags helper_tags i18n %}

{% block breadcrumbs %}
    {{ block.super }}
{% endblock %}

{% block content %}
<script type="text/javascript">
function validate(form) {
    return confirm('Удаление задач невозможно, если есть выполненные задачи. Удалить задачи ?');
}
</script>

<div ng-app="archivistapp" class="wrapper ng-scope iterfaces" id="archivistapp_wrap" ng-controller="TaskCtrl">
  <div id="main_wrap"style="height: 70vh;">
      <div style=";">
        <div style="width:50%; float:left; display:inline-block;">
              <h3 class="title">Возврат / Размещение</h3>
          </div>
          <div style="margin-left:50%;">
            <span style="display: block;overflow: hidden;">
            <input type="text" id="search" style="width: 100%;" placeholder="Искать" ng-keyup="inlist_keyup($event.which)" /></span>
          </div>
      </div>
      {% if error_message %}
      <br/>
      <div class="error">{{ error_message|safe }}</div>
      {% endif %}
      <br/>
      <br/>

      <form method="POST" name="add" id="add" action =".">
          <div id="left" style="float: left; " class="button">
              <input type="submit" id="add_doc" value="Добавить"/>
          </div>
      </form>
      <form method="POST" name="print_pdf" id="print_pdf" action ="." target="_blank">
          <div class="button">
            <input type="submit" id="print_pdf" name="print_pdf" value="Печать в PDF"/>
          </div>
      </form>
      <form method="POST" name="add" id="add" action ="."  onsubmit="return validate(this);">
          <div id="right" style="float: right;" class="button">
            <input type="submit" id="remove_tasks" name="remove_tasks" value="Удалить все"/>
          </div>
      </form>

      <br/>
      <br/>

    <div id="task_details">
          {% include 'storage/task/details.html' %}
    </div>
  </div>

  <div id="panel_wrap" style="background: lightgrey; height: 10px;">
    <div class="wrapper ng-scope" id="operations_wrap" ng-controller="InstrumentsCtrl">
          <div class="preloader_container">
              <div ng-hide="hideme" class="preloader_padding">
                  <div class="s1" id="preloader"></div>
              </div>
          </div>

        {% for mission in object_list %}
            {% for task in mission.task_set.all %}
                {% if task.status == 'inprogress' %}
                      {% if task.id == next_task %}
          <div id="left" style="float: left; width: 40%; margin: 20px;"> 
            <input type="checkbox" {% if user.arcuser.send_command == 0 %} checked="checked" {% endif %} id="no_send_command" name="no_send_command" ng-click="set_no_send()"/>
            <label>Выполнить без передачи команды</label>
          </div>

          <div id="right" style="float: left; margin-top: 20px;">
                <div class="button">
                    <input type="hidden" id="run_item" name="run_item"/>
                    <input type="submit" value="{% if has_done %} Следущий {% else %} Выполнить {% endif %}" ng-click="run_mission_task('IN')"/>
                </div>
          </div>
                      {% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}
          <!--
          <div id="right" style="float: right; margin-top: 20px;">
                <div class="button">
                    <input type="hidden" id="unblock" name="unblock"/>
                    <button ng-click="unblock()">
                      Разблокировать
                    </button>
                </div>
          </div>
          -->
    </div>
</div>
{% endblock %}
