            <label>
              &nbsp;&nbsp;  Единица хранения: Рег. №
            </label>
            <select name="itemnum" id="itemnum" style="width: 15em;">
                {% for item in itemnums %}
                  <option value="{{ item.0 }}"{% if item_id == item.0 %} selected {% endif %}/>
                  {{ item.1 }}</option>
                {% endfor %}
            </select>
              Наименование
            <select name="item" id="item" style="width: 20em;">
                {% for item in items %}
                  <option value="{{ item.0 }}"{% if item_id == item.0 %} selected {% endif %}/>
                  {{ item.1 }}</option>
                {% endfor %}
            </select>
