        <select name="person" id="person" style="width: 15em;">
            {% for per in pers %}
            <option value="{{ per.0 }}"{% if person_id == per.0 %} selected {% endif %}/>
            {{ per.1 }}</option>
            {% endfor %}
        </select>

