                      <select name="item" id="id_item" style="width: 15em;">
                          {% for item in items %}
                          <option value="{{ item.0 }}" 
                          {% if request.GET.item == item.0 %} selected
                          {% elif item_id == item.0 %} selected
                          {% endif %}
                          />
                            {{ item.2 }}</option>
                          {% endfor %}
                      </select>
