{% load i18n static helper_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<style>
@font-face { font-family: DejaVu; src: url("/usr/share/fonts/truetype/dejavu/DejaVuSans.ttf"); }
@page {size: a4 portrait; @frame header_frame {-pdf-frame-content: header_content; left: 50pt; width: 512pt; top: 50pt; height: 40pt;} @frame content_frame { left: 50pt; width: 512pt; top: 90pt; height: 632pt;} @frame footer_frame { -pdf-frame-content: footer_content; left: 50pt; width: 512pt; top: 772pt; height: 20pt;}}

</style>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% static "img/apple-touch-icon-144-precomposed.png" %}" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static "img/apple-touch-icon-144-precomposed.png" %}" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static "img/apple-touch-icon-144-precomposed.png" %}" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static "img/apple-touch-icon-144-precomposed.png" %}" />
    <link rel="stylesheet" type="text/css"
          href="{% static "css/reset.css" %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static "css/layout.css" %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static "css/jquery-ui.css" %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static "css/jquery.dataTables.min.css" %}"/>
    <!--[if IE 6]>
        <script src="{% static "js/pngfix.js" %}"></script>
        <script>DD_belatedPNG.fix('.fixThis');</script>
    <![endif]-->
    <script type="text/javascript"
            href="{% static "js/jquery-1.12.4.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jq-1.4.2.js" %}"></script>
    <script type="text/javascript"
            src="{% static "js/jquery-ui-1.8.4.js" %}"></script>
    <script type="text/javascript"
            src="{% static "js/jquery.uniform.min.js" %}"></script>
    <script type="text/javascript"
            src="{% static "js/jquery.formset.js" %}"></script>
    <script type="text/javascript"
            src="{% static "js/jquery.dataTables.min.js" %}"></script>
    <!--
    -->
    <script type="text/javascript"
            src="{% static "js/angular.min.js" %}"></script>
    <script type="text/javascript"
            src="{% static "js/mask.js" %}"></script>
    <script type="text/javascript"
            src="{% static "js/sitescript.js" %}?build=20141111"></script>
    <script type="text/javascript"
            src={% static "js/storage/operations.js" %}></script>
    <script type="text/javascript"
            src="{% static "preloader.js" %}"></script>

    {% block specific_css %}{% endblock %}
    {% block specific_js_scripts %}{% endblock %}
    {% block extra_head %}{% endblock %}
    <title>Архивист Проф</title>
</head>

<body style="overflow: hidden;">
{% load i18n %}

<div id="container">
    <div id="header">
        <a href="{% url 'homepage' %}" id="logo" class="fixThis"></br></br></a>

        {% if LICENSE %}
        <div class="right">
            <span class="userInfo">
              <span class="dateTime">
                {% now "j-M-y H:i T" %}
              </span>
              &nbsp;
              &nbsp;
              &nbsp;
              <strong>
                {{ user }} [{{ user.id }}:{{ user.arcuser.role }}]
              </strong>
              {% if user.is_authenticated %}
            </span>

            <script type="text/javascript">
              function goto_logout() {
                window.location = "/logout/?path=" + document.location.pathname;

              }
            </script>
                <div class="button">
                  <form enctype="application/x-www-form-urlencoded" method="POST" action="/logout/?path={{ request.path }}">
                    <table>
                        <!--input type="button" value="Выйти" onClick="goto_logout()"/-->
                        <input type="submit" value="Выйти"/>
                    </table>
                  </form>
                </div>
                {% endif %}
            <div class="clear"></div>
        </div>
        {% endif %}
        <div class="clear"><!--//--></div>
    </div>

{% block main %}
    {% if LICENSE or 'reports' in request.path %}
        {% if user.is_authenticated %}
            <div id="wrapper" style="overflow:hidden;">

              <div id="menuLeft" style="float:left; background: grey; width: 20%;">
                  {% include 'homepage/left_menu.html' %}
              </div>

              <div id="cont" style="margin-left: 21%; ">
                  <div class="content">
                      {% block content %}{% endblock %}
                  </div>
              </div>

              <div class="clear"></div>
            </div>
        {% else %}
            <script type="text/javascript">
              function goto_login() {
                window.location = "/login/";
              }
            </script>

            <div class="button">
              <form enctype="application/x-www-form-urlencoded" action="/login/" method="GET" >
                    <input type="button" value="Войти" onClick="goto_login()"/>
              </form>
              <noscript>
                <a href="/login/">Войти
                </a>
              </noscript>
            </div>

            <br/>
            <br/>
        {% endif %}
    {% else %}
        <center>
        <h3 class="error">Приложение не лицензировано</h3>
        <br/>
        <br/>

        <div ng-app="archivistapp" class="wrapper ng-scope" id="archivistapp_wrap" ng-controller="TaskCtrl">
        <form id="license_add" action="{% url 'users:license_create' %}" method="post">
            {% csrf_token %}
            <input type="text" ng-model="name3" clean="true" name="license" id="license" maxlength=20 ui-mask="****-****-****-****-****" style="text-transform: uppercase;" autofocus/>
            <!--
            placeholder="Ввести код лицензии"/>
            -->
            <div class="button">
                <input type="submit" value="Подтвердить">
            </div>
        </form>
        </div>
        </center>

        <br/>
        <br/>
    {% endif %}
{% endblock %}

<div id="message_panel" style="height: 5vh;">
</div>

{% include 'homepage/base_footer.html' %}
</div>

{% block endofbody %}{% endblock %}
</body>
</html>
