{% load i18n static %}
{% url 'homepage' as url_homepage %}
<header id="header">
    <div class="wrapper">
        <div id="right-side">
            <div id="top-bar">
                <div id="user-nav">
                    {% if user.is_authenticated %}
                        <a href="{% url 'control_panel:dashboard' %}">
                            {% blocktrans with login=user.username %}Go to CP ({{ login }}){% endblocktrans %}
                        </a>
                        <a href="{% url 'logout' %}">
                            {% trans "Sign out" %}
                        </a>
                    {% else %}
                        <a id="login-link" href="#sign_in"><i class="icon icon-lock">&nbsp;</i><span>{% trans "sign in" %}</span></a>
                        <a href="{% url 'create_account' %}">{% trans "Create new account" %}</a>
                        <div id="login-form" class="form">
                            <form enctype="application/x-www-form-urlencoded" method="POST" action="{% url 'login' %}">
                                {% csrf_token %}
                                <div>
                                    <a class="close-btn" href="#"></a>
                                    <div class="clear"></div>
                                </div>
                                <div class="row">
                                    <input type="text" name="username" placeholder="{% trans "Login" %}" style="color: rgb(0, 0, 0);">
                                </div>
                                <div class="row">
                                    <input type="password" name="password" placeholder="{% trans "Password" %}">
                                </div>
                                <div class="row">
                                    <input type="submit" value="{% trans "Log in" %}">
                                </div>
                            </form>
                        </div>
                        {% endif %}
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</header>
