{% extends "homepage/base.html" %}
{% load i18n static %}

{% block content %}
    <div class="error-container">
        <h1>{% block error_title %}{% endblock %}</h1>
        {% block error_content %}{% endblock %}
        <a href="{% url 'homepage' %}"><img class="error-img" src="{% static "img/404-img.png" %}"></a>
    </div>
    {% if PRODUCTION %}{% include "yandex-metrika.html" %}{% endif %}
{% endblock %}