{% load crispy_forms_field %}

{% if field.is_hidden %}
    {{ field }}
{% else %}
{%  if field|is_checkbox %}
    {{ field }}
    <label for="{{ field.id_for_label }}">{{ field.label }}:{% if field.field.required %}*{% endif %}</label>
{% else %}
    <label for="{{ field.id_for_label }}">{{ field.label }}:{% if field.field.required %}*{% endif %}</label>
    {{ field }}
{% endif %}
    {% if field.errors %}
        <div for="id_{{ field.id_for_label }}" class="error">{{ field.errors }}</div>
    {% endif %}
    {% if field.help_text %}
        <span>{{ field.help_text }}</span>
    {% endif %}
{% endif %}
