{% extends "homepage/base.html" %}
{% load i18n static %}

{% block meta_tags %}
{% endblock %}

{% block body_attr %} class="home" {% endblock body_attr %}

{% block content %}
<section class="page-section vector-bg">
    <h3>Главная</h3>
    <div class="wrapper">
    </div>
</section>
<section class="page-section vector-bg">
{% endblock %}
