<div class="blockGrey side">
    <div class="top">
        <div class="bot">
            <div class="content">
                {% block left_side_item %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
