{% extends 'homepage/left_menu_block.html' %}
{% load i18n %}
{% block left_side_item %}

<div id="wrapper-200a">
  <ul class="accordion">
   <li id="one" class="subaccordion0">
     <section class="superbox">
       <label class="box-supertitle" >Перемещение единиц хранения</label>
     </section>
   </li>
   
   <li id="two" class="subaccordion1">
     <input type="radio" name="accordeon" id="sa1">
     <section class="box">
       <label class="box-title" for="sa1">Перемещение единиц хранения</label>
       <label class="box-close" for="close"></label>
     </section>
    <ul class="sub-menu sa1">
      <li><a href="/storage/client/"><em>01</em>Группы<span>{{ em }}</span></a></li>
      <li><a href="/storage/item/"><em>02</em>Единицы хранения<span>{{ em }}</span></a></li>
      <li><a href="/storage/document/"><em>03</em>Документы<span>{{ em }}</span></a></li>
      <li><a href="/storage/my_issued_items/"><em>04</em>Мои выданные единицы<span>{{ em }}</span></a></li>
    </ul>
   </li>
   
   {% if user.arcuser.role|stringformat:"i" in '1,2,3'|slice:',' %}

   <li id="three" class="subaccordion2">
     <input type="radio" name="accordeon" id="sa2">
     <section class="box">
       <label class="box-title" for="sa2">Задачи</label>
       <label class="box-close" for="close"></label>
     </section>
    <ul class="sub-menu sa2">
      <li><a href="/storage/itemout/"><em>01</em>Выдача<span>{{ em }}</span></a></li>
      <li><a href="/storage/itemin/"><em>02</em>Возврат / Размещение<span>{{ em }}</span></a></li>
    </ul>
   </li>

   {% endif %}
   
   {% if user.arcuser.role|stringformat:"i" in '1,2,3,4'|slice:',' %}

   <section class="superbox">
     <label class="box-supertitle">Система</label>
   </section>

   {% endif %}

   {% if user.arcuser.role|stringformat:"i" in '1'|slice:',' %}

   <li id="five" class="subaccordion4">
     <input type="radio" name="accordeon" id="sa4">
     <section class="box">
       <label class="box-title" for="sa4">Справочники</label>
       <label class="box-close" for="close"></label>
     </section>
    <ul class="sub-menu sa4">
      <li><a href="/storage/department/"><em>01</em>Отдел<span>{{ em }}</span></a></li>
      <li><a href="/storage/rack/"><em>02</em>Ряды<span>{{ em }}</span></a></li>
      <li><a href="/storage/client_type/"><em>03</em>Тип группы<span>{{ em }}</span></a></li>
      <li>
      <a href="/storage/rackgroup/"><em>04</em>Мобильные группы</a>
      </li>
      <li><a href="/storage/item_type/"><em>05</em>Тип единицы хранения<span>{{ em }}</span></a></li>
      <li><a href="/storage/document_type/"><em>06</em>Тип документа<span>{{ em }}</span></a></li>
      <li><a href="/storage/retention_policies/"><em>07</em>Периоды хранения<span>{{ em }}</span></a></li>
    </ul>
   </li>

   <li id="six" class="subaccordion5">
     <input type="radio" name="accordeon" id="sa5">
     <section class="box">
       <label class="box-title" for="sa5">Авторизация</label>
       <label class="box-close" for="close"></label>
     </section>
    <ul class="sub-menu sa5">
      <li><a href="/users/"><em>01</em>Пользователи</a></li>
    </ul>
   </li>
   {% endif %}

   {% if user.arcuser.role|stringformat:"i" in '1,2,4'|slice:',' %}
   <li id="seven" class="subaccordion6">
     <input type="radio" name="accordeon" id="sa6">
     <section class="box">
       <label class="box-title" for="sa6">Отчеты</label>
       <label class="box-close" for="close"></label>
     </section>
    <ul class="sub-menu sa6">
      <li><a href="{% url 'reports:rem-items' %}"><em>01</em>По уничтожаемым единицам</a></li>
      <li><a href="{% url 'reports:storage-items'%}"><em>02</em>По единицам хранения</a></li>
    </ul>
   </li>
   {% endif %}

   <section class="superbox">
     <label class="box-supertitle">Настройки</label>
   </section>

   <li id="eight" class="subaccordion7">
     <input type="radio" name="accordeon" id="sa7">
     <section class="box">
       <label class="box-title" for="sa7">Мои Настройки</label>
       <label class="box-close" for="close"></label>
     </section>
     {% if user.arcuser.role|stringformat:"i" in '1'|slice:',' %}
        <ul class="sub-menu sa7">
          <li><a href="/users/profile/{{ user.id }}"><em>01</em>Мой профиль</a></li>
          <li><a href="/storage/settings/"><em>01</em>Системные</a></li>
        </ul>
     {% else %}
        <ul class="sub-menu sa8">
          <li><a href="/users/profile/{{ user.id }}"><em>01</em>Мой профиль</a></li>
        </ul>
     {% endif %}
   </li>
     <input type="radio" name="accordeon" id="close">
  </ul>
  
 </div>

{% endblock %}
