/*Default Styles*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
line-height: 1;
font-family: Arial;
font-size: 12px;
color:#3a3c42;
background: #fff;
position: relative;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
u{
    text-decoration:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
b {
    font-weight: bold;
    color: #000;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Arial;
    color: inherit;
    margin-bottom: 10px;
    font-weight: normal;
    line-height: 1;
    color: #3a3c42;
}
h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    line-height: 50px;
    font-weight: 500;
    margin-bottom: 18px;
    margin-top: 0;
}
h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 30px;
    padding-top: 13px;
    margin-bottom: 20px;
}
h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 20px;
}
h4 {
    font-size: 18px;
    margin-bottom: 18px;
}
h5 {
    font-size: 15px;
    font-weight: bold;
    line-height: 1.5;
}
h6 {
    font-size: 13px;
    font-weight: bold;
    line-height: 1.5;
}

strong{
    font-weight: bold;
}
em{
    font-style: italic;
}
a {
    color: #7da4b9;
    text-decoration: underline;
    font-family: Arial;
}
a:hover, .current a{
    color: #9096a5;
    text-decoration: none;
}
p {
    font: 13px/1.5 Arial;
    color: #3a3c42;
    margin: 0 0 23px;
}
#contact-form .control-group {
        margin-bottom: 8px;
    }
    #contact-form .help-block {
        font-style: italic;
    }
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.mh98 {min-height: 98px;}
/*General Styles*/

.page-wrapper {
    min-height: 100%;
    margin-bottom: -118px;
    position: relative;
}

.page-buffer {
    height: 118px;
}

* html .page-wrapper {
    height: 100%;
}

.wrapper{
    max-width:970px;
    margin:0 auto;
}
#main{
    background: url(../img/content-shadow.png) center top no-repeat;
    margin-top: 97px;
    min-height: 553px;
}
.page-section{
    position: relative;
    padding-top: 28px;
    padding-bottom: 25px;
    -webkit-box-shadow:inset 0 3px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:inset 0 3px 3px rgba(0, 0, 0, 0.1);
    box-shadow:inset 0 3px 3px rgba(0, 0, 0, 0.1);
}
#content{
    width: 610px;
}
#content.single{
    width: 100%;
}
.page-section.sign-up h1 {
    margin-bottom: 0;
}
.page-section.sign-up h2 {
    color: #777;
    font-size: 21px;
    padding: 5px 0 0 0;
    margin: 0 auto 20px;
}
.page-wrapper .anchor {
    display: block;
    height: 11px;
    position: absolute;
    top: -97px;
}
.page-section .alert-success{
    background-color: #dff0d8;
    color: #3c763d;
    padding: 10px 20px;
    margin-bottom: 20px;
    overflow: hidden;
    display: block;
    border: 1px #d6e9c6 solid transparent;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}
.page-section .wrapper{
    position: relative;
    overflow: hidden;
}
.page-section.statistic .wrapper {
    overflow: inherit;
}
.page-section.vector-bg{
    background: url(../img/index-bg-1.png) left 55% bottom 190px no-repeat;
}
.page-section.vector-bg-2{
    background: url(../img/index-bg-2.png) center -34px no-repeat;
}
.page-section.vector-bg3{
    background: url(../img/index-bg-1.png) center bottom 209px no-repeat;
}
.page-section.gray-bg{
    background: url(../img/gray-bg.png) center top repeat-y #e1e7ed;
    -webkit-box-shadow:inset 0 3px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:inset 0 3px 3px rgba(0, 0, 0, 0.2);
    box-shadow:inset 0 3px 3px rgba(0, 0, 0, 0.2);
}
.page-section.gray-bg-2{
    background: url(../img/gray-bg-2.png) center top repeat-y #c8d0d8;
}
.page-section.promo{
    background: url(../img/promobox-bg.jpg) center top repeat-y #e1e7ed;
    text-align: center;
}
.page-section.contact .wrapper{
    background: url(../img/contact-section-bg.png) right bottom no-repeat;
}
.page-section.contact #contact-form{
    margin-right: 20px;
    width: 553px;
}
.page-section.contact-page .alert-success{
    display: block;
}
.page-section.contact .contact-info{
    float: right;
    padding: 10px 0;
    width: 315px;
    margin-left: 30px;
}
.page-section.contact .contact-info span{
    display: block;
    font-weight: bold;
    font-size: 15px;
    color: #000;
    margin-bottom: 20px;
}
#animated-logo{
    text-align: center;
    width: 295px;
    height: 295px;
    margin: 63px auto 0;
    position: relative;
}
#animated-logo .animated-block{
    position: absolute;
    width:100%;
    height: 100%;
    bottom: 0;
    left: 0;
    opacity: 0;
}
#animated-logo .animated-block#animation-1{
    background: url(../img/animated-logo-1.png) left top no-repeat;
}
#animated-logo .animated-block#animation-2{
    background: url(../img/animated-logo-2.png) left top no-repeat;
}
#animated-logo .animated-block#animation-3{
    background: url(../img/animated-logo-3.png) left top no-repeat;
}
#sidebar{
    width:305px;
    float:right;
    padding: 0 0 20px 20px;
}
.row{
    margin-bottom: 15px;
    overflow: hidden;
}
.left-col{
    float: left;
    width:48%;
}
.right-col{
    float: right;
    width:48%;
}
.one-third{
    float: left;
    width: 32%;
    margin-left: 2%;
}
.one-third:first-child{
    margin-left: 0;
}

.one-fourth{
    width:22%;
    float: left;
    margin-left: 3%;
}
.one-fourth:first-child{
    margin-left: 0;
}
.one-fifth{
    width: 19.8%;
    float: left;
}
.one-sixth{
    width: 16.5%;
    float: left;
}
.one-seventh{
    width: 14.1%;
    float: left;
}
/*Header*/
#header{
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    height: 77px;
    left: 0;
    padding: 10px 0;
    position: fixed;
    text-align: left;
    top: 0;
    width: 100%;
    z-index: 9399;
}
#header, #sticky-header{
    padding: 10px 0 10px;
    background: #fff;
}
#logo{
    display: table-cell;
    vertical-align: top;
    padding-top: 10px;
    width: 275px;
    float: left;
}
#logo h1{
    margin: 0;
}
#right-side{
    display: table-cell;
    float: right;
    max-width: 670px;
    vertical-align: top;
    width: 70%;
}
#top-bar{
    margin-bottom: 27px;
}
#lang-nav{
    float: left;
    position: relative;
    margin-top: -5px;
    margin-left:-10px;
}
#lang-nav .inner-lang {
    background: #fff;
    position: absolute;
    z-index: 10;
    width: 150px;
    padding: 5px 10px 0;
}
#lang-nav .inner-lang.opened{
    -webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 2px 8px rgba(0,0,0,0.4);
    box-shadow: 0 2px 8px rgba(0,0,0,0.4);
}
#lang-nav .inner-lang a.active{
    margin-bottom: 13px;
    display: block;
    text-decoration:none;
}
#lang-nav .inner-lang a.active span{
    border-bottom:1px dotted;
}
#lang-nav .inner-lang a.active .toggle-arrow{
    border-bottom:none;
    display: inline-block;
    margin-left: 5px;
    width:7px;
    height: 5px;
    background: url(../img/toggle-arrow.png) left top no-repeat;
}
#lang-nav .inner-lang a.active .toggle-arrow.active{
    background-position: left -19px;
}
#lang-nav .inner-lang ul {
    display: none;
}
#lang-nav .inner-lang ul li{
    margin-bottom: 13px;
}
#user-nav{
    float: right;
    position: relative;
}
#user-nav a{
    display: inline-block;
    margin-left: 20px;
    line-height: 14px;
}
#user-nav #login-link{
    text-decoration:none;
}
#user-nav #login-link span{
     border-bottom: 1px dotted;
}
#primary-nav{
    position: relative;
}
#primary-nav #open-mobile{
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
    width:40px;
    height: 40px;
    background: url(../img/menu_drop.png) center center no-repeat;;
    font-size: 0;
    text-decoration: none;
    text-indent: -9999px;
}
#primary-nav #open-mobile:hover{
    color: #fea30b;
}
#primary-nav ul li{
    display: inline-block;
    margin-left: 10px;
}
#primary-nav ul li a{
    display: block;
    padding: 10px 8px 15px;
}
#primary-nav ul li:first-child{
    margin-left: 0;
}
#primary-nav ul li:first-child a{
    padding-left: 0;
}
#primary-nav ul li.last  a{
    padding-right: 0;
}

#primary-nav ul li a{
    color: #3a3c42;
    text-decoration: none;
    text-transform: uppercase;

}
#primary-nav > ul > li > a.current {
    color: #fea30b;
}
#primary-nav ul li a:hover{
    color: #fea30b;
}
#primary-nav ul li.has-menu a.link{
}
#primary-nav ul li.has-menu a.link.active{
    background: #fff;
    z-index: 99999;
    position: relative;
    -webkit-box-shadow: 0 -2px 3px -1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 -2px 3px -1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 -2px 3px -1px rgba(0, 0, 0, 0.3);
}
#primary-nav ul li .submenu a{
    display: inline;
    padding: 0;
}
#primary-nav ul li .submenu{
    width: 100%;
    min-width: 685px;
    display: none;
    left: -70px;
    top:35px;
    position: absolute;
    border:1px solid #ced0d6;
    border-bottom:1px solid #fff;
    z-index: 9999;

    -webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 3px 5px rgba(0,0,0,0.4);
    box-shadow: 0 3px 5px rgba(0,0,0,0.4);

    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 45%, rgba(234,235,237,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(45%,rgba(255,255,255,1)), color-stop(100%,rgba(234,235,237,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 45%,rgba(234,235,237,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 45%,rgba(234,235,237,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 45%,rgba(234,235,237,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 45%,rgba(234,235,237,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaebed',GradientType=0 ); /* IE6-9 */

}
#primary-nav ul li .submenu .inner{
    padding: 25px 23px;
}
#primary-nav ul li .submenu h4{
    margin-bottom: 10px;
}
#primary-nav ul li .submenu h4 a{
    /*color: #fea30b;*/
    text-decoration:underline;
}
#primary-nav ul li .submenu p{
    margin-bottom: 10px;
}
#primary-nav ul li .submenu .divider{
    height: 2px;
    background: #d4d6d9;
    margin: 20px 0 20px;
}
#primary-nav ul li .submenu .scroll-menu{
    float: left;
    width: 350px;
    border-right: 1px solid #e6e8e9;
    padding-right: 5px;
}
#primary-nav ul li .submenu .scroll-menu .menu-item{
    padding:0 0 0 90px;
    background-position: 0 0;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}
#primary-nav ul li .submenu .scroll-menu .menu-item.last{
    margin-bottom: 0;
}
#primary-nav ul li .submenu .scroll-menu a {
    text-transform: none;
    font-weight: 500;
    text-decoration:underline;
    line-height: 1.3;
}
#primary-nav ul li .submenu .additional-menu a{
    text-transform: none;
    font-weight: 500;
    line-height: 1;
    text-decoration:underline;
}
#primary-nav ul li .submenu .scroll-menu a:hover,
#primary-nav ul li .submenu .additional-menu a:hover{
    color: #fea30b;
    text-decoration:none;
}
#primary-nav ul li .submenu .additional-menu{
    float: left;
    width: 260px;
    padding-left: 20px;
    border-left:1px solid #fff;
}
#primary-nav ul li .submenu .additional-menu ul li{
    margin-bottom: 10px;
    margin-left: 0;
    color:#b1b4ba;
    line-height: 1.3;
}
#primary-nav ul li .submenu .additional-menu ul li:last-child{
    margin-bottom: 0;
}
#primary-nav ul li .submenu .additional-menu h6{
    padding-top: 10px;
}
#primary-nav ul li .submenu .additional-menu .promo-btn{
    font-size: 17px;
    color:#fff;
    /*text-transform: uppercase;*/
    font-weight: 400;
    padding: 7px 10px 7px 10px;
    text-align:center;
    display: block;
    text-decoration: none;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}
#primary-nav ul li .submenu .additional-menu .promo-btn:hover{
    color: #fff;
}
#primary-nav ul li .submenu  .additional-menu p span.desc{
    color: #7e828c;
}
#sticky-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 9399;
    opacity: 0;
    visibility: hidden;
    text-align: left;
    -webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 3px 5px rgba(0,0,0,0.4);
    box-shadow: 0 3px 5px rgba(0,0,0,0.4);
    -webkit-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -ms-transition: opacity 0.4s;
    transition: opacity 0.4s;
}
/*Section Styles*/
.callout{
    padding: 51px 0 40px;
}
.callout h1{
    font-weight: 600;
    margin-top: 13px;
}
.ru_lang .callout h1, .ru_lang .main_text {
    font-weight: 500 !important;
}
.callout p{
    font-size: 18px;
    line-height: 1.3;
    /*color: #7e828c;*/
    margin-bottom: 10px;
}
.callout .links-box{
    padding: 10px 0 0;
}
.callout .links-box a{
    display: inline-block;
    margin: 0 25px;
    font-size: 15px;
}
.home .callout .links-box a{
    font-size: 15px;
}
.right-thumbnail .thumbnail {
    width: 150px;
    float: right;
    margin: 0 0 20px 40px;
}
.right-thumbnail .thumbnail img{
    width: 100%;
}
.right-thumbnail .text {
/*
    max-width: 720px;
    float: left;
*/
}
.featured-block .featured-image,
.featured-container .featured-image {
    float: left;
}
.featured-block h6, .featured-container h6{
    margin-bottom: 5px;
}
.featured-block .drop-shadow, .featured-container .drop-shadow{
    display: block;
    height: 16px;
    width: 130px;
    margin-left: -22px;
    margin-top: 10px;
    background: url(../img/featured-shadow.png) center center no-repeat;
}
.featured-block .description {
    padding-left: 108px;
}
#worldmap-areas{
    position: relative;
    margin-bottom: 30px;
}
#worldmap-areas .info{
    position: absolute;
    bottom: 20px;
    left: 0;
}
#worldmap-areas .info p{
    margin-bottom: 10px;
    font-size: 12px;
}
#worldmap-areas .info .orange{
    background: #fea30b;
    width: 10px;
    height: 10px;
    border:1px solid #fff;
    display: inline-block;
    margin-right: 5px;
    margin-top: 2px;
}
#worldmap-areas .info .blue{
    background: #71c6e6;
    width: 10px;
    height: 10px;
    border:1px solid #fff;
    display: inline-block;
    margin-right: 5px;
    margin-top: 2px;
}
#worldmap-areas img{
    width: 100%;
}
#worldmap-areas .info-popup{
    position: absolute;
}
#worldmap-areas .info-popup .inner{
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 2px 1px rgba(0,0,0,0.3);
    box-shadow: 0 1px 2px 1px rgba(0,0,0,0.3);
}
#worldmap-areas .info-popup .inner a{
    padding: 10px 10px 5px;
    display: block;
    width: 175px;
    height: 55px;
}
#worldmap-areas .info-popup .corner{
    width:37px;
    height: 21px;
    background: url(../img/corners.png) -35px -24px no-repeat;
    position: absolute;
    right: -26px;
    bottom: -15px;
}
#worldmap-areas .info-popup.left-bottom .corner{
    left: -26px;
    bottom: -15px;
    background-position: 0 -24px;
}
#worldmap-areas .info-popup.left-top .corner{
    left: -26px;
    top: -16px;
    background-position: 0 -2px;
    z-index: 1;
}
#worldmap-areas .info-popup.right-top .corner{
    right: -26px;
    top: -15px;
    background-position: -37px -3px;
}
#worldmap-areas #czech-popup{
    left:280px;
    top:11px;
}
#worldmap-areas #poland-popup{
    left:535px;
    top:5px;
}
#worldmap-areas #russia-popup{
    left:770px;
    top:-10px;
}
#worldmap-areas #slovakia-popup{
    left: 535px;
    top: 110px;
}
#worldmap-areas #spain-popup{
    left: 230px;
    top: 138px;
}
#worldmap-areas .info-popup h6{
    font-size: 11px;
    line-height: 12px;
}
#worldmap-areas .info-popup p{
    font-size: 11px;
    line-height: 11px;
    margin-bottom: 5px;
}
#worldmap-areas .info-popup p.middle {
    vertical-align: middle;
    display: table-cell;
    height: 23px;
}
#worldmap-areas .info-popup a{
    text-decoration:none;
}
.white-box{
    background: url(../img/whitebox-bg.png) center top repeat-y transparent;
    padding: 10px 0;
    margin-bottom: 30px;
    -webkit-box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.3);
}
.white-box p{
    margin-bottom: 10px;
    padding-top: 0;
}
.white-box img{
    margin-right: 30px;
}
.white-box-small{
    position: relative;
    display: table;
    width: 100%;
    background: url(../img/whitebox-small-bg-middle.png) center top repeat-y transparent;
    padding: 10px 0;
    margin-top: 30px;
    margin-bottom: 10px;
}
.white-box-small:before{
    content: '';
    position: absolute;
    top: -11px;
    left:0;
    width:100%;
    height: 16px;
    background: url(../img/whitebox-small-bg-top.png) center top no-repeat transparent;
}
.white-box-small:after{
    content: '';
    position: absolute;
    bottom: -11px;
    left:0;
    width:100%;
    height: 16px;
    background: url(../img/whitebox-small-bg-bottom.png) center top no-repeat transparent;
}
.white-box-small p{
    font-size: 18px;
    margin-bottom: 0;
    display: table-cell;
    vertical-align: middle;
}
.chart-box p{
    font-size: 15px;
}
.pie-area{
    padding: 0 75px;
}
.pie-area .pie-container,
.pie-area .left-side,
.pie-area .right-side{
    display: table-cell;
    vertical-align: middle;
}
.pie-area .pie-container{
    padding: 0 70px;
}
.pie-area .left-side,
.pie-area .right-side{
    width:180px;
    text-align: left;
}
.pie-area .left-side p,
.pie-area .right-side p{
    font-size: 18px;
    color: #7E828C;
    text-align: center;
}
.pie-area div.big{
    font-size: 80px;
    font-weight: bold;
    text-align: center;
}
#stats-box{
    margin-bottom: 30px;
}
#stats-box h4{
    line-height: 38px;
    margin-bottom: 5px;
    font-size: 15px;
}
#stats-box .percentage{
    width:30px;
    float: right;
    line-height: 17px;
}
#stats-box ul{
    padding-top: 10px;
}
#stats-box ul li{
    margin-bottom: 10px;
}
#stats-box .bar{
    height: 17px;
    line-height: 17px;
    position: relative;
    margin-right: 35px;
}
#stats-box .bar small{
    position: absolute;
    left:5px;
}
#stats-box .bar .fill{
    display: block;
    height: 17px;
    background: #FEA30B;
    width:0;
    transition: width 1s linear;
    -moz-transition: width 1s linear;
    -webkit-transition: width 1s linear;
    -o-transition: width 1s linear;
}
.testimonials{
    background: #fff;
    padding: 0 0 20px;
}
.testimonials blockquote{
    background: url(../img/quote.png) left top no-repeat;
    padding-left: 35px;
    font-size: 13px;
    line-height: 1.5;
    margin-bottom: 15px;
}
.testimonials .author{
    padding-left: 35px;
    color: #7e828c;
}
#search-clients{
    padding-top: 30px;
}
.toggle-box, .accordion-box {
    padding: 0;
}
.accordion-box .toggle-container{
    cursor: pointer;
}
.toggle-box .toggle-container, .accordion-box .toggle-container{
    text-align: center;
    height: 150px;
    overflow:hidden;
    border-left:1px solid #c0c6ce;
}
.toggle-box .toggle-container .toggle, .accordion-box .toggle-container .toggle{
    height: 150px;

    padding:0 8px;
}
.toggle-box .toggle-container:first-child, .accordion-box .toggle-container:first-child{
    border:none;

}
.toggle-box .toggle img, .accordion-box .toggle img{
    margin-bottom: 10px;
}
.toggle-box .toggle figcaption, .accordion-box .toggle figcaption{
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 10px;
}
.toggle-box .toggle p, .accordion-box .toggle p{
    line-height: 1.3;
}
#round-slider-area{
    padding-top: 30px;
}
#round-slider-area .info-text{
    padding-left: 15px;
    margin-left: 720px;
    position: relative;
}
.round-slider{
    position :relative ;
    width :720px;
    height :auto;
    border :none;
    overflow : hidden ;
    float: left;
}
.round-slider .slides{
    margin :0 40px;
    padding :0;
    border :none;
    list-style :none;
    position :relative ;
    overflow :visible ;
}
.round-slider .slides .slideItem {
	position :absolute ;
	cursor :pointer ;
	overflow : hidden;
	padding : 29px 0 0;
	margin :0;
	border :none;
        background: url(../img/round-slider-bg.png) left top no-repeat white;
        background-size: contain;
        -webkit-box-shadow: 0 2px 5px 1px rgba(0,0,0,0.3);
        -moz-box-shadow: 0 2px 5px 1px rgba(0,0,0,0.3);
        box-shadow: 0 2px 5px 1px rgba(0,0,0,0.3);
}
.round-slider .slides .slideItem a{
	display: block ;
	text-decoration :none;
	margin :0;
	padding :0;
	border :none;
	outline :none;
}
.round-slider .slides .slideItem img{
	margin :0;
	padding :0;
	border :none;
	width :100%;
	height :100%;
}
.round-slider .nextButton
{
	position :absolute ;
	right :10px;
	top :230px;
	width :20px;
	height :36px;
	background : url("../img/slider-arrow.png") -24px 0 no-repeat;
	cursor :pointer ;
	z-index :999;
}
.round-slider .nextButton:hover{
    background-position: -24px -39px;
}
.round-slider .prevButton{
	position :absolute ;
	left :10px;
	top :230px;
	width :20px;
	height: 36px;
	background : url("../img/slider-arrow.png")  no-repeat;
	cursor :pointer ;
	z-index :999;
}
.round-slider .prevButton:hover{
     background-position: 0 -39px;
}

/**
 * Statistic and number
 */
.wrapper-statistic-table {
    position: relative;
    padding:15px 10px 10px;
    border:1px solid #687889;
    background: rgb(92,108,126); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(92,108,126,1) 0%, rgba(118,135,153,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(92,108,126,1)), color-stop(100%,rgba(118,135,153,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(92,108,126,1) 0%,rgba(118,135,153,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(92,108,126,1) 0%,rgba(118,135,153,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(92,108,126,1) 0%,rgba(118,135,153,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(92,108,126,1) 0%,rgba(118,135,153,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c6c7e', endColorstr='#768799',GradientType=0 ); /* IE6-9 */
    -webkit-box-shadow: 0 3px 8px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 8px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 8px 3px rgba(0, 0, 0, 0.3);
}
.statistic-language {
    position: absolute;
    right: 10px;
}
.statistic-language .inner-lang {
    background: #fff;
    padding: 7px 5px;
    -webkit-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
}
.statistic-language .inner-lang.opened {
    -webkit-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.25);
       -moz-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.25);
            box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.25);
}
.statistic-language .inner-lang a {
    text-decoration: none;
}
.statistic-select a.type {
    font-size: 13px;
    color: #333;
    text-decoration: none;
    background: #f5f5f5;
    display: block;
    padding: 4px 0;
}
.statistic-language ul li span {
    font-size: 13px;
}
.statistic-language ul {
    margin: 5px 0 0 0;
    padding: 0;
}
.statistic-language ul li {
    padding: 5px 0 0 0;
    margin: 0;
    list-style: none;
}
.statistic-language ul ul li {
    padding: 10px 0 5px 0;
    margin: 0;
    list-style: none;
}
.statistic-language ul ul li:last-child {
    padding: 10px 0 0 0;
}
.statistic-language li:last-child {
    padding-bottom: 0;
}
.statistic-language ul ul{
    margin: 0 0 0 15px;
}
.statistic-language .inner-lang a.active:hover {
    text-decoration: none;
}
.statistic-language .inner-lang:hover {
    text-decoration: none;
}
.statistic-language .inner-lang a.active .toggle-arrow{
    border-bottom:none;
    display: inline-block;
    margin-left: 5px;
    width:7px;
    height: 5px;
    background: url(../img/toggle-arrow.png) left top no-repeat;
}
.statistic-language .inner-lang a.active .toggle-arrow.active{
    background-position: left -19px;
}

.wrapper-statistic-table .toggle-tables{
    margin-bottom: 7px;
}
.toggle-tables .toggletab.active{
    display: block!important;
}
.toggle-links{
    overflow: hidden;
    margin-bottom: 15px;
    padding-right: 200px;
}
.toggle-links li{
    float: left;
    margin-left: 30px;
}
.toggle-links li a{
    font-size: 15px;
    font-weight: bold;
    color: #d9f2ff;
    border-bottom:1px dotted #d9f2ff;
    text-decoration:none;
}
.toggle-links li a:hover,
.toggle-links li a.active{
    color: #ffe88d;
    border: none;

}
.toggle-links li:first-child{
    margin-left: 0;
}
.tab-slider{
    width:530px;
    padding-left: 65px;
    padding-right: 50px;
    display: table-cell;
}
.tab-links{
    font-size: 13px;
    line-height: 1.3;
    overflow:hidden;
    margin-bottom: 15px;
}
.tab-links li{
    float: left;
    width:29%;
    margin-left: 5%;
}
.tab-links li:first-child{
    margin-left: 0;
}
.tab-links li a{
    display: inline-block;
    font-weight: bold;
    text-decoration:none;
    border-bottom:1px dotted;
    margin-bottom: 5px;
}
.tab-links li a:hover,
.tab-links li a.active{
    color: #FEA30B;
    border-bottom:1px dotted #fff;
}
.tab-container{
    width:528px;
    height: 309px;
    padding-top: 36px;
    background: url(../img/browser-bg.png) left top no-repeat;
    -webkit-box-shadow: 0 7px 5px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 7px 5px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 7px 5px 2px rgba(0, 0, 0, 0.2);
}
.tab-container .tab.active{
    display: block!important;
}
.vector-box{
    position: relative;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.wrapper-statistic-table p{
    font-size: 15px;
    color: #fff;
    margin-top: 25px;
    margin-bottom: 0;
}
table{
    width:100%;
    border:1px solid #d9dce3;
    background: #fff;
    border-collapse: collapse;
    font-size: 12px;

}
.statistic-table table{
    -webkit-box-shadow: 0 3px 8px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 8px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 8px 3px rgba(0, 0, 0, 0.3);
}
table thead tr{
    background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 31%, rgba(217,219,224,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(31%,rgba(255,255,255,1)), color-stop(100%,rgba(217,219,224,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 31%,rgba(217,219,224,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 31%,rgba(217,219,224,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 31%,rgba(217,219,224,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 31%,rgba(217,219,224,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d9dbe0',GradientType=0 ); /* IE6-9 */
}
table tfoot tr{
background: rgb(217,219,224); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(217,219,224,1) 0%, rgba(244,244,244,1) 48%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(217,219,224,1)), color-stop(48%,rgba(244,244,244,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(217,219,224,1) 0%,rgba(244,244,244,1) 48%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(217,219,224,1) 0%,rgba(244,244,244,1) 48%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(217,219,224,1) 0%,rgba(244,244,244,1) 48%,rgba(255,255,255,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(217,219,224,1) 0%,rgba(244,244,244,1) 48%,rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9dbe0', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
table tbody tr:hover{
    cursor: pointer;
    background: #fff8dd;
}
table thead tr th,
table tfoot tr th{
    font-weight: bold;
    border-left: 1px solid #d9dce3;
    border-right:1px solid #fff;
    padding: 15px 0;
    width: 14.28%;
}
table thead tr th:last-child,
table tfoot tr th:last-child{
    border-right:1px solid #d9dce3;
}
table tfoot tr th{
    border-bottom:1px solid #d9dce3;
}

table tfoot tr th{
    padding: 10px 0;
}
table tr td{
    border:1px solid #d9dce3;
    padding: 10px 0;
    text-align: center;
}
.featured-block{
    padding-left: 67px;
}
#featured-1{
    background: url(../img/featured-4.png) left top no-repeat;
}
#featured-2{
    background: url(../img/featured-5.png) left top no-repeat;
}
#featured-3{
    background: url(../img/featured-6.png) left top no-repeat;
}
#faq-block h5{
    background: url(../img/faq-icon.png) left top no-repeat;
    padding-left: 30px;
}
#faq-block .row{
    margin-bottom: 0;
    overflow: hidden;
}
#faq-block .row:first-child {
    padding-top: 0
}
#faq-block p{
    padding-left: 30px;
}
#faq-block .row:first-child .left-col,
#faq-block .row:first-child .right-col {
    border-top: 0;
    padding-top: 0
}
#faq-block .row .left-col {
    border-top: 1px #ccc dashed;
    padding-top: 20px;
}
#faq-block .row .right-col {
    border-top: 1px #ccc dashed;
    padding-top: 20px;
}
.justify {
    text-align: justify;
}
.promo-btn{
    display: inline-block;
    font-size: 19px;
    font-weight: 400;
    /*font-variant: small-caps;*/
    font-family: 'Open Sans';
    color: #fff;
    text-shadow: 0 2px 0 rgba(255,153,0,0.6);
    padding: 13px 35px 14px;

    border:none;
    border-top:1px solid #fdb371;
    border-bottom:1px solid #f0ad00;
    text-decoration:none;
    text-transform: uppercase;
    cursor: pointer;

    background: rgb(253,136,17); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(253,136,17,1) 0%, rgba(255,206,1,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(253,136,17,1)), color-stop(100%,rgba(255,206,1,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(253,136,17,1) 0%,rgba(255,206,1,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(253,136,17,1) 0%,rgba(255,206,1,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(253,136,17,1) 0%,rgba(255,206,1,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(253,136,17,1) 0%,rgba(255,206,1,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd8811', endColorstr='#ffce01',GradientType=0 ); /* IE6-9 */

    -webkit-box-shadow: 0 20px 10px -20px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 20px 10px -20px rgba(0,0,0,0.6);
    box-shadow: 0 20px 10px -20px rgba(0,0,0,0.6);
}
.promo-btn:hover{
    color: #fff;
    background: rgb(255,208,1); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,208,1,1) 0%, rgba(253,136,17,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,208,1,1)), color-stop(100%,rgba(253,136,17,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,208,1,1) 0%,rgba(253,136,17,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,208,1,1) 0%,rgba(253,136,17,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,208,1,1) 0%,rgba(253,136,17,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,208,1,1) 0%,rgba(253,136,17,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd001', endColorstr='#fd8811',GradientType=0 ); /* IE6-9 */
}
.references{
    padding-top: 10px;
    padding-bottom: 30px;
}
.references .single {
    border-left: 1px solid #d6d8dd;
    padding-left: 20px;
    padding-bottom: 2px;
}
.references .single.last{
    border-right: 1px solid #d6d8dd;
}
.references .single img{
    margin-bottom: 20px;
    padding-top: 15px;
}
.page-section .gray-box{
    text-align: center;
    font-size: 18px;
    color: #7e828c;
}
.page-section .gray-box .big{
    font-size: 60px;
    font-weight: bold;
    color: #a2b5c8;
    margin-bottom: 10px;
}
.recent-posts p{
    margin-bottom: 20px;
}
.recent-posts .meta .date{
    float: left;
    line-height: 14px;
    color: #7e828c;
}
.recent-posts .meta .author{
    float: left;
    margin-left: 10px;
    color:#7e828c;
}
.recent-posts .meta .comments{
    margin-left: 20px;
    clear: both;
    padding-top: 8px;
}
.recent-posts h4 {
    min-height: 40px;
    margin-bottom: 12px;
}
.three-steps {
    display: block;
    margin-bottom: 10px;
}
.screen .three-steps .step {
    float: left;
    margin-left: 3%;
    position: relative;
    width: 31%;
}
.screen .three-steps .step:first-child {
    margin-left: 0;
}
.screen .three-steps .step img {
    display: block;
    height: 200px;
    margin: 0 auto;
}
.three-steps .step img, .animated-collage{
    -webkit-box-shadow: 0 3px 7px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 3px 7px 2px rgba(0,0,0,0.3);
    box-shadow: 0 3px 7px 2px rgba(0,0,0,0.3);
}
.wrapper-three-steps.bg-first, .step.bg-first {
    background: url("../img/middle-step-img.png") no-repeat scroll center bottom rgba(0, 0, 0, 0);
}
.wrapper-three-steps.bg-second, .step.bg-second {
    background: url("../img/middle-step-img-2.png") no-repeat scroll center bottom rgba(0, 0, 0, 0);
}
.three-steps .step p{
    margin-bottom: 15px;
}
.three-steps .step.middle p{
    padding: 0 30px;
}
.gray-box{
    background: url(../img/graybox-bg.png) center center no-repeat;
    padding: 20px 0;
}
.animated-collage{
    width: 200px;
    height: 200px;
    background: url(../img/logo-bg.png) 0 0 no-repeat;
    margin: 0 auto;
    position: relative;
}
.animated-collage .animated-overlay{
    width: 65px;
    height: 65px;
    left:68px;
    top:0;
    position: absolute;
    background: url(../img/animated-stripe.png) 0 0 no-repeat;
}
/*Blog*/
.post{
    padding-top: 25px;
    overflow: hidden;
    border-top: 1px solid #dbdee5;
    margin-bottom: 35px;
}
.post .thumb {
    margin: 20px 0;
}
.post .thumb img {
    max-width: 100%;
}
.post:first-child{
    border-top: none;
}
.post .author-area{
    width:130px;
    float: left;
    margin-right: 30px;
    min-height: 1px;
    text-align: center;
}
.post .author-area .author-thumb{
    border-radius: 100px;
    overflow:hidden;
}
.post .author-area .author-thumb img{
    width: 100%;
    display: block;
}
.post .author-area .author-default-post{
    display: inline-block;
    width: 130px;
    height: 130px;
    background: url(../img/avatar.post.png) center center no-repeat;
    background-size: 130px 130px;
}
.post .author-area .author-info{
    position: relative;
    text-align: center;
}
.post .author-area .author-info .popup-link{
    display: inline-block;
    font-style: italic;
    font-size: 14px;
    margin-top: 10px;
    text-decoration:none;
    border-bottom:1px dotted;
}
.post .author-area .author-info .popup{
    display: none;
    text-align: left;
    width: 510px;
    position: absolute;
    padding-top: 27px;
    background: url(../img/popup-top.png) left top no-repeat;
}
.post .author-area .author-info .popup .inner{
    background: url(../img/popup_middle.png) left top repeat-y;
    padding: 5px 30px 10px;
}
.post .author-area .author-info .popup .bottom{
    background: url(../img/popup_bottom.png) left top no-repeat;
    height: 18px;
    width: 100%;
}
.post .author-area .author-info .popup p{
    margin-bottom: 15px;
}
.post .post-area{
    margin-left: 160px;
}
.post .meta{
    margin-bottom: 10px;
}
.post.single .meta{
    display: inline-block;
    margin-right: 15px;
}
.post .meta span{
    display: inline-block;
}
.post .meta span.date{
    margin-right: 20px;
}
.post .tags{
    margin-bottom: 10px;
}
.post.single .tags{
    display: inline-block;
}

.post .tags li{
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    background: url(../img/tag-corner.png) left top no-repeat;
    padding-left: 14px;
    height: 24px;
}
.post .tags li a{
    display: inline-block;
    background: #fff;
    border:1px solid #dbdee5;
    border-left:none;
    height: 22px;
    line-height: 22px;
    padding: 0 10px 0 5px;
}
.post.single{
    font: 13px/1.5 Arial;
}
.post.single pre{
    max-width:570px;
    margin: 0 auto;
    background: #f5f2f0;
    margin-bottom: 15px;
}
.post.single table{
    margin-bottom: 30px;
}
.post.single ul{
    padding-bottom: 23px;
}
.post.single ul li{
    line-height: 1.5;
}
.post.single ol{
    padding-bottom: 23px;
}
.post.single ol li{
    line-height: 1.5;
    padding-left: 20px;
}
.post.single ol li:before{
    margin-left: -15px;
    content: "—";
    padding-right: 5px;
}
.post.single ul ol,
.post.single ol ul{
    margin-left: 20px;
    padding-bottom: 10px;
}
.comments-list{
    margin-top: 40px;
    position: relative;
}
.comments-list .anchor{
    display: block;
    height: 11px;
    position: absolute;
    top: -100px;
}
.comments-list .comment{
    padding-bottom: 25px;
}
.comments-list .author-info{
    margin-bottom: 15px;
}
.comments-list .author-info span{
    display: table-cell;
    vertical-align: middle;
    padding-right: 15px;
}
.comments-list ul ul{
    padding-left: 40px;
}
.comments-list .author-info span.avatar img{
    border-radius: 30px;
}
.comments-list .author-info span.author-name{
    font-weight: bold;
}
.comments-list .comment-content{
    position: relative;
}
.comments-list .comment-content .reply{
    position: absolute;
    right: 0;
    bottom: -30px;
    text-decoration: none;
    border-bottom:1px dotted;
}
.comments-list .comment .author-default-comment {
    display: inline-block;
    height: 45px;
    width: 45px;
    background: url(../img/avatar.comment.png) center center no-repeat;
    background-size: 45px 45px;
}
.pagination {
    text-align: center;
}
.pagination ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.pagination li {
    display: inline-block;
    list-style: none;
    margin-left: 5px;
}
.pagination li:first-child {
    margin-left: 5px;
}
.pagination li.active {
    background: #F58220;
}
.pagination li.active a{
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px #CF6C19 solid;
    border-left: 1px #ED842B solid;
    border-right: 1px #ED842B solid;
    border-top: 0;
}
.pagination li a {
    padding: 8px 10px;
    display: inline-block;
    font-size: 15px;
}

/* endless_container */

.endless_container {
    display: block;
    text-align: center;
    padding-top: 15px;
    border-top: 1px solid #dbdee5;
    margin-bottom: 35px;
}

.endless_loading {
    background: url('../img/ajax-loader.gif') center center no-repeat;
    display: block;
    height: 40px;
    width: 40px;
    margin: 15px auto 0 auto;
}
/* Forms */
form label{
    display: block;
    margin-bottom: 6px;
}
form .error{
    margin-top: 5px;
    font-style: italic;
}
form input[type='text'], form input[type='email'],
form input[type='number'], form input[type='password'],
form textarea, form select{
    width: 100%;
    margin: 0;
    border: 0;
    padding: 5px;
    border-radius: 4px;
    outline:none;
    height: 23px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 0 2px 1px 0 rgba(0,0,0,0.1);
    box-shadow: 0 2px 1px 0 rgba(0,0,0,0.1);
}
form input[type='text'].error, form input[type='email'].error,
form input[type='password'].error, form textarea.error{
    background: #f8c2c2;
}
form input[disabled='disabled'] {
    background: #e0e0e0;
}
form select{
    padding: 4px 5px;
}
form textarea{
    min-height: 100px;
}
form input[type='text']:focus, form input[type='email']:focus,
form input[type='password']:focus, form textarea:focus, form select:focus{
    -webkit-box-shadow: 0 0 7px 2px rgba(186,231,255,0.8);
}
.row-checkbox input[type=radio] {
    display:none;
}
.row-checkbox input[type=radio] + label {
    margin-top: 5px;
    padding-left:22px;
    height:17px;
    display:inline-block;
    line-height:17px;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-size:13px;
    vertical-align:middle;
    cursor:pointer;
}
.row-checkbox label  {
    background-position: 0 -17px;
}
.row-checkbox label.error {
    background: 0;
    padding: 0;
    display: block;
    width: 100%;
}
.row-checkbox input[type=checkbox] {
    display:none;
}
.row-checkbox label {
    padding-left:22px;
    min-height: 17px;
    display:inline-block;
    line-height:17px;
    background-repeat:no-repeat;
    background-position: 0 0;
    vertical-align:middle;
    cursor:pointer;
    background-image:url(../img/checkbox.unchecked.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}
.row-checkbox input[type=checkbox]:checked + label {
    background-image:url(../img/checkbox.checked.png);
    background-position: 0 -1px;
}
#signup-form .row-checkbox input[type=checkbox].error + label {
    color: #FFC4C4;
    background-image:url(../img/checkbox.unchecked.error.png);
}
#signup-form .row-checkbox input[type=checkbox]:checked.error + label {
    color: #FFC4C4;
    background-image:url(../img/checkbox.checked.error.png);
}
input[type=radio].css-checkbox {
    display:none;
}
input[type=radio].css-checkbox + label.css-label {
    margin-top: 5px;
    padding-left:22px;
    height:17px;
    display:inline-block;
    line-height:17px;
    background-repeat:no-repeat;
    background-image:url(../img/checkbox.unchecked.png);
    font-size:13px;
    vertical-align:middle;
    cursor:pointer;
}

input[type=radio].css-checkbox:checked + label.css-label {
    background-image:url(../img/checkbox.checked.png);
    background-position: 0 -1px;
}
input[type=checkbox].css-checkbox {
    display:none;
}
input[type=checkbox].css-checkbox + label.css-label {
    padding-left:22px;
    height:17px;
    display:inline-block;
    line-height:17px;
    background-repeat:no-repeat;
    background-position: 0 0;
    vertical-align:middle;
    cursor:pointer;

}
input[type=checkbox].css-checkbox:checked + label.css-label {
    background-position: 0 -17px;
}
label.css-label {
    background-image:url(../img/checkbox.checked.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.form{
    margin-bottom: 20px;
    padding:20px 20px 10px;
    border:1px solid #9ba9b9;

    background: rgb(175,186,197); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(175,186,197,1) 0%, rgba(139,155,172,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(175,186,197,1)), color-stop(100%,rgba(139,155,172,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(175,186,197,1) 0%,rgba(139,155,172,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(175,186,197,1) 0%,rgba(139,155,172,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(175,186,197,1) 0%,rgba(139,155,172,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(175,186,197,1) 0%,rgba(139,155,172,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#afbac5', endColorstr='#8b9bac',GradientType=0 ); /* IE6-9 */

    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}
#signup-form{
    background: rgb(91,108,126); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(91,108,126,1) 0%, rgba(118,135,153,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(91,108,126,1)), color-stop(100%,rgba(118,135,153,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(91,108,126,1) 0%,rgba(118,135,153,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(91,108,126,1) 0%,rgba(118,135,153,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(91,108,126,1) 0%,rgba(118,135,153,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(91,108,126,1) 0%,rgba(118,135,153,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b6c7e', endColorstr='#768799',GradientType=0 ); /* IE6-9 */
}
#signup-form{
    width:680px;
    margin: 0 auto;
}
#signup-form label{
    color: #fff;
}
#signup-form label.error{
    color: #F8C2C2;
}
#login-form{
    width: 248px;
    display: none;
    position: absolute;
    right: 105px;
    padding: 10px 15px 5px;
    margin-top: 15px;
    z-index: 40;
}
#login-form:after{
    position: absolute;
    top:-13px;
    right:17px;
    background: url(../img/login-form-corner.png) right top no-repeat;
    width: 12px;
    height: 13px;
    content: '';
}
#login-form .close-btn{
    background: url(../img/remove-btn.png) left top no-repeat;
    width: 12px;
    height: 12px;
    float: right;
    margin-bottom: 10px;
}
#login-form .close-btn:hover{
    background-position: -14px 0;
}
#login-form .forgot-link{
    color: #fff;
    margin: 0;
}
.form .separator{
    max-width:680px;
    height: 2px;
    padding-bottom: 15px;
    padding-top: 15px;
    background: url(../img/form-separator.png) center center no-repeat;
    margin: 0 auto;
}
.form .row span{
    display: block;
    color: #646871;
    font-style: italic;
    padding-top: 5px;
}
#signup-form .row span{
    color: #b8c4d1;
}
#captcha {
    min-width: 350px;
    display: block;
    overflow: hidden;
}
#captcha .image{
    margin-left: 10px;
    float: left;
}
#captcha .image img {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 43px;
}
#captcha .input {
    float: left;
    width: 190px;
}
form a.captcha-refresh {
    display:block;
    float:left;
    width:16px;
    height:16px;
    margin:0 0 0 1px;
    padding:0;
    background:url(../start/img/captcha-refresh.gif) no-repeat;
    cursor:pointer;
}
#captcha .input input[type='text'] {
    text-align: center;
    font-size: 14px;
    height: 43px;
}
.row-captcha {
    display: block;
}
.row-captcha span{
    margin: -5px 0 10px;
}
.form input[type="submit"], .orange-btn{
    font-size: 18px;
    font-weight: 500;
    font-family: 'Open Sans';
    color: #fff;
    text-shadow: 0 2px 0 rgba(255,153,0,0.6);
    padding: 5px 35px 6px;

    border:none;
    border-top:1px solid #fdb371;
    border-bottom:1px solid #f0ad00;

    cursor: pointer;

    background: rgb(253,136,17); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(253,136,17,1) 0%, rgba(255,206,1,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(253,136,17,1)), color-stop(100%,rgba(255,206,1,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(253,136,17,1) 0%,rgba(255,206,1,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(253,136,17,1) 0%,rgba(255,206,1,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(253,136,17,1) 0%,rgba(255,206,1,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(253,136,17,1) 0%,rgba(255,206,1,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd8811', endColorstr='#ffce01',GradientType=0 ); /* IE6-9 */

    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}
.form input[type="submit"]:hover, .orange-btn:hover{
    background: rgb(255,208,1); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,208,1,1) 0%, rgba(253,136,17,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,208,1,1)), color-stop(100%,rgba(253,136,17,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,208,1,1) 0%,rgba(253,136,17,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,208,1,1) 0%,rgba(253,136,17,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,208,1,1) 0%,rgba(253,136,17,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,208,1,1) 0%,rgba(253,136,17,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd001', endColorstr='#fd8811',GradientType=0 ); /* IE6-9 */
}
.orange-btn{
    margin: 0 0 0 5px;
    font-size: 13px;
    padding: 3px 10px;
}
#login-form input[type="submit"]{
    padding: 5px 25px 6px;
}
.agreement-info{
    background: #617284;
    padding: 7px;
    height: 86px;
}
.agreement-info .inner {
    overflow:scroll;
    overflow-x: hidden;
    height: 100px;
    color: #fff;
}
.agreement-info .inner h2,
.agreement-info .inner h3,
.agreement-info .inner h4 {
    text-align: center;
    color: #ffffff;
}
.agreement-info .inner h2{
    font-size: 16px;
}
.agreement-info .inner h3{
    font-size: 14px;
}
.agreement-info .inner h4{
    font-size: 12px;
}
.agreement-info .inner p{
    color: #fff;
    line-height: 1.3;
    font-size: 11px;
}
#advertiser-form{
    color: #fff;
    background: rgb(92,109,127); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(92,109,127,1) 0%, rgba(118,135,153,1) 25%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(92,109,127,1)), color-stop(25%,rgba(118,135,153,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(92,109,127,1) 0%,rgba(118,135,153,1) 25%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(92,109,127,1) 0%,rgba(118,135,153,1) 25%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(92,109,127,1) 0%,rgba(118,135,153,1) 25%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(92,109,127,1) 0%,rgba(118,135,153,1) 25%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c6d7f', endColorstr='#768799',GradientType=0 ); /* IE6-9 */
}
#advertiser-form h2{
    color: #fff;
    padding: 0;
    margin-bottom: 8px;
}
#advertiser-form .city-box{
    background: #6b7c8e;
    padding: 0;
    float: left;
    width: 100%;
    position: relative;
}
#advertiser-form .city-box .block{
    border-right: 1px dotted #9AA9B8;
    padding: 0 14px 0 10px;
    margin: 10px 0;
    width: 129px;
    float: left;
    position: relative;
}
#advertiser-form .city-box .block h5{
    color: #fff;
    font-size: 13px;
    margin-bottom: 0;
}
#advertiser-form .city-box .block .remove-btn{
    background: url(../img/remove-btn.png) left top no-repeat;
    cursor: pointer;
    width: 12px;
    height: 12px;
    display: inline-block;
    line-height: 15px;
    margin-bottom: -2px;
    margin-left: 5px;
}
#advertiser-form .city-box .block .remove-btn:hover{
    background-position: -15px 0;
}
#advertiser-form p{
    color: #fff;
    margin-bottom: 10px;
}
#advertiser-form .city-box .block .orange-btn{
    width: 100%;
    padding: 4px 0;
    margin-left: 0;
}
#advertiser-form .city-box .block ul{
    margin-bottom: 10px;
}
#advertiser-form .city-box .block ul li{
    margin-bottom: 5px;
}
#advertiser-form .city-box .block ul li .line-marker{
    padding:0;
    color: #fff;
    margin-bottom: 0;
}
#advertiser-form .notation{
    background: #b8c4d1;
    padding: 10px;
    color: #000000;
    margin-top: 3px;
    line-height: 1.4;
}
#advertiser-form #calc-result{
    margin-bottom: 5px;
}
#advertiser-form #calc-result #numres{
    display: inline;
    color: #fff;
    font-style: normal;
    background: #FEA30B;
    display: inline-block;
    padding: 0 3px;
}
#advertiser-form .streets-popup{
    width: 220px;
    background: #FFF;
    padding: 10px 10px 0;
    position: absolute;
    z-index:1000;
    display: none;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
#advertiser-form .streets-popup label{
    color:#000;
}
#advertiser-form .streets-popup select{
    border:1px solid #b8c4d1;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin-bottom: 10px;
}
#advertiser-form .streets-popup .orange-btn{
    display: inline-block;
    width: auto!important;
    padding: 4px 20px!important;
}
#advertiser-form .streets-popup .close-btn{
    position: absolute;
    right:10px;
    top:10px;
    background: url(../img/close-button.png) left top no-repeat;
    width:14px;
    height: 14px;
}
#advertiser-form .streets-popup .close-btn:hover{
    background-position: -21px 0
}
.table-cell{
    display: table-cell;
    padding-right: 20px;
}
.width-70{
    width:70px;
    float: left;
}
.comment-form {
    margin-top: 15px;
}
/*Sidebar Widgets*/
#blog-filters li{
   float: left;
    width:95px;
    height: 95px;
    background: url(../img/filter-bg.png) left top no-repeat;
    margin-bottom: 5px;
    margin-right: 5px;
    color: #fff;
    font-family: 'Open Sans';
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
}
#blog-filters li img{
    padding-top: 10px;
}
#blog-filters li span{
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: 5px;
    text-align: center;
    width: 85px;
}
#blog-filters li.selected,
#blog-filters li:hover{
    background-position: -100px 0;
}
#blog-filters li.selected span,
#blog-filters li:hover span {
    color: #fff;
}
#blog-filters li a {
    display: block;
    min-height: 95px;
    color: #fff;
}
.contact-block{
    padding-bottom: 30px;
}
.contact-block div{
    overflow: hidden;
    display: block;
    margin-bottom: 5px;
}
.contact-block i {
    float: left;
}
.contact-block .email{
    float: left;
    unicode-bidi: bidi-override;
}
.contact-block .skype-contact {
    margin-top: 5px;
    line-height: 22px;
}
.contact-block .fakemail-support,
.contact-block .fakemail-affiliates,
.contact-block .fakemail-leadbuyes {
    background-image: url(../img/contact.email.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 140px;
}
.contact-block .fakemail-affiliates {
    background-position: -11px -51px;
}
.contact-block .fakemail-support {
    background-position: -11px -17px;
}
.contact-block .fakemail-leadbuyes {
    background-position: -11px -91px;
}
#sidebar .contact-box{
    background: #f2f2f2;
    border:1px solid #c2c9d0;
    padding: 10px 14px
}
#sidebar .contact-box label{
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}
.offices{
    padding-top: 15px;
}
.offices p{
    margin-bottom: 10px;
}
.offices .office {
    display: none;
}
.offices .office:first-child {
    display: block;
}
/*Footer*/
#footer{
    background: #f0f3f6;
    padding: 17px 0 20px;
    -webkit-box-shadow: inset 0 3px 3px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0 3px 3px rgba(0,0,0,0.1);
    box-shadow: inset 0 3px 3px rgba(0,0,0,0.1);
    position: relative;
    z-index: 99;
}
#site-info{
    color: #7e828c;
    display: table-cell;
    vertical-align: top;
}
#footer-seals{
    text-align: right;
    width:330px;
    display: table-cell;
    vertical-align: top;
    padding-left: 40px;
}
#footer-seals img{
    vertical-align: middle;
    opacity: 0.3;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    -webkit-transition: opacity .4s ease;
       -moz-transition: opacity .4s ease;
         -o-transition: opacity .4s ease;
}
#footer-seals img:hover{
    opacity: 0.5;
}
#footer-nav {
    margin-top: 10px;
}
#copyright{
    margin-bottom: 10px;
    font-size: 10px;
}
#privacy-info{
    line-height: 1.4;

    font-size: 9px;
    margin-bottom: 14px;
}
#footer-nav ul li{
    display: inline-block;
    margin-left: 25px;
}
#footer-nav ul li:first-child{
    margin-left: 0;
}
/*Icons*/
i.icon{
    display: inline-block;
    margin-right: 5px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}
.icon.icon-lock{
    background: url(../img/lock-icon.png);
    width: 10px;
    height: 14px;
    line-height: 14px;
}
.icon.icon-pen{
    background: url(../img/pen-icon.png);
    width: 12px;
    height: 12px;
    line-height: 12px;
}
.icon.icon-case{
    background: url(../img/case-icon.png);
    width: 12px;
    height: 10px;
    line-height: 12px;
}
.icon.icon-phone{
    background: url(../img/phone-icon.png);
    width: 9px;
    height: 12px;
    line-height: 12px;
}
.icon.icon-mail{
    background: url(../img/mail-icon.png);
    width: 16px;
    height: 12px;
    line-height: 12px;
}
.icon.icon-skype{
    background: url(../img/skype-icon.png);
    width: 16px;
    height: 17px;
    line-height: 17px;
}
.icon.icon-skype-2{
    background: url(../img/skype-icon-2.png);
    width: 19px;
    height: 18px;
    line-height: 18px;
}
.icon.icon-heart{
    background: url(../img/heart-icon.png);
    width: 12px;
    height: 11px;
    line-height: 12px;
}
.icon.icon-mechanic{
    background: url(../img/mechanic-icon.png);
    width: 12px;
    height: 12px;
    line-height: 12px;
}
.icon.icon-book{
    background: url(../img/book-icon.png);
    width: 12px;
    height: 11px;
    line-height: 12px;
}
.icon.icon-people{
    background: url(../img/people-icon.png);
    width: 13px;
    height: 18px;
    line-height: 18px;
}
.icon.icon-phone-2{
    background: url(../img/phone-icon-2.png);
    width: 17px;
    height: 17px;
    line-height: 17px;
}
.icon.icon-phone-3{
    background: url(../img/phone-icon-3.png);
    width: 17px;
    height: 25px;
    line-height: 25px;
}
.icon.icon-mail-2{
    background: url(../img/mail-icon-2.png);
    width: 16px;
    height: 14px;
    line-height: 14px;
}
.icon.icon-mail-3{
    background: url(../img/mail-icon-3.png);
    width: 20px;
    height: 14px;
    line-height: 14px;
}
.icon.icon-earth{
    background: url(../img/earth-icon.png);
    width: 17px;
    height: 17px;
    line-height: 17px;
}
.icon.icon-author{
    background: url(../img/author-icon.png);
    width: 9px;
    height: 12px;
    line-height: 12px;
}
.icon.icon-bag{
    background: url(../img/bag-icon.png);
    width: 12px;
    height: 12px;
    line-height: 12px;
}
.icon.icon-comment{
    background: url(../img/comment-icon.png);
    width: 13px;
    height: 13px;
    line-height: 13px;
}
.icon.icon-clock{
    background: url(../img/clock-icon.png);
    width: 12px;
    height: 12px;
    line-height: 12px;
}
.icon.icon-tool{
    background: url(../img/tool-icon.png);
    width: 12px;
    height: 12px;
    line-height: 12px;
}

/*Additional*/
.center-text{
    text-align: center;
}
.left-text{
    text-align: left;
}
.right-text{
    text-align: right;
}
.alignleft{
    float: left;
    margin-right: 20px;
}
.alignright{
    float: right;
    margin-left: 10px;
}
.aligncenter{
    display: block;
    margin: 0 auto;
}
.gray{
    color:#7e828c;
}
.orange{
    color:#fea30b;
}
p.big{
    font-size: 18px;
}
.result-message {
    padding-top: 100px;
    margin: 0 auto;
    max-width: 970px;
}
.result-message h2{
    text-align: center;
}
.line-marker{
    float: left;
    margin: 0 5px 15px;
}
.inline-block{
    display: inline-block;
}
.clear{
    clear: both;
}

/* !- Animate on scroll*/

/* Scale Up animation */
@-webkit-keyframes mk_scale {
	0% {
		-webkit-transform: scale(0.3);
 		opacity: 0.1;
	}
	100% {
		-webkit-transform: scale(1);
		opacity: 1;
	}
}
@-moz-keyframes mk_scale {
 	0% {
		-moz-transform: scale(0.3);
		opacity: 0.1;
	}
	100% {
		-moz-transform: scale(1);
		opacity: 1;
 	}
}
 @-o-keyframes mk_scale {
	0% {
		-o-transform: scale(0.3);
		opacity: 0.1;
	}
	100% {
		-o-transform: scale(1);
		opacity: 1;
	}
}
@keyframes mk_scale {
	0% {
		transform: scale(0.3);
		opacity: 0.1;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}


/* Fade In animation */
@-webkit-keyframes mk_fade {
	0% {
		opacity: 0.1;
	}
	100% {
		opacity: 1;
	}
}
@-moz-keyframes mk_fade {
	0% {
		opacity: 0.1;
	}
	100% {
		opacity: 1;
	}
}
@-o-keyframes mk_fade {
	0% {
		opacity: 0.1;
	}
	100% {
		opacity: 1;
	}
}
@keyframes mk_fade {
	0% {
		opacity: 0.1;
	}
	100% {
		opacity: 1;
	}
}

/* Left to Right animation */
@-webkit-keyframes mk_left_to_right {
	0% {
		-webkit-transform: translate(-20px, 0);
		opacity: 0;
	}
	100% {
		-webkit-transform: translate(0, 0);
		opacity: 1;
	}
}
@-moz-keyframes mk_left_to_right {
	0% {
		-moz-transform: translate(-20px, 0);
		opacity: 0;
	}
	100% {
		-moz-transform: translate(0, 0);
		opacity: 1;
	}
}

@-o-keyframes mk_left_to_right {
	0% {
		-o-transform: translate(-20px, 0);
		opacity: 0;
	}
	100% {
		-o-transform: translate(0, 0);
		opacity: 1;
	}
}
@keyframes mk_left_to_right {
	0% {
		transform: translate(-20px, 0);
		opacity: 0;
	}
	100% {
		transform: translate(0, 0);
		opacity: 1;
	}
}
/* Right To Left animation */
@-webkit-keyframes mk_right_to_left {
	0% {
		-webkit-transform: translate(20px, 0);
		opacity: 0;
	}
	100% {
		-webkit-transform: translate(0, 0);
		opacity: 1;
	}
}
@-moz-keyframes mk_right_to_left {
	0% {
		-moz-transform: translate(20px, 0);
		opacity: 0;
	}
	100% {
		-moz-transform: translate(0, 0);
		opacity: 1;
	}
}
@-o-keyframes mk_right_to_left {
	 0% {
		-o-transform: translate(20px, 0);
		opacity: 0;
	}
	100% {
		-o-transform: translate(0, 0);
		opacity: 1;
	}

}
@keyframes mk_right_to_left {
	0% {
		transform: translate(20px, 0);
		opacity: 0;
	}
	100% {
		transform: translate(0, 0);
		opacity: 1;
	}
}
/* Bottom to Top animation */
@-webkit-keyframes mk_bottom_to_top {
	0% {
		-webkit-transform: translate(0, 20px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translate(0, 0);
		opacity: 1;
	}
}
@-moz-keyframes mk_bottom_to_top {
	0% {
		-moz-transform: translate(0, 20px);
		opacity: 0;
	}
	100% {
		-moz-transform: translate(0, 0);
		opacity: 1;
	}
}
@-o-keyframes mk_bottom_to_top {
	0% {
		-o-transform: translate(0, 20px);
		opacity: 0;
	}
	100% {
		-o-transform: translate(0, 0);
		opacity: 1;
	}
}
@keyframes mk_bottom_to_top {
	0% {
		transform: translate(0, 20px);
		opacity: 0;
	}
	100% {
		transform: translate(0, 0);
		opacity: 1;
	}
}
/* Top to Bottom animation */
@-webkit-keyframes mk_top_to_bottom {
	0% {
		-webkit-transform: translate(0, -20px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translate(0, 0);
		opacity: 1;
	}
}
@-moz-keyframes mk_top_to_bottom {
	0% {
		-moz-transform: translate(0, -20px);
		opacity: 0;
	}
	100% {
		-moz-transform: translate(0, 0);
		opacity: 1;
	}
}
@-o-keyframes mk_top_to_bottom {
	0% {
		-o-transform: translate(0, -20px);
		opacity: 0;
	}
	100% {
		-o-transform: translate(0, 0);
		opacity: 1;
	}
}
@keyframes mk_top_to_bottom {
	0% {
		transform: translate(0, -20px);
		opacity: 0;
	}
	100% {
		transform: translate(0, 0);
		opacity: 1;
	}
}
/*Collage animation*/
@-webkit-keyframes animated-stripe {
    20%{opacity:1; left:68px; top:0;}
    39.99%{opacity:1; left:68px; top:0;}
    40% {opacity:1; left:68px; top:68px;}
    59.99% {opacity:1; left:68px; top:68px;}
    60% {opacity:1; top:68px; left:135px;}
    79.99% {opacity:1; top:68px; left:135px;}
    80% {opacity:1; top:135px; left:135px;}
    99.99% {opacity:1; top:135px; left:135px;}
}
@-moz-keyframes animated-stripe {
    20%{opacity:1; left:68px; top:0;}
    39.99%{opacity:1; left:68px; top:0;}
    40% {opacity:1; left:68px; top:68px;}
    59.99% {opacity:1; left:68px; top:68px;}
    60% {opacity:1; top:68px; left:135px;}
    79.99% {opacity:1; top:68px; left:135px;}
    80% {opacity:1; top:135px; left:135px;}
    99.99% {opacity:1; top:135px; left:135px;}
}
@-o-keyframes animated-stripe {
    20%{opacity:1; left:68px; top:0;}
    39.99%{opacity:1; left:68px; top:0;}
    40% {opacity:1; left:68px; top:68px;}
    59.99% {opacity:1; left:68px; top:68px;}
    60% {opacity:1; top:68px; left:135px;}
    79.99% {opacity:1; top:68px; left:135px;}
    80% {opacity:1; top:135px; left:135px;}
    99.99% {opacity:1; top:135px; left:135px;}
}
@keyframes animated-stripe {
    20%{opacity:1; left:68px; top:0;}
    39.99%{opacity:1; left:68px; top:0;}
    40% {opacity:1; left:68px; top:68px;}
    59.99% {opacity:1; left:68px; top:68px;}
    60% {opacity:1; top:68px; left:135px;}
    79.99% {opacity:1; top:68px; left:135px;}
    80% {opacity:1; top:135px; left:135px;}
    99.99% {opacity:1; top:135px; left:135px;}
}
.no-touch .animate-element {
	opacity: 0;
	-webkit-perspective: 1000;
}
.ie-mobile .animate-element {
	opacity: 1;
}
.skills.animate-element {
	opacity: 1;
}
.no-touch .animate-element.start-animation.scale-up {
    -webkit-animation: mk_scale 0.5s 1 cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -moz-animation: mk_scale 0.5s 1 cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -o-animation: mk_scale 0.5s 1 cubic-bezier(0.445, 0.05, 0.55, 0.95);
    animation: mk_scale 0.5s 1 cubic-bezier(0.445, 0.05, 0.55, 0.95);
    opacity: 1;
}

.no-touch .animate-element.start-animation.fade-in {
    -webkit-animation: mk_fade 0.7s 1 cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -moz-animation: mk_fade 0.7s 1 cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -o-animation: mk_fade 0.7s 1 cubic-bezier(0.445, 0.05, 0.55, 0.95);
    animation: mk_fade 0.7s 1 cubic-bezier(0.445, 0.05, 0.55, 0.95);
    opacity: 1;
}


.no-touch .animate-element.start-animation.right-to-left {
    -webkit-animation: mk_right_to_left 0.6s 1 cubic-bezier(0.77, 0, 0.175, 1);
    -moz-animation: mk_right_to_left 0.6s 1 cubic-bezier(0.77, 0, 0.175, 1);
    -o-animation: mk_right_to_left 0.6s 1 cubic-bezier(0.77, 0, 0.175, 1);
    animation: mk_right_to_left 0.6s 1 cubic-bezier(0.77, 0, 0.175, 1);
    opacity: 1;
}
.no-touch .animate-element.start-animation.left-to-right {
    -webkit-animation: mk_left_to_right 0.6s 1 cubic-bezier(0.77, 0, 0.175, 1);
    -moz-animation: mk_left_to_right 0.6s 1 cubic-bezier(0.77, 0, 0.175, 1);
    -o-animation: mk_left_to_right 0.6s 1 cubic-bezier(0.77, 0, 0.175, 1);
    animation: mk_left_to_right 0.6s 1 cubic-bezier(0.77, 0, 0.175, 1);
    opacity: 1;
}
.no-touch .animate-element.start-animation.top-to-bottom{
    -webkit-animation: mk_top_to_bottom 0.6s 1 cubic-bezier(0.77, 0, 0.175, 1);
    -moz-animation: mk_top_to_bottom 0.6s 1 cubic-bezier(0.77, 0, 0.175, 1);
    -o-animation: mk_top_to_bottom 0.6s 1 cubic-bezier(0.77, 0, 0.175, 1);
    animation: mk_top_to_bottom 0.6s 1 cubic-bezier(0.77, 0, 0.175, 1);
    opacity: 1;
}
.no-touch .animate-element.start-animation.bottom-to-top{
    -webkit-animation: mk_bottom_to_top 0.6s 1 cubic-bezier(0.77, 0, 0.175, 1);
    -moz-animation: mk_bottom_to_top 0.6s 1 cubic-bezier(0.77, 0, 0.175, 1);
    -o-animation: mk_bottom_to_top 0.6s 1 cubic-bezier(0.77, 0, 0.175, 1);
    animation: mk_bottom_to_top 0.6s 1 cubic-bezier(0.77, 0, 0.175, 1);
    opacity: 1;
}
.no-touch .animate-element.start-animation.animation-stripe{
    -webkit-animation: animated-stripe 9s infinite linear;
    -moz-animation: animated-stripe 9s infinite linear;
    -o-animation: animated-stripe 9s infinite linear;
    animation: animated-stripe 9s infinite linear;
    opacity: 1;
}

/*Responsive styles*/
@media only screen and (max-width: 970px){
    #header{
        height: 72px;
    }
    #logo{
        padding-top: 25px;
        text-align: left;
    }
    #logo h1{
        overflow: hidden;
    }
    #logo h1 img{
        width: 150px;
    }
    #footer-nav ul li {
        margin: 0 10px 15px;
    }
    #footer-nav {
        text-align: center;
    }
    #primary-nav{
        padding: 0;;
    }
    #primary-nav ul li .submenu .scroll-menu{
        width:100%;
        padding: 0;
        border:0;
    }
    #primary-nav ul li .submenu{
        display: none!important;
    }
    #content {
        display: block;
    }
    #primary-nav ul li.has-menu a.link.active{
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    #primary-nav #open-mobile{
        display: inline-block;
    }
    #primary-nav ul{
        display: none;
        position: absolute;
        left: -10px;
        right: -10px;
        background: #FFF;
        top: 11px;
        -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    }
    #primary-nav ul li{
        display: block;
        margin: 0 auto;
    }
    #primary-nav ul li a{
        padding: 15px 10px!important;
        margin: 0;
        border-bottom:1px dotted #3A3C42;
    }
    #primary-nav ul li a:hover{
        background-color: #F8F8F8!important;
    }
    #primary-nav ul li:last-child a{
        border-bottom:0;
    }
    .wrapper{
        margin: 0 10px;
    }
    #worldmap-areas .info-popup{
        display: none;
    }
    #right-side{
        display: block;
        width:100%;
    }
    #top-bar{
        position: absolute;
        left:10px;
        right:10px;
        top:10px;
    }
    #blog-filters{
        text-align: center;
        margin-bottom: 20px;
    }
    #blog-filters li{
        float: none;
        display: inline-block;
    }
    #content{
        width: 65%;
    }
    #sidebar{
        width: 30%;
    }
    .page-section.blog #sidebar,
    .page-section.blog #content{
        width:initial;
        display: block;
        float: initial;
    }
    .three-steps{
        width: 730px;
    }
    .three-steps p{
        font-size: 11px;
    }
    .three-steps .step img{
        width:100%;
    }
    .three-steps .step {
        max-width: 190px;
    }
    .three-steps .step.middle{
        max-width: 310px
    }
    .three-steps .step.middle.second{
        background-position: center 30px;
    }
    .animated-collage{
        background-size: cover;
        width: 150px;
        height: 150px;
    }
    .animated-collage .animated-overlay{
        background-size: cover;
    }
    .mh98 {min-height: inherit;}
}
@media only screen and (max-width: 900px){
    .contact-info{

    }
    .toggle-links{
        text-align: center;
    }
    .toggle-links li{
        float: none;
        display: inline-block;
        margin: 0 15px 15px!important;
    }
    .round-slider{
        float: none;
        margin: 0 auto;
    }
    #round-slider-area .info-text{
        height: 150px;
        max-width: 100%;
        margin: 0 auto;
        padding: 20px 30px 0;
    }
    .right-thumbnail .thumbnail{
        float: none;
        margin: 0 auto;
        margin-bottom: 15px;
    }
    .right-thumbnail .text {
        float: none;
        max-width: 100%;
    }
    .vector-box{
        display: none;
    }
    .page-section.contact .contact-info {
        display: block;
        margin: 0 auto;
        float: initial;
        width: 553px;
        text-align: center;
    }
    .page-section.contact .contact-info span:first-child {
        margin-left: 0;
    }
    .page-section.contact .contact-info span {
        display: inline-block;
        margin-left: 20px;
    }
    .page-section.contact #contact-form {
        display: block;
        margin: 0 auto;
        float: initial;
    }
    .tab-slider{
        margin: 0 auto;
        display: block;
        padding: 0;
    }
    .pie-area{
        padding: 0;
        max-width: 620px;
        margin: 0 auto;
    }
    .pie-area .pie-container {
        padding: 0 30px;
        max-width: 300px;
    }
    .pie-area .pie-container img{
        width: 100%;
        max-width: inherit;
    }
}
@media only screen and (max-width: 768px){
    #header{
        height: 72px;
    }
    #logo{
        padding-top: 25px;
        text-align: left;
    }
    #logo h1{
        overflow: hidden;
    }
    #logo h1 img{
        width: 150px;
    }
    #animated-logo{
        width: 200px;
        height: 200px;
        margin-top: 0;
        background-size: contain;
    }
    #animated-logo .animated-block{
        background-size: contain!important;
    }
    #primary-nav{
        padding: 0;
    }
    #primary-nav ul li .submenu .scroll-menu{
        width:100%;
        padding: 0;
        border:0;
    }
    #primary-nav ul li .submenu{
        display: none!important;
    }
    #primary-nav ul li.has-menu a.link.active{
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    #primary-nav #open-mobile{
        display: inline-block;
    }
    #primary-nav ul{
        display: none;
        position: absolute;
        left: -10px;
        right: -10px;
        background: #FFF;
        top: 3px;
        -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    }
    #primary-nav ul li{
        display: block;
        margin: 0 auto;
    }
    #primary-nav ul li a{
        padding: 15px 10px!important;
        margin: 0;
        border-bottom:1px dotted #3A3C42;
    }
    #primary-nav ul li a:hover{
        background-color: #F8F8F8!important;
    }
    #primary-nav ul li:last-child a{
        border-bottom:0;
    }
    #sidebar .contact-box{
        margin-bottom: 15px;
    }
    #signup-form{
        width: auto;
    }
    .form .separator{
        max-width: 100%;
    }
    .callout {
        padding: 25px 0 20px;
    }
    .callout p, p.big{
        font-size: 14px;
    }
    .callout .links-box a{
        margin-bottom: 15px;
    }
    .toggle-box, .accordion-box{
        text-align: center;
    }
    .toggle-box .toggle-container, .accordion-box .toggle-container{
        border:1px solid #C0C6CE!important;
        margin-bottom: 15px;
        padding-top: 10px;
    }
    .page-section.contact #contact-form{
        width: 60%;
    }
    .page-section.contact .contact-info{
        width: 90%;
    }
    .references .single{
        border:none;
    }
    .three-steps{
        width: 100%;
    }
    .three-steps .step {
        float: none;
        max-width: 280px;
        display: block;
        margin: 0 auto 30px;
    }
    .three-steps .step.middle {
        max-width: 358px;
        margin: 0 auto 30px;
    }
    .animated-collage {
        background-size: cover;
        width: 200px;
        height: 200px;
    }
    .round-slider{
        width:600px;
        margin-bottom: 20px;
    }
    .round-slider .slides{
        margin: 0 30px;
    }
    .round-slider .nextButton{
        right: 0;
    }
    .round-slider .prevButton{
        left:0;
    }
    .table-cell{
        min-width: 200px;
        clear: both;
        margin-bottom: 15px;
        display: block;
        overflow:hidden;
    }
    .one-seventh{
        width: 31%;
        margin: 0 1%;
        float: none;
        display: inline-block;
    }
    .one-sixth{
        width:30.5%;
        margin: 0 1%;
    }
    .one-fifth {
        width: 31%;
        margin: 0 1%;
        float: none;
        display: inline-block;
    }
    .form .one-fifth{
        margin-bottom: 15px;
    }
    .one-fourth {
        width: 46%;
        margin: 0 2% 20px!important;
    }
    .one-third{
        width:100%;
        margin: 0 auto 20px;
    }
    .gray-box .one-third{
        float: left;
        width: 32%;
        margin-left: 2%
    }
    .gray-box .one-third:first-child{
        margin-left: 0;
    }
    .left-col, .right-col{
        float: none;
        width:100%;
        margin: 0 auto;
    }
    .form .one-fifth .left-col, .form .table-cell .left-col{
        width:46%;
        margin-right:2%;
        float: left;
    }
    .form .one-fifth .right-col, .form .table-cell .right-col{
        width:46%;
        margin-left:2%;
        float: right;
    }
    .page-section.blog #sidebar{
        display: none;
    }
    .page-section.blog .tags,
    .page-section.blog #sidebar {
        display: none;
    }
    .post .thumb img {
        min-height: 100px;
        max-width: 100%;
    }
    .left-col,
    .right-col {
        margin-bottom: 20px;
    }
    .row.row-checkbox {
        margin-top: 10px;
    }
    .row input[type='submit'] {
        margin: 0 auto;
        display: block;
    }
    h1{
        font-size: 28px;
    }
    h2{
        font-size: 22px;
    }
    h3{
        font-size:18px;
    }
    h4{
        font-size:16px;
    }
    #site-info{
        display: block;
        text-align: center;
    }
    #footer-seals{
        display: block;
        text-align: center;
        padding: 0 0 15px;
        width: 100%;
    }
    #footer-nav ul{
        text-align: center;
    }
    #footer-nav ul li{
        margin: 0 10px 15px;
    }
}
@media only screen and (max-width: 640px){
    #round-slider-area {
        display: none;
    }
    .toggle-links li {
        margin: 0 0 10px 10px !important;
    }
    .toggle-links li a {
        font-size: 12px;
    }
    .toggle-tables table{
        font-size: 11px;
    }
    .tab-links {
        font-size: 11px;
    }
    #faq-block h5{
        font-size: 13px;
    }
    #faq-block p{
        font-size: 12px;
    }
    .contact-block {
        width: 100%;
    }
}
@media only screen and (max-width: 600px){
    #animated-logo{
        width: 150px;
        height: 150px;
        margin-top: 0;
        background-size: contain;
    }
    #animated-logo .animated-block{
        background-size: contain!important;
    }
    .page-section.vector-bg,
    .page-section.vector-bg-2,
    .page-section.vector-bg3 {
        background-size: 750px;
    }
    .bx-wrapper .bx-pager{
        top:auto!important;
        bottom: -30px;
    }
    .post.single .author-area{
        display: none;
    }
    .post.single .post-area{
        margin-left: 0;
    }
    .pie-area{
        max-width: 470px;
    }
    .pie-area .pie-container, .pie-area .left-side, .pie-area .right-side {
        vertical-align: top;
    }
    .pie-area .left-side, .pie-area .right-side{
        width: 120px;
    }
    .pie-area .pie-container {
        padding: 0 15px;
        max-width: 200px;
    }
    .pie-area div.big{
        font-size: 40px;
    }
    .pie-area .left-side p, .pie-area .right-side p{
        font-size: 14px;
    }
    .page-section .gray-box .big{
        font-size: 40px;
    }
    .white-box-small p{
        font-size: 14px;
    }
    #worldmap-areas .info {
        position: initial;
        margin-top: 20px;
        text-align: center;
        left: initial;
        bottom: initial;
    }
    #worldmap-areas .info-popup{
        display: none;
    }
    .tab-slider{
        width: 100%;
    }
    .tab-container{
        width: 100%;
        background-size: contain;
        padding-top: 7%;
    }
    .round-slider{
        width: 470px;
    }
    .round-slider .slides{
        margin: 0 25px;
    }
    .round-slider .prevButton{
        left:0;
        top:130px;
    }
    .round-slider .nextButton{
        right: 0;
        top:130px;
    }
    .round-slider .slides .slideItem{
        padding-top: 21px;
    }
    .white-box img {
        display: none;
    }
    #sidebar{
        padding:0;
        width:initial;
        display: block;
        float: initial;
    }
    #content {
        width:initial;
        display: block;
        float: initial;
    }
}
@media only screen and (max-width: 480px){
    #login-form{
        position: fixed;
        left: 10px;
        right: 10px;
        width: auto;
    }
    #login-form:after{
        display: none;
    }
    .featured-image img{
        width: 50px;
        margin-left: -12px;
    }
    .featured-block .description {
        padding-left: 70px;
    }
    .featured-block .drop-shadow,
    .featured-container .drop-shadow{
        width: 70px;
        background-size: 70px;
    }
    .page-section.contact #contact-form{
        width: auto;
        margin: 0 auto;
        float: none;
    }

    .page-section.contact .contact-info span {
        display: block;
        margin-left: 0;
    }
    .page-section.contact .contact-info{
        padding: 20px 0 0;
    }
    .animated-background{
        display: none;
    }
    .toggle-tables .toggletab{
        overflow: hidden;
        overflow-x: visible;
    }
    .toggle-tables .toggletab table{
        width:500px;
    }
    .round-slider{
        width: 300px;
    }
    .round-slider .slides .slideItem{
        padding-top: 16px;
    }
    .round-slider .prevButton{
        left:0;
        top:100px;
    }
    .round-slider .nextButton{
        right: 0;
        top:100px;
    }
    .pie-area .pie-container{
        display: none;
    }
    .pie-area .left-side, .pie-area .right-side{
        width:40%;
    }
    .pie-area .left-side br, .pie-area .right-side br{
        display: none;
    }
    .one-seventh{
        width:46%;
        margin: 0 1%;
    }
    .one-sixth{
        width:46%;
        margin: 0 1.5%;
    }
    .one-fourth {
        width: 100%;
        margin: 0 0 20px!important;
    }
    .one-fifth {
        width: 46%;
        margin: 0 1%;
        display: inline-block;
    }
    .post .author-area{
        display: none;
    }
    .post .post-area{
        margin-left: 0;
    }
}

@media only screen and (max-width: 420px){

    #captcha {
        width: 100%;
        min-width: initial;
    }
    #captcha .input {
        display: block;
        width: initial;
        float: initial;
        margin-bottom: 10px;
    }
    #captcha .image {
        display: block;
        width: initial;
        float: initial;
    }
    #captcha .input input,
    #captcha .image img {
        display: block;
        margin: 0 auto;
    }
}

@media (-webkit-min-device-pixel-ratio: 2),
(min--moz-device-pixel-ratio: 2),
(min-resolution: 2dppx),
(min-resolution: 192dpi){
    .post .author-area .author-default-post{
        background: url(../img/avatar.post@2x.png) center center no-repeat;
        background-size: 130px 130px;
    }
    .comments-list .comment .author-default-comment {
        background: url(../img/avatar.comment@2x.png) center center no-repeat;
        background-size: 45px 45px;
    }
    .flag.gb{
        background: url(../img/gb.png);
		background-size: 100% 100%;
    }
    .flag.cz{
        background: url(../img/cz.png);
		background-size: 100% 100%;
    }
    .flag.si{
        background: url(../img/si.png);
		background-size: 100% 100%;
    }
    .flag.ru{
        background: url(../img/ru.png);
		background-size: 100% 100%;
    }
    .flag.pl{
        background: url(../img/pl.png);
		background-size: 100% 100%;
    }
    .flag.es{
        background: url(../img/es.png);
		background-size: 100% 100%;
    }
    .icon.icon-lock{
        background: url(../img/lock-icon2x.png);
		background-size: 100% 100%;
    }
    .icon.icon-pen {
        background: url(../img/pen-icon2x.png);
		background-size: 100% 100%;
    }
}

/* End: Recommended Isotope styles */
.bx-wrapper {
    position: relative;
    padding-top: 10px;
}
.bx-wrapper .bx-pager{
    position: absolute;
    right: 0;
    top: -40px
}
.bx-wrapper .bx-pager .bx-pager-item, .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
}
.bx-wrapper .bx-pager.bx-default-pager a {
    background: #c5d1de;
    text-indent: -9999px;
    display: block;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.3);
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.3);
}
.bx-wrapper .bx-pager.bx-default-pager a.active{
    background: #fea30c;
}
/* error styles */
.error-container {
    text-align: center;
    display: block;
    padding: 100px 0;
    margin: 0 auto 0 auto;
    width: 510px;
}
.error-img {
    width: 253px;
    height: 256px;
}

.css-form {
}

.css-form label.error {
    color: red;
}

.compact-contact-form label {
    font-weight: bold;
}

.big-contact-form textarea {
    border: 1px solid #D6DBE1;
    height: 60px;
    min-height: 60px;
    resize: none;
}

.big-contact-form input {
    border: 1px solid #D6DBE1 !important;
    box-shadow: none !important;
}

.big-contact-form input.error,
.big-contact-form textarea.error {
    color: #3C3C3C;
}

.big-contact-form #captcha .input {
    width: 80px;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/u-WUoqrET9fUeobQW7jkRbO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/MTP_ySUJH_bn48VBG8sNSuY5mlVXtdNkpsMpKkrDXP4.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/EInbV5DfGHOiMmvb1Xr-huY5mlVXtdNkpsMpKkrDXP4.woff) format('woff');
}

ul.errorlist {
    margin: 0 !important;
    padding: 0 !important;
}

.errorlist li {
    font-size: 12px !important;
    display: block;
    padding: 4px 5px 4px 25px;
    margin: 0 0 3px 0;
    border: 1px solid red;
    color: white;
    background: red url(../admin/img/icon_alert.gif) 5px .3em no-repeat;
}
