@charset "utf-8";
/* CSS Document */
html { background-color:#f8f8f8; }
body { background: #f8f8f8;}

.clear { display:block; height:1px; clear:both; }
.hidden { display:none; }

#container { 
	width:1000px; margin:0 auto; padding-bottom:100px;
	background:url(../img/bg-container.jpg) center 9px no-repeat;
	font:12px Arial, Helvetica, sans-serif; color:#d8d8d8; 
}
#container a { cursor:pointer; }

#blockMain { width:270px; margin:0 auto; padding-top:20%; background:url(../img/logoBig.jpg) center 110px no-repeat; }
#blockMain form td { padding-bottom:15px; }

.inpHolder { width:270px; height:40px; background:url(../img/bg-inpHolder.jpg) no-repeat; text-align:center; }
.inpHolder input { width:248px; padding:10px 5px; border:0; background-color:transparent; font:14px Arial, Helvetica, sans-serif; color:#363636; }

/* Default link colors */
a:link, a:active, a:visited { color: #EE6A09; text-decoration:none;}
a:hover { text-decoration:underline;}

