/* main page */
html { background-color:#ececec; }
body { background-color:#f8f8f8; }
.clear { display:block; height:1px; clear:both; }

#container {
    width:100%; min-width:1000px;
    width:expression(document.body.clientWidth > 1000 ? "100%" : "1000px");
    font:12px Arial, Helvetica, sans-serif; color:#383430;
}
#container a { cursor:pointer; }

a#logo { display:block; float:left; width:202px; height:55px; background:url(../img/logo.png) no-repeat; }

#header { height:70px; padding:15px 10px 0; background:url(../img/bg-header.jpg) center top no-repeat; }
#header .right { float:right; padding-top:20px; }
#header .right span { display:block; float:left; margin-left:15px; padding:2px 0 0 20px; }
#header .right a { color:#383430; }
#header .right span.login a { padding-right:12px; background:url(../img/icons/rarr-black.gif) right center no-repeat; }

#contentWrp { float:right; width:100%; }
#content { margin:0 10px 0 260px; }

h1 { font-size:18px; }
h2 { font-size:16px; }
h3 { font-size:14px; }
h1, h2, h3 { display:inline; font-weight:normal; }

/* Accordion */

/* Reset */

.accordion,
.accordion ul,
.accordion li,
.accordion a,
.accordion span {
 margin: 0;
 padding: 0;
 border: none;
 outline: none;
}

.accordion input {
 display: none;
}

.box {
  position: relative;
  background: white;
  height: 30px;
  transition: all .15s ease-in-out;
}

.box::before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}

.box-close {
  position: absolute;
  height: 32px;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
  cursor: pointer;
  background: #7ab6e7;
  background: -moz-linear-gradient(top,  #7ab6e7 0%, #496d8a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7ab6e7), color-stop(100%,#496d8a));
  background: -webkit-linear-gradient(top,  #7ab6e7 0%,#496d8a 100%);
  background: -o-linear-gradient(top,  #7ab6e7 0%,#496d8a 100%);
  background: -ms-linear-gradient(top,  #7ab6e7 0%,#496d8a 100%);
  background: linear-gradient(top,  #7ab6e7 0%,#496d8a 100%);
}

.box-supertitle {
 display: block;
 position: relative;
 min-width: 110px;
 padding: 0 10px 0 40px;
 height: 32px;

 color: #fdfdfd;
 font: bold 12px/32px Arial, sans-serif;
 text-decoration: none;
 text-shadow: 0px 1px 0px rgba(0,0,0, .35);

 background: -moz-linear-gradient(top,  #00BFFF 0%, #4b4d51 90%);
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00BFFF), color-stop(90%,#4b4d51));
 background: -webkit-linear-gradient(top,  #00BFFF 0%,#4b4d51 90%);
 background: -o-linear-gradient(top,  #00BFFF 0%,#4b4d51 90%);
 background: -ms-linear-gradient(top,  #00BFFF 0%,#4b4d51 90%);
 background: linear-gradient(top,  #00BFFF 0%,#4b4d51 90%);
 }

.box-title {
 display: block;
 position: relative;
 min-width: 110px;
 padding: 0 10px 0 40px;
 height: 32px;

 #color: #365b73;
 color: #000000;
 font: bold 12px/32px Arial, sans-serif;
 text-decoration: none;
 text-shadow: 0px 1px 0px rgba(0,0,0, .35);

 background: #bcdaf3;
 background: -moz-linear-gradient(top,  #bcdaf3 0%, #94c4eb 100%);
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bcdaf3), color-stop(100%,#94c4eb));
 background: -webkit-linear-gradient(top,  #bcdaf3 0%,#94c4eb 100%);
 background: -o-linear-gradient(top,  #bcdaf3 0%,#94c4eb 100%);
 background: -ms-linear-gradient(top,  #bcdaf3 0%,#94c4eb 100%);
 background: linear-gradient(top,  #bcdaf3 0%,#94c4eb 100%);

 -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
        cursor: pointer;
 }

.box-title:hover {
 color: #fdfdfd;
 text-shadow: 1px 1px 1px rgba(255,255,255, .2);

 background: #7ab6e7;
 background: -moz-linear-gradient(top,  #7ab6e7 0%, #557fa1 100%);
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7ab6e7), color-stop(100%,#557fa1));
 background: -webkit-linear-gradient(top,  #7ab6e7 0%,#557fa1 100%);
 background: -o-linear-gradient(top,  #7ab6e7 0%,#557fa1 100%);
 background: -ms-linear-gradient(top,  #7ab6e7 0%,#557fa1 100%);
 background: linear-gradient(top,  #7ab6e7 0%,#557fa1 100%);
}

.box-close:hover {
 color: #fdfdfd;
 text-shadow: 1px 1px 1px rgba(255,255,255, .2);
}

/* Layout & Style */

.accordion li > a {
 display: block;
 position: relative;
 min-width: 110px;
 padding: 0 10px 0 40px;
 height: 32px;

 color: #fdfdfd;
 font: bold 12px/32px Arial, sans-serif;
 text-decoration: none;
 text-shadow: 0px 1px 0px rgba(0,0,0, .35);

 background: #6c6e74;
 background: -moz-linear-gradient(top,  #6c6e74 0%, #4b4d51 100%);
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6c6e74), color-stop(100%,#4b4d51));
 background: -webkit-linear-gradient(top,  #6c6e74 0%,#4b4d51 100%);
 background: -o-linear-gradient(top,  #6c6e74 0%,#4b4d51 100%);
 background: -ms-linear-gradient(top,  #6c6e74 0%,#4b4d51 100%);
 background: linear-gradient(top,  #6c6e74 0%,#4b4d51 100%);

 -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
 -moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
 box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
}

.accordion > li:hover > a,
.accordion > li:target > a {
 color: #fdfdfd;
 text-shadow: 1px 1px 1px rgba(255,255,255, .2);

 background: #7ab6e7;
 background: -moz-linear-gradient(top,  #7ab6e7 0%, #496d8a 100%);
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7ab6e7), color-stop(100%,#496d8a));
 background: -webkit-linear-gradient(top,  #7ab6e7 0%,#496d8a 100%);
 background: -o-linear-gradient(top,  #7ab6e7 0%,#6495E6495ED);
 background: -ms-linear-gradient(top,  #7ab6e7 0%,#496d8a 100%);
 background: linear-gradient(top,  #7ab6e7 0%,#496d8a 100%);
}

.accordion li > a span {
 display: block;
 position: absolute;
 top: 7px;
 right: 0;
 padding: 0 10px;
 margin-right: 10px;
 
 font: normal bold 12px/18px Arial, sans-serif;
 background: #404247;
 
 -webkit-border-radius: 15px;
 -moz-border-radius: 15px;
 border-radius: 15px;

 -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0, .2), 1px 1px 1px rgba(255,255,255, .1);
 -moz-box-shadow: inset 1px 1px 1px rgba(0,0,0, .2), 1px 1px 1px rgba(255,255,255, .1);
 box-shadow: inset 1px 1px 1px rgba(0,0,0, .2), 1px 1px 1px rgba(255,255,255, .1);
}

/* Sub Menu */

.sub-menu li a {
 color: #797979;
 text-shadow: 1px 1px 0px rgba(255,255,255, .2);

 background: #e5e5e5;
 border-bottom: 1px solid #c9c9c9;

 -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
 -moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
 box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
}

.sub-menu li:hover a { background: #efefef; }

.sub-menu li:last-child a { border: none; }

.sub-menu li > a span {
 color: #797979;
 text-shadow: 1px 1px 0px rgba(255,255,255, .2);
 background: transparent;
 border: 1px solid #c9c9c9;

 -webkit-box-shadow: none;
 -moz-box-shadow: none;
 box-shadow: none;
}

.sub-menu em {
 position: absolute;
 top: 0;
 left: 0;
 margin-left: 14px;
 color: #a6a6a6;
 font: normal 10px/32px Arial, sans-serif;
}

/* Functionality */

.accordion li > .sub-menu {
 height: 0;
 overflow: hidden;

 -webkit-transition: height .2s ease-in-out;
 -moz-transition: height .2s ease-in-out;
 -o-transition: height .2s ease-in-out;
 -ms-transition: height .2s ease-in-out;
 transition: height .2s ease-in-out;
}

/* *********************************************************************************************
********************************************************************************************* */

.accordion li:target > .sub-menu {
 height: 100px;
}

/* + */
input:checked ~ .sub-menu {
  height: 34px;
}

input:checked ~ .sub-menu.sa1 {
  height: 133px;
}

input:checked ~ .sub-menu.sa2 {
  height: 67px;
}

input:checked ~ .sub-menu.sa3 {
  height: 33px;
}

input:checked ~ .sub-menu.sa4 {
  height: 233px;
}

input:checked ~ .sub-menu.sa5 {
  height: 35px;
}

input:checked ~ .sub-menu.sa6 {
  height: 67px;
}

input:checked ~ .sub-menu.sa7 {
  height: 67px;
}

input:checked + .box .box-title {
  border-bottom: 1px solid rgba(0,0,0,.18);

  color: #fdfdfd;
  text-shadow: 1px 1px 1px rgba(255,255,255, .2);

  background: #7ab6e7;
  background: -moz-linear-gradient(top,  #7ab6e7 0%, #496d8a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7ab6e7), color-stop(100%,#496d8a));
  background: -webkit-linear-gradient(top,  #7ab6e7 0%,#496d8a 100%);
  background: -o-linear-gradient(top,  #7ab6e7 0%,#496d8a 100%);
  background: -ms-linear-gradient(top,  #7ab6e7 0%,#496d8a 100%);
  background: linear-gradient(top,  #7ab6e7 0%,#496d8a 100%);
}

input:checked + .box .box-close {
  display: inline-block;
  background: transparent;
}

/* *********************************************************************************************
********************************************************************************************* */

.preloader_container #preloader {
  position: absolute;
  background: url(../img/icons.png) no-repeat;
  display: block;
  height: 48px;
  width: 48px;
  margin: auto;
  margin-left: 30%;
}
.preloader_container #preloader.s1 {
	background-position:-1px -559px;
}
.preloader_container #preloader.s2 {
	background-position:0 -611px;
}
.preloader_container #preloader.s3 {
	background-position:0 -663px;
}
.preloader_container #preloader.s4 {
	background-position:1px -717px;
}
.preloader_container #preloader.s5 {
	background-position:1px -773px;
}
.preloader_container #preloader.s6 {
	background-position:2px -834px;
}
.preloader_container #preloader.s7 {
	background-position:3px -898px;
}
.preloader_container #preloader.s8 {
	background-position:-1px -954px;
}

.error {
    border-style: solid;
    border-color: red;
    border-width: 2px;
}

.success{
    border-style: solid;
    border-color: green;
    border-width: 2px;
}

table.stdAppTable { width:100%; font-size:11px; }
table.stdAppTable a { color:#383430; }
table.stdAppTable td { padding:10px 5px; border-bottom:1px solid #e1e1e1; text-align:center; }
table.stdAppTable td.l { text-align:left; }
table.stdAppTable td.r { text-align:right; }
table.stdAppTable tr.n td { background-color:#fff; }
table.stdAppTable tr.c td { background-color:#f8f8f8; }
table.stdAppTable tr.legend td { padding:5px; border:0; background-color:#383430; font-size:12px; text-align:center; color:#fff; }
table.stdAppTable td.controls { text-align:right; }
table.stdAppTable td.controls a, .blockSquared .controls a, .blockDotted .controls a { position:relative; padding-right:20px; }
table.stdAppTable td.controls a:hover { text-decoration:none; }

table.stdAppTable th { padding:5px; border:0; background-color:#383430; font-size:12px; text-align:center; color:#fff; font-weight: normal}

.button input, div.button, button {
  background: #7ab6e7;
  background: -moz-linear-gradient(top,  #7ab6e7 0%, #496d8a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7ab6e7), color-stop(100%,#496d8a));
  background: -webkit-linear-gradient(top,  #7ab6e7 0%,#496d8a 100%);
  background: -o-linear-gradient(top,  #7ab6e7 0%,#496d8a 100%);
  background: -ms-linear-gradient(top,  #7ab6e7 0%,#496d8a 100%);
  background: linear-gradient(top,  #7ab6e7 0%,#496d8a 100%);

  text-align: justify;
  display: inline-block;
  color: white;
  height: 22px;
  margin: 0px 10px 0px 10px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 0px;
}

.title {
 font: bold 12px/32px Arial, sans-serif;
}

th input {
    width: 60px;
}

form > fieldset > div {
    padding: 2px;
}

form > fieldset > div > label {
    padding-right: 5px;
}

.create {
  width: 20%;
  align: right;
}

.block label { display: inline-block; width: 160px; text-align: right; }


.just_done_task {
 background: lightgreen; 
}

.done_task {
 background: lightgray; 
}

.next_task {
 background: yellow; 
}

.next_remove_task {
 background: orange; 
}

.remove_task {
 background: orange; 
 opacity: .3;
}

.interfaces {
 overflow: auto;
}

table.scroll {
/*
  border-collapse: collapse;
*/
border-spacing: 0;
}

table.scroll tbody,

table.scroll thead { display: block; }
/*

thead tr th { 
height: 30px;
line-height: 30px;
text-align: center;
}
*/

table.scroll tbody {
height: 60vh;
overflow-y: auto;
overflow-x: hidden;
}

tbody { border-top: 2px solid black; }

tbody td, thead th {
border-right: 1px solid black;
}

tbody td:last-child, thead th:last-child {
border-right: none;
}
