{% extends "homepage/base.html" %}
{% load helper_tags i18n static %}

{% block meta_tags %}
{% endblock %}

{% block content %}
<section class="page-section vector-bg">
  <h3 class="title">Детали единицы хранения</h3>
  {% if error_message %}
  <br/>
  <div class="error">{{ error_message }}</div>
  {% endif %}
  <br/>

  {% if form %}
      <form method="POST" action=".">
          {% csrf_token %}
          <fieldset>
              {{ form|as_form }}
              <div class="clear"></div>
          </fieldset>
          <br/>
          <div class="button">
            <input type="submit" value="{% trans "Save" %}">
          </div>
          <div class="clear"><!--//--></div>
      </form>

  {% else %}

    <table cellspacing="0" class="stdAppTable">
        <tr>
            <th>Рег №</th>
            <th>Наименование</th>
            <th>Описание</th>
            <th>Ответственное лицо</th>
            <th>Тип документа</th>
            <th>Единица хранения</th>
            <th>Дата создания</th>
            <th>Создал</th>
            <th>Дата изменения</th>
            <th>Изменил</th>
        </tr>

        {% for doc in object_list %}
            <tr class="{% cycle 'odd' 'even' %}" id="{{ doc.id }}">
                <td>
                  {% if doc.number %}
                    {{ doc.number }}
                  {% else %}
                    #{{ doc.id }}
                  {% endif %}
                </td>
                <td>{{ doc.name }}</td>
                <td>{{ doc.description }}</td>
                <td>
                  {% if doc.owner %}
                    {{ doc.owner }}
                  {% endif %}
                </td>
                <td>{{ doc.document_type }}</td>
                <td>
                    {{ doc.item }}
                </td>
                <td>{{ doc.created|default:"–" }}</td>
                <td>
                  {{ doc.created_by }}
                </td>
                <td>{{ doc.modified|default:"–" }}</td>
                <td>
                  {{ doc.modified_by }}
                </td>

            </tr>
        {% endfor %}
    </table>

    <h3 class="title">Операции</h3>
      <table cellspacing="0" class="stdAppTable">
          <tr>
              <th>Дата события</th>
              <th>Событие</th>
              <th>Пользователь</th>
              <th>Архивариус</th>
          </tr>

          {% for task in tasks %}
          <tr class="{% cycle 'odd' 'even' %}" >
                <td>
                {{ task.created|default:"–" }}
                </td>
                <td>
                {% if task.mission.name == 'IN' %}
                    {% if forloop.counter0 == 0 %}
                      Размещение
                    {% else %}
                      Возврат
                    {% endif %}
                {% elif task.mission.name == 'OUT' %}
                  Выдача
                {% else %}
                {% endif %}
                </td>
                <td>
                {{ task.owner }}
                </td>
                <td>
                {{ task.mission.owner }}
                </td>
              </tr>
          {% endfor %}
      </table>
  {% endif %}
</section>
{% endblock %}
