{% extends "homepage/base.html" %}
{% load helper_tags i18n static %}

{% block meta_tags %}
{% endblock %}

{% block content %}
<section class="page-section vector-bg">
  <h3 class="title">Единица хранения</h3>
  {% if error_message %}
  <br/>
    {% for em in error_message %}
      <div class="error">{{ error_message|safe }}</div>
    {% endfor %}
  {% endif %}
  <br/>

  {% if form %}
      <form method="POST" action=".">
          {% csrf_token %}
          <fieldset>
              {{ form|as_form }}
              <div class="clear"></div>
          </fieldset>
          <br/>
          <div class="button">
            <input type="submit" value="{% trans "Save" %}">
          </div>
          <div class="clear"><!--//--></div>
      </form>
  {% endif %}
</section>
{% endblock %}


{% block endofbody %}
  <script type="text/javascript" src="{% static "js/jquery_cal_ru.js" %}"></script>
  <script>
    $( function() {
    $( "#datepicker" ).datepicker({
    changeMonth: true,
    changeYear: true
    });
    $.datepicker.setDefaults( $.datepicker.regional[ "ru" ] );
    } );
    </script>
{% endblock %}
