{% load pagination_tags %}
    {% paginate %}
    <table id="datatable" class="stdAppTable" style="overflow-y: scroll; ">
      <thead>
        <tr>
            <th>Рег №</th>
            <th>Наименование</th>
            <th>Описание</th>
            <th>Тип единицы</th>
            <th>Группа</th>
            <th>Отдел</th>
            <th>Ответст. лицо</th>
            <th>Выдан?</th>
            <th>Дата уничтожения</th>
            <th>Финан-совый год</th>
            <th>Период хранения</th>
            <th>
              Мобильная группа / Ряд / Стеллаж / Секция / Полка / Место
            </th>
            <th>Дата создания</th>
            <th>Создал</th>
            <th>Дата изменения</th>
            <th>Изменил</th>
            <th></th>
        </tr>
      </thead>

      <!--tfoot>
        <tr>
            <th>Рег №</th>
            <th>Наименование</th>
            <th>Описание</th>
            <th>Тип единицы</th>
            <th>Группа</th>
            <th>Отдел</th>
            <th>Ответст. лицо</th>
            <th>Выдан?</th>
            <th>Дата уничтожения</th>
            <th>Финан-совый год</th>
            <th>Период хранения</th>
            <th>
              Мобильная группа / Ряд / Стеллаж / Секция / Полка / Место
            </th>
            <th>Дата создания</th>
            <th>Создал</th>
            <th>Дата изменения</th>
            <th>Изменил</th>
            <th></th>
        </tr>
      </tfoot-->

     <tbody>
        {% for item in object_list %}
            <tr class="{% cycle 'odd' 'even' %}" id="{{ item.id }}">
                <td>{{ item.number }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.description }}</td>
                <td>
                  {% if item.item_type %}
                    {{ item.item_type }}
                  {% endif %}
                </td>
                <td>
                  {% if item.client %}
                    {{ item.client }}
                  {% endif %}
                </td>
                <td>
                  {% if item.department %}
                    {{ item.department }}
                  {% endif %}
                </td>
                <td>{{ item.owner }}</td>
                <td>
                  {% if item.released %}
                    Выдан
                  {% else %}
                    Не выдан
                  {% endif %}
                </td>
                <td>
                  {% if item.retention_date %}
                    {{ item.retention_date }}
                  {% endif %}
                </td>
                <td>
                  {{ item.fiscal_year }}
                </td>
                <td>
                {% if item.retention_policy %}
                  {{ item.retention_policy }}
                <span {% if item.retention_policy.color|length %} style="background: {{ item.retention_policy.color }}; opacity: 0.9;" {% endif %}>
                  -----
                </span>
                {% endif %}
                </td>
                <td>
                  {% for slot in item.slot_set.all %}
                      {% if slot.state == 3 or slot.state == 1 %}
                            {% with slot.shelf as shelf %}
                                {% with shelf.section.row as row %}
                                      {{ row.rack.rack_group }}
                                      <br/>
                                      {{ row|default_if_none:'-' }}
                                      <br/>
                                {% endwith %}
                                  {{ shelf.section }}
                                  <br/>
                                  {{ shelf }}
                                  <br/>
                            {% endwith %}
                            {{ slot }}
                      {% endif %}
                  {% endfor %}
                </td>
                <td>
                {{ item.created|date:"DATE_FORMAT" }} {{ item.created|time:"H:i" }}
                </td>
                <td>
                  {{ item.created_name }}
                </td>
                <td>{{ item.modified|default:"–" }}</td>
                <td>
                  {{ item.modified_name }}
                </td>
                <td class="controls">
                {% if not 'my_issued_items' in request.path %}
                    <a class="bt-edit" href="{% url 'storage:item_account' item.id %}">
                      Детали
                    </a>
                  {% if user.arcuser.role|stringformat:"i" in '1,2'|slice:',' %}
                    <a class="bt-edit" href="{% url 'storage:item_edit' item.id %}">
                        Изменить
                    </a>
                    <a class="bt-delete" href="{% url 'storage:item_delete' item.id %}">
                        Удалить
                    </a>
                   {% endif %}
                {% endif %}
                </td>
            </tr>
        {% endfor %}
     </tbody>
    </table>
    {% paginate %}
