{% extends "homepage/base.html" %}
{% load helper_tags i18n static %}

{% block meta_tags %}
{% endblock %}

{% block content %}
<section class="page-section vector-bg">
  <h3>Редактирование единицы хранения</h3>
  {% if error_message %}
  <br/>
  <div class="error">{{ error_message }}</div>
  {% endif %}
  <br/>

  <form method="POST" action=".">
      {% csrf_token %}
      <fieldset>
          {{ form|as_form }}
      </fieldset>

      <div class="button">
        <input type="submit" value="Сохранить">
      </div>

      <div class="clear"><!--//--></div>
  </form>
{% endblock %}


{% block endofbody %}
  <script type="text/javascript" src="{% static "js/jquery_cal_ru.js" %}"></script>
  <script>
    $( function() {
    $( "#datepicker" ).datepicker({
    changeMonth: true,
    changeYear: true
    });
    $.datepicker.setDefaults( $.datepicker.regional[ "ru" ] );
    } );
    </script>
{% endblock %}
