{% extends "homepage/base.html" %}
{% load helper_tags i18n %}

{% block breadcrumbs %}
    {{ block.super }}
{% endblock %}

{% block content %}

<script type="text/javascript">
$(function() {
    $('#add').submit(function(){
        $.post("{% url 'storage:item_create' %}", function() {
            var search = "";//document.getElementById('add_search').value;
            console.log('POST: ' + search);
            window.location = "{% url 'storage:item_create' %}?s=" + search;
        });
        return false;
    });
});

$(document).ready(function() {
      $('#datatable2').DataTable( {
          "scrollY":        "500px",
          "scrollCollapse": false,
          "paging":         true
        } );
  } );
</script>

<div ng-app="archivistapp" class="wrapper ng-scope" id="form_wrap" ng-controller="TaskCtrl">
  <div style=";"">
      <div style="width:50%;float:left;display:inline-block;">
          <h3 class="title">Единица хранения</h3>
      </div>

      <div style="margin-left:50%;">
        <span style="display: block; ">
        <input type="text" id="search" style="width: 100%;" placeholder="Искать" ng-keyup="item_keyup($event.which)" autofocus /></span>
      </div>
  </div>

    <a href="{% url 'storage:items' %}">
    </a>
    {% if error_message %}
    <br/>
    <div class="error">{{ error_message|safe }}</div>
    {% endif %}
    <br/>
    <br/>

    {% if user.arcuser.role|stringformat:"i" in '1,2,4'|slice:',' %}
    <div class="button">
      <form method="POST" name="add" id="add" action =".">
            <input type="submit" value="Создать новый"/>
      </form>
        <noscript>
          <a href="{% url 'storage:item_create' %}">
            Создать
          </a>
        </noscript>
    </div>
    {% endif %}

    <br/>
    <br/>

    <div id="item_details" style="overflow-x: scroll; overflow-y: auto; height: 70vh;">
          {% include 'storage/item/details.html' %}
    </div>
</div>

{% endblock %}


