{% extends "homepage/base.html" %}
{% load pagination_tags helper_tags i18n %}

{% block breadcrumbs %}
    {{ block.super }}
{% endblock %}

{% block content %}
<script type="text/javascript">
$(function() {
    $('#add').submit(function(){
        $.post("{% url 'storage:rack_create' %}", function() {
            var search = document.getElementById('add_search').value;
            console.log('POST: ' + search);
            window.location = "{% url 'storage:rack_create' %}?s=" + search;
        });
        return false;
    });
});

</script>

<div ng-app="archivistapp" class="wrapper ng-scope iterfaces" id="form_wrap" ng-controller="TaskCtrl">
  <div style=";">
    <div style="width:50%;float:left;display:inline-block;">
          <h3 class=title">Мои Выданные Единицы хранения</h3>
      </div>
      <div style="margin-left:50%;">
        <span style="display: block;overflow: hidden;">
        <input type="text" id="search" style="width: 100%;" placeholder="Искать" ng-keyup="item_keyup($event.which, 'my')" autofocus /></span>
      </div>
  </div>
  {% if error_message %}
  <br/>
  <div class="error">{{ error_message }}</div>
  {% endif %}
  <br/>
  <br/>

    <div id="item_details">
          {% include 'storage/item/details.html' %}
    </div>
</div>
{% endblock %}


