{% load pagination_tags %}
    {% paginate %}
    <table cellspacing="0" class="stdAppTable">
        <tr>
            <th>Рег №</th>
            <th>Наименование</th>
            <th>Описание</th>
            <th>Ответственное лицо</th>
            <th>Тип документа</th>
            <th>Единица храненния</th>
            <th>Дата создания</th>
            <th>Создал</th>
            <th>Дата изменения</th>
            <th>Изменил</th>
            <th></th>
        </tr>

        {% for doc in object_list %}
            <tr class="{% cycle 'odd' 'even' %}" id="{{ doc.id }}">
                <td>
                  {% if doc.number %}
                    {{ doc.number }}
                  {% else %}
                    #{{ doc.id }}
                  {% endif %}
                </td>
                <td>{{ doc.name }}</td>
                <td>{{ doc.description }}</td>
                <td>
                  {% if doc.owner %}
                    {{ doc.owner }}
                  {% endif %}
                </td>
                <td>{{ doc.document_type }}</td>
                <td>
                    {{ doc.item }}
                </td>
                <td>{{ doc.created|default:"–" }}</td>
                <td>
                  {{ doc.created_name }}
                </td>
                <td>{{ doc.modified|default:"–" }}</td>
                <td>
                  {{ doc.modified_name }}
                </td>

                <td class="controls">
                  {% if user.arcuser.role|stringformat:"i" in '1,2'|slice:',' %}
                    <a class="bt-edit" href="{% url 'storage:document_edit' doc.id %}">
                       Изменить
                    </a>
                    <a class="bt-delete" href="{% url 'storage:document_delete' doc.id %}">
                       Удалить
                    </a>
                  {% endif %}
                  {% if 'storage.item_type.edit' in perms.storage %}
                  {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    {% paginate %}

