{% extends "homepage/base.html" %}
{% load pagination_tags helper_tags i18n %}

{% block breadcrumbs %}
    {{ block.super }}
{% endblock %}

{% block content %}

<script type="text/javascript">
$(function() {
    $('#add').submit(function(){
        $.post("{% url 'storage:document_create' %}", function() {
            var search = "";//document.getElementById('add_search').value;
            console.log('POST: ' + search);
            window.location = "{% url 'storage:document_create' %}?s=" + search;
        });
        return false;
    });
});
</script>

<div ng-app="archivistapp" class="wrapper ng-scope iterfaces" id="form_wrap" ng-controller="TaskCtrl">
  <div style=";">
    <div style="width:50%;float:left;display:inline-block;">
          <h3 class="title">Документы</h3>
      </div>
      <div style="margin-left:50%;">
        <span style="display: block;overflow: hidden;">
        <input type="text" id="search" style="width: 100%;" placeholder="Искать" ng-keyup="document_keyup($event.which)" autofocus /></span>
      </div>
  </div>

  {% if error_message %}
  <br/>
  <div class="error">{{ error_message|safe }}</div>
  {% endif %}
  <br/>
  <br/>

  {% if user.arcuser.role|stringformat:"i" in '1,2,4'|slice:',' %}
  <div class="button">
      <form enctype="application/x-www-form-urlencoded" id="add" method="POST" >
          <table>
            <input type="submit" value="Создать новый"/>
          </table>
      </form>
      <noscript>
        <a href="{% url 'storage:document_create' %}">
          Создать
        </a>
      </noscript>
  </div>
  {% endif %}

  <br/>
  <br/>

  <div id="document_details">
        {% include 'storage/document/details.html' %}
  </div>
{% endblock %}

