{% load pagination_tags %}
    {% paginate %}
    <table cellspacing="0" class="stdAppTable">
        <tr>
            <th>Наименование</th>
            <th>Описание</th>
            <th>Состояние</th>
          <!--
            <th>Толщина</th>
            <th>Высота</th>
            <th>Ширина</th>
            <th>Вес</th>
          -->
            <th>Дата создания</th>
            <th>Создал</th>
            <th>Дата изменения</th>
            <th>Изменил</th>
            <th></th>
        </tr>

        {% for item in object_list %}
            <tr class="{% cycle 'odd' 'even' %}" id="{{ item.id }}">
                <td>{{ item.name }}</td>
                <td>{{ item.description }}</td>
                <td>
                  {% if item.enabled %}
                    Активен
                  {% else %}
                    Не активен
                  {% endif %}
                </td>
          <!--
                <td>{{ item.x }}</td>
                <td>{{ item.y }}</td>
                <td>{{ item.z }}</td>
                <td>{{ item.weight }}</td>
          -->
                <td>{{ item.created|default:"–" }}</td>
                <td>
                  {{ item.created_name }}
                </td>
                <td>{{ item.modified|default:"–" }}</td>
                <td>
                  {{ item.modified_name }}
                </td>

                <td class="controls">
                    <a class="bt-edit" href="{% url 'storage:item_type_edit' item.id %}">
                       Изменить
                    </a>
                    <a class="bt-delete" href="{% url 'storage:item_type_delete' item.id %}">
                       Удалить
                    </a>
                  {% if 'storage.item_type.edit' in perms.storage %}
                  {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    {% paginate %}

