{% extends "homepage/base.html" %}
{% load helper_tags i18n %}

{% block meta_tags %}
{% endblock %}

{% block content %}
<section class="page-section vector-bg">
  <h3>Редактирование типа единицы хранения</h3>
  {% if error_message %}
  <br/>
  <div class="error">{{ error_message }}</div>
  {% endif %}
  <br/>

  <form method="POST" action=".">
      {% csrf_token %}
      <fieldset>
          {{ form|as_form }}
      </fieldset>

      <div class="button">
        <input type="submit" value="Сохранить">
      </div>

      <div class="clear"><!--//--></div>
  </form>
{% endblock %}

