{% load pagination_tags %}
    {% paginate %}
    <table cellspacing="0" class="stdAppTable">
        <tr>
          <!--
            <th>Номер прохода</th>
          -->
            <th>Номер ряда</th>
            <th>Наименование</th>
            <th>Мобильная группа</th>
            <th>Стеллаж</th>
            <th>Сторона</th>
            <th>Секций</th>
            <th>Полок</th>
            <th></th>
        </tr>

        {% for row in object_list %}
            <tr class="{% cycle 'odd' 'even' %}" id="{{ rack.id }}">
          <!--
              <td>{{ row.get_pass_number }}</td>
          -->
              <td>{{ row.get_row_number }}</td>
              <td>{{ row.description }}</td>
              <td>{{ row.rack.rack_group }}</td>
              <td>{{ row.rack }}</td>

              <td>
                {{ row.position_name }} 
              </td>
              <td>
                  {{ row.section_set.count }}
              </td>
              <td>
                {% if row.section_set.count %}
                  {% for section in row.section_set.all %}
                        {% if forloop.counter0 > 0 %}
                        </br>
                        {% endif %}
                        {{ section.number }}: {{ section.shelf_set.count }}
                  {% endfor %}
                {% else %}
                    0
                {% endif %}
              </td>

              <td class="controls">
                  <a class="bt-edit" href="{% url 'storage:rack_edit' row.id %}">
                       Изменить
                  </a>
                  <a class="bt-delete" href="{% url 'storage:rack_delete' row.id %}">
                       Удалить
                  </a>
              </td>
            </tr>
        {% endfor %}
    </table>
    {% paginate %}

