{% extends "homepage/base.html" %}
{% load helper_tags i18n %}

{% block meta_tags %}
{% endblock %}

{% block content %}
<section class="page-section vector-bg">
  <h3>Редактирование Ряда</h3>
  {% if error_message %}
  <br/>
  <div class="error">{{ error_message|safe }}</div>
  {% endif %}
  <br/>
  <br/>

  <form method="post" action="">
      {% csrf_token %}
      <fieldset>
          {{ form|as_form }}
          <div class="clear"></div>
      </fieldset>
      <br/>

      <div class="button">
          <input type="submit" value="{% trans "Save" %}">
      </div>
  </form>
</section>
{% endblock %}
