{% extends "homepage/base.html" %}
{% load static pagination_tags helper_tags i18n %}

{% block breadcrumbs %}
    {{ block.super }}
{% endblock %}

{% block content %}

<script type="text/javascript">
$(function() {
    $('#add').submit(function(){
        $.post("{% url 'storage:rack_create' %}", function() {
            var search = ""; //document.getElementById('add_search').value;
            console.log('POST: ' + search);
            window.location = "{% url 'storage:rack_create' %}?s=" + search;
        });
        return false;
    });
});
</script>

  <div ng-app="archivistapp" class="wrapper ng-scope iterfaces" id="form_wrap" ng-controller="TaskCtrl">
    <div style=";">
        <div style="width:50%;float:left;display:inline-block;">
            <h3 class="title">Ряды</h3>
        </div>
        <div style="margin-left:50%;">
            <span style="display: block;overflow: hidden;">
            <input type="text" id="search" style="width: 100%;" placeholder="Искать" ng-keyup="rack_keyup($event.which)" autofocus /></span>
        </div>
    </div>

    {% if error_message %}
    <br/>
    <div class="error">{{ error_message|safe }}</div>
    {% endif %}

    <br/>
    <br/>

    <div class="button">
      <form method="POST" name="add" id="add" action =".">
            <input type="submit" value="Создать новый"/>
      </form>
      <noscript>
        <a href="{% url 'storage:rack_create' %}">
          Создать
        </a>
      </noscript>
    </div>

    <br/>
    <br/>
    <!--
    % include "utils/filters/toggled_format_filter.html" %}
    % paginate %}
    -->
      <div id="rack_details">
            {% include 'storage/rack/details.html' %}
      </div>

    </div>
    <!--
    % paginate %}
    -->
{% endblock %}
