{% extends "homepage/base.html" %}
{% load helper_tags i18n static %}

{% block meta_tags %}
{% endblock %}

{% block content %}
<section class="page-section vector-bg">
  {% if action %}
    <h3 class="title">{{ action }}</h3>
  {% else %}
    <h3 class="title">Редактирование пользователя</h3>
  {% endif %}
  {% if error_message %}
  <br/>
  <div class="error">{{ error_message }}</div>
  {% endif %}
  <br/>

  {% if form %}
      <form method="POST" action=".">
          {% csrf_token %}
          <fieldset>
              {{ form|as_form }}
              <div class="clear"></div>
          </fieldset>
          <br/>
          <div class="button">
            <input type="submit" value="{% trans "Save" %}">
          </div>
          <div class="clear"><!--//--></div>
      </form>
  {% endif %}
</section>
{% endblock %}