{% extends "homepage/base.html" %}

{% block page_title %}Удалить стеллаж{{ object }}{% endblock %}

{% block content %}
<form method="POST" action=".">
        {% csrf_token %}
        <fieldset>
          <legend>Удалить ?</legend>
          </br>
          <div class="button">
            <input type="submit" name="yes" value="Да.Удалить"/>
          </div>
        </fieldset>

    </form>
{% endblock %}


