    <table cellspacing="0" class="stdAppTable">
        <tr>
            <th>Пользователь</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Статус</th>
            <th>Роль</th>
            <th>Отдел</th>
            <th></th>
        </tr>

        {% for user in object_list %}
            {% if user.username %}
            <tr class="{% cycle 'odd' 'even' %}" id="{{ user.id }}">
              <td>{{ user.username }}</td>
              <td>{{ user.first_name }}</td>
              <td>{{ user.last_name }}</td>
              <td>
                  {% if user.is_active %}
                    Активен
                  {% else %}
                    Не активен
                  {% endif %}
              </td>
              <td>{{ user.arcuser.get_role_name }}</td>
              <td>
                  {% if user.arcuser.department %}
                    {{ user.arcuser.department }}
                  {% endif %}
              </td>
              <td class="controls">
                  <a class="bt-edit" href="{% url 'users:change_password' user.id %}">
                     Сменить пароль
                  </a>
                  <a class="bt-edit" href="{% url 'users:user_edit' request.user.id user.id %}">
                     Изменить
                  </a>
                  <a class="bt-edit" href="{% url 'users:user_delete' user.id %}">
                     Удалить
                  </a>
              </td>
            </tr>
            {% endif %}
        {% endfor %}
    </table>

