{% extends "homepage/base.html" %}
{% load static pagination_tags helper_tags i18n %}

{% block breadcrumbs %}
  {{ block.super }}
{% endblock %}

{% block content %}

  <script type="text/javascript">
    $(function() {
    $('#add').submit(function() {
    $.post("{% url 'users:create' %}", function() {
    window.location = "{% url 'users:create' %}";
    });
    return false;
    });
    });
  </script>
  <div ng-app="archivistapp" class="wrapper ng-scope iterfaces" id="form_wrap" ng-controller="TaskCtrl">

    {% if not 'profile' in request.path %}
    <div style=";">
      <div style="width:50%;float:left;display:inline-block;">
        <h3 class="title">Пользователи</h3>
      </div>
      <div style="margin-left:50%;">
        <span style="display: block;overflow: hidden;">
          <input id="search" type="text" title="search" style="width: 100%;" placeholder="Искать" ng-keyup="user_keyup($event.which)" autofocus /></span>
      </div>
    </div>
    {% endif %}

    {% if error_message %}
      <br/>
      <div class="error">{{ error_message|safe }}</div>
    {% endif %}
    <br/>
    <br/>

    <!--
        % include "utils/filters/toggled_format_filter.html" %}
        % paginate %}
      -->
    {% if not 'profile' in request.path %}
      <div class="button">
        <form method="POST" name="add" id="add" action =".">
          <input type="submit" value="Создать новый"/>
        </form>
        <noscript>
          <a href="{% url 'users:create' %}">
            Создать
          </a>
        </noscript>
      </div>
    {% endif %}
    <br/>
    <br/>

    <div id="user_details">
      {% include 'users/details.html' %}
    </div>
  </div>
  <!--
      % paginate %}
    -->
  {% endblock %}
