{% extends "homepage/base.html" %}
{% load static pagination_tags helper_tags i18n %}

{% block breadcrumbs %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <h3>Полки</h3>
    <div class="blockLinks">
        <a href="{% url 'storage:rack_create' %}">
          Создать 
        </a>
    </div>
    <br/>
    <br/>
    <div ng-app="archivistapp" class="wrapper ng-scope" id="form_wrap" ng-controller="InstrumentsCtrl">
      <script type="text/javascript"
              src="{% static "preloader.js" %}"></script>
      <div class="preloader_container">
          <div ng-hide="hideme" class="preloader_padding">
              <div class="s1" id="preloader"></div>
          </div>
      </div>

    <table cellspacing="0" class="stdAppTable">
        <tr>
            <th>ID</th>
            <th>Наименование</th>
            <th></th>
        </tr>

        {% for row in object_list %}
            <tr class="{% cycle 'odd' 'even' %}" id="{{ row.id }}">
              <td>{{ row.id }} [{{ forloop.counter }}] </td>
              <td>{{ row }}</td>
              <td>
              </td>
            </tr>
        {% endfor %}
    </table>
    </div>
    <!--
    % paginate %}
    -->
{% endblock %}
