{% load pagination_tags %}
    {% paginate %}
    <table cellspacing="0" class="stdAppTable">
        <tr>
            <th>ID</th>
            <th>Наименование</th>
            <th>Описание</th>
            <th>Тип группы</th>
            <th>Состояние</th>
            <th></th>
        </tr>

        {% for client in object_list %}
            <tr class="{% cycle 'odd' 'even' %}" id="{{ client.id }}">
                <td>{{ client.id }}</td>
                <td>{{ client.name }}</td>
                <td>{{ client.description }}</td>
                <td>{{ client.client_type}}</td>
                <td>
                  {% if client.enabled %}
                    Активен
                  {% else %}
                    Не активен
                  {% endif %}
                </td>

                <td class="controls">
                  {% if user.arcuser.role|stringformat:"i" in '1,2'|slice:',' %}
                    <a class="bt-edit" href="{% url 'storage:clients_edit' client.id %}">
                       Изменить
                    </a>
                    <a class="bt-delete" href="{% url 'storage:clients_delete' client.id %}">
                       Удалить
                    </a>
                  {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    {% paginate %}

