{% extends "homepage/base.html" %}
{% load static pagination_tags helper_tags i18n %}

{% block breadcrumbs %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <h3>Баркод</h3>
    <br/>
    <br/>
    <div ng-app="archivistapp" class="wrapper ng-scope" id="form_wrap" ng-controller="InstrumentsCtrl">
      <script type="text/javascript"
              src="{% static "preloader.js" %}"></script>
      <div class="preloader_container">
          <div ng-hide="hideme" class="preloader_padding">
              <div class="s1" id="preloader"></div>
          </div>
      </div>
    </div>
    <br/>
    <br/>
    <h5>EAN 13</h5>
    <br/>
    <img src="/f/barcode.png">
    <br/>
    <br/>
{% endblock %}
