{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="{% static "css/reset.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}" />
        <script type="text/javascript" src="{% static "js/jquery-1.2.6.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/sitescript.js" %}"></script>
        <link rel="stylesheet" type="text/css"
              href="{% static "css/layout.css" %}"/>
    </head>

    <body>
        <div id="container">
            <div id="blockMain">
                <form enctype="application/x-www-form-urlencoded" method="POST" action="{% url 'login' %}">
                    {% if form.errors %}
                    <div style="background: orange; color: #fff; text-align: center; padding: 10px;">
                        {{ form.non_field_errors }}
                    </div>
                    {% endif %}
                    {% csrf_token %}
                    <a href="/login/">Не авторизован
                    </a>
                    <input type="hidden" name="next" value="/arc_login/" />
                    <table>
                        <tr><td><div class="inpHolder"><input type="text" name="username" value="{{ form.cleaned_data.username|default:"Login" }}" onfocus="if(this.value=='Login') this.value='';" onblur="if(this.value=='') this.value='Login';" /></div></td></tr>
                        <tr><td><div class="inpHolder"><input type="text" value="Password" onfocus="switchPass(this,'in');" /><input type="password" name="password" value="" onblur="if(this.value=='') switchPass(this,'out');" class="hidden" /></div></td></tr>
                        <tr><td>
                          <div class="button">
                              <input type="submit" value="Войти"/>
                          </div>
                        </td></tr>
                    </table>
                </form>
                <script type="text/javascript">
                  function goto_register() {
                    window.location = "/register/";
                  }
                </script>

                <div class="button">
                  <form enctype="application/x-www-form-urlencoded" action="/register/" method="GET" >
                        <input type="submit" value="Зарегистрироваться" onClick="goto_register()"/>
                  </form>
                  <noscript>
                    <a href="/register/">Зарегистрироваться
                    </a>
                  </noscript>
                </div>
                <!--
                -->
            </div>	
        </div>
    </body>
</html>
