<!DOCTYPE HTML>

<html>
    <head>
        <style type="text/css" media="screen">
            body {
                background: #eee;
                color: #111;
            }

            fieldset {
                border: 1px solid #aaa;
                color: #fff;
                margin: 50px auto;
                background: #fff;
                width: 500px;
                padding: 25px;
            }

            label {
                width: 130px;
                color: #111;
                display: inline-block;
            }

            legend {
                background: #333;
                padding: 5px 20px;
                color: #fff;
            }

            input[type="text"], input[type="password"] {
                border: 1px solid #999;
                padding: 5px 10px;
                font-size: 20px;
                width: auto;
            }
        </style>
    </head>

    <body>
        <div id="loginbox">
            <form action="." method="POST">
                <fieldset>
                    <legend>Successfully logged out</legend>
                    Congratz. You logged out. 
                    <p>
                    Now you can go to <a href="{% url 'homepage' %}">homepage</a>
                    or <a href="{% url 'login' %}">login again</a>
                </fieldset>
            </form>
        </div>
    </body>
</html>

