{% extends "homepage/base.html" %}

{% block page_title %}Удалить мобильную группу{{ object }}{% endblock %}

{% block content %}
  {% if error_message %}
    <br/>
    <div class="error">{{ error_message|safe }}</div>
  {% endif %}

<form method="POST" action=".">
        {% csrf_token %}
        <fieldset>
            <legend>Удалить ?</legend>
            </br>
            <div class="button">
            <input type="submit" name="yes" value="Да. Удалить"/>
            </div>
        </fieldset>

    </form>
{% endblock %}
