{% load pagination_tags %}
    {% paginate %}
{% load pagination_tags helper_tags i18n %}
    <table cellspacing="0" class="stdAppTable">
        <tr>
            <th>ID</th>
            <th>Наименование</th>
            <th>IP</th>
            <th>Порт</th>
            <th>Модель</th>
            <th>{% trans "Создан" %}</th>
            <th>Состояние</th>
            <th></th>
        </tr>

        {% for rack in object_list %}
            <tr class="{% cycle 'odd' 'even' %}" id="{{ rack.id }}">
                <td>{{ rack.id }}</td>
                <td>{{ rack.name }}</td>
                <td>{{ rack.ip }}</td>
                <td>{{ rack.port }}</td>
                <td>{{ rack.model }}</td>
                <td>{{ rack.created|default:"–" }}</td>
                <td>
                  {% if rack.enabled %}
                    Активен
                  {% else %}
                    Не активен
                  {% endif %}
              </td>

                <td class="controls">
                    <a class="bt-edit" href="{% url 'storage:rackgroup_edit' rack.id %}">
                       Изменить
                    </a>
                    <a class="bt-delete" href="{% url 'storage:rackgroup_delete' rack.id %}">
                       Удалить
                    </a>
                {% if user.perm.storage.rackgroup.edit %}
                {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    {% paginate %}

