{% extends "reports/base.html" %}
{% load helper_tags i18n static %}

{% block content %}
<h1 class="title">Операции Выдачи</h1>
<br/>
<br/>

<p>Дата создания отчета: <strong>{{ report_date }}.</strong> Имя пользователя: <strong>{{ report_user }}</strong></p>
<br/>
<br/>

<table cellspacing="2" class="stdAppTable" width="100%" border="1px">
        <tr>
            <th>Регистрационный №</th>
            <th>Наименование</th>
            <th>Комментарий</th>
            <th>Мобильная группа</th>
            <th>Ряд</th>
            <th>Секция</th>
            <th>Полка</th>
            <th>Место</th>
            <th>Пользователь</th>
            <th>Статус</th>
            <th></th>
        </tr>
        {% for mission in object_list %}
            {% for task in mission.task_set.all %}
            <tr>
              {% if task.item %}
                {% with task.item as titem %}
                    <td>{{ titem.number }}</td>
                    <td>{{ titem.name|default_if_none:'' }}</td>
                    <td>{{ task.description|default_if_none:'' }}</td>

                    {% if titem.slot_set.count %}
                        {% for slot in titem.slot_set.all %}
                          {% if slot.state %}
                            {% with slot.shelf as shelf %}
                                {% with shelf.section.row as row %}
                                  <td>
                                      {{ row.rack.rack_group }}
                                      <br/>
                                      {% if row.rack.rack_group.blocker %}
                                        Заблокирован [{{ row.rack.rack_group.blocker }}]
                                      {% else %}
                                        Не блокирован
                                      {% endif %}
                                  </td>

                                  <td>
                                    {{ row }}
                                  </td>
                                {% endwith %}

                                <td>
                                  {{ shelf.section }}
                                </td>

                                <td>
                                  {{ shelf }}
                                </td>
                            {% endwith %}

                            <td>
                              {{ slot }}
                            </td>
                          {% endif %}
                        {% endfor %}
                    {% else %}
                        <td>
                          ...
                        </td>
                        <td>
                          ...
                        </td>
                        <td>
                          ...
                        </td>
                        <td>
                          ...
                        </td>
                        <td>
                          без места
                        </td>
                    {% endif %}
                {% endwith %}
              {% else %}
                  <td>
                    ---
                  </td>
                  <td>
                    ---
                  </td>
                  <td>
                    ---
                  </td>
                  <td>
                    ---
                  </td>
                  <td>
                    ---
                  </td>
              {% endif %}
              <!--
              endif task.item as titem
              -->
                  <td>
                    {{ task.owner }}
                  </td>

                  <td>
                  </td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table>
{% endblock %}
