{% extends "reports/base.html" %}
{% load helper_tags i18n static %}

{% block content %}
<h3 class="title">Отчет по уничтожаемым единицам</h3>
<br/>
<br/>

<p>Уничтожение на дату: <strong>{{ report_input_date }}</strong>. Дата создания отчета: <strong>{{ report_date }}.</strong> Имя пользователя: <strong>{{ report_user }}</strong></p>
<br/>
<br/>

<table cellspacing="2" class="stdAppTable" width="100%" border="1px">
        {% if fields|length %}
            <tr>
                {% if 'number' in fields %}
                    <th>№ единицы<br/>хранения&nbsp;<br/></th>
                {% endif %}
                {% if 'name' in fields %}
                    <th>Наменование&nbsp;<br/></th>
                {% endif %}
                {% if 'created_by' in fields %}
                    <th>Создал&nbsp;<br/></th>
                {% endif %}
                {% if 'owner' in fields %}
                    <th>Ответственное<br/>лицо&nbsp;<br/></th>
                {% endif %}
                {% if 'rack_group' in fields %}
                    <th>Мобильная<br/>группа&nbsp;<br/></th>
                {% endif %}
                {% if 'department' in fields %}
                    <th>Отдел&nbsp;<br/></th>
                {% endif %}
                {% if 'item_type' in fields %}
                    <th>Тип единицы<br/>хранения&nbsp;<br/></th>
                {% endif %}
                {% if 'retention_policy' in fields %}
                    <th>Период<br/>хранения&nbsp;<br/></th>
                {% endif %}
                {% if 'created' in fields %}
                    <th>Дата<br/>создания&nbsp;<br/></th>
                {% endif %}
                {% if 'retention_date' in fields %}
                    <th>Дата<br/>уничтожения&nbsp;<br/></th>
                {% endif %}
            </tr>
        {% endif %}

    {% if fields|length %}
        {% for item in object_list %}
        <tr class="{% cycle 'odd' 'even' %}" class="bb">
            {% if 'number' in fields %}
            <td>
                {{ item.number }}
            </td>
            {% endif %}
            {% if 'name' in fields %}
            <td>
                {{ item.name|default_if_none:'-' }}
            </td>
            {% endif %}
            {% if 'created_by' in fields %}
            <td>
                {{ item.created_name }}
            </td>
            {% endif %}
            {% if 'owner' in fields %}
            <td>
                {{ item.owner }}
            </td>
            {% endif %}
            {% if 'rack_group' in fields %}
            <td>
                {% for slot in item.slot_set.all %}
                {% if slot.state == 3 or slot.state == 1 %}
                {% with slot.shelf as shelf %}
                {% with shelf.section.row as row %}
                {{ row.rack.rack_group }}
                <!--
                     <br/><br/>
                     {{ row|default_if_none:'-' }}
                     <br/><br/>
                   -->
                {% endwith %}
                <!--
                     {{ shelf.section }}
                     <br/>---<br/>
                     {{ shelf }}
                     <br/>---<br/>
                   -->
                {% endwith %}
                <br/>
                {{ slot }}
                <!--
                   -->
                {% endif %}
                {% endfor %}
            </td>
            {% endif %}
            {% if 'department' in fields %}
            <td>
                {{ item.department|default_if_none:'-' }}
            </td>
            {% endif %}
            {% if 'item_type' in fields %}
            <td>
                {{ item.item_type|default_if_none:'-' }}
            </td>
            {% endif %}
            {% if 'retention_policy' in fields %}
            <td>
                {{ item.retention_policy|default_if_none:'-' }}
            </td>
            {% endif %}
            {% if 'created' in fields %}
            <td>
                {{ item.created }}
            </td>
            {% endif %}
            {% if 'retention_date' in fields %}
            <td>
                {{ item.combined_date }}
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    {% endif %}
</table>

{% endblock %}
