{{ form.non_field_errors }}
{% for f in form.hidden_fields %}
    {{ f }}
{% endfor %}

<div ng-app="archivistapp" class="wrapper ng-scope" id="form_wrap" ng-controller="TaskCtrl">
{% for f in form.visible_fields %}
    {% if f.errors %}
        <div class="{{ f.name }} errors">
            <div>
                <div class="error">{{ f.errors }}</div>
            </div>
        </div>
    {% endif %}
    <div class="{{ f.name }} row {% if f.errors %}errors{% endif %} block">
        {{ f.label_tag }}
        {{ f }}
        {% if f.name == 'item' %}
            <input type="text" id="itemsearch" name="itemsearch" ng-keyup="doc_keyup($event.which, 'id_item')" value="{{ itemsearch }}" placeholder="Искать ЕХ" style="width: 30em;"/>
        {% endif %}
        {% if f.help_text %}
            <p class="help_text">{{ f.help_text }}</p>
        {% endif %}
    </div>
{% endfor %}
</div>

