{{ form.non_field_errors }}
{% for row in form.cols %}
    <tr>
        {% for f in row %}
            {% if f != "PLACEHOLDER" %}
                <td class="{{ f.name }} row l">
                    {{ f.label_tag }}
                </td>
                <td style="padding-right: 10px;">
                    {% if f.errors %}
                        {{ f.errors }}
                        <br>
                    {% endif %}
                    {{ f }}
                    {% if f.help_text %}
                        <p class="help_text">{{ f.help_text }}</p>
                    {% endif %}
                </td>
            {% else %}
                <th></th>
                <td></td>
            {% endif %}
        {% endfor %}

    </tr>
{% endfor %}