{% for row in form.cols %}
    <tr>

        {% for f in row %}
            {% if f != "PLACEHOLDER" %}
                <td>
                    {{ f.label_tag }}
                    {{ f }}
                    {% if f.help_text %}
                        <span class="leadsor_tip">{{ f.help_text }}</span>
                    {% endif %}
                </td>
            {% else %}
                <th></th>
                <td></td>
            {% endif %}
        {% endfor %}

    </tr>
{% endfor %}