{% for f in form %}
    <tr class="{% if f.css_classes %}{{ f.css_classes }}{% endif %}{% if f.errors %}errors{% endif %}">
        <th class="{{ f.name }} row l">
            {{ f.label_tag }}
        </th>
        <td style="padding-right: 10px;">
            {% if f.errors %}
                {{ f.errors }}
            {% endif %}

            {{ f }}
            {% if f.help_text %}
                <div class="clear"></div>
                <p class="help_text">{{ f.help_text }}</p>
            {% endif %}
        </td>

    </tr>
{% endfor %}