{% extends "homepage/base.html" %}
{% load pagination_tags helper_tags i18n %}

{% block breadcrumbs %}
    {{ block.super }}
{% endblock %}

{% block content %}
<script type="text/javascript">
$(function() {
      $('form').submit(function(){
            $.post("{% url 'storage:rack_create' %}", function() {
                    window.location = "{% url 'storage:items' %}";
                        });
                return false;
                  });
      });
</script>
    <h3>Группы архивов</h3>
    <br/>
    <br/>


    <div class="button">
      <form method="POST" action=".">
            <input type="submit" value="Создать новый"/>
      </form>
        <noscript>
          <a href="{% url 'storage:rack_create' %}">
            Создать 
          </a>
        </noscript>
    </div>
    <br/>
    <br/>
    <table cellspacing="0" class="stdAppTable">
        <tr>
            <th>Архивная группа</th>
            <th>Описание</th>
        </tr>

        {% for rack in object_list %}
            <tr class="{% cycle 'odd' 'even' %}" id="{{ rack.id }}">
                <td>{{ rack.id }}</td>
                <td>{{ rack.name }}</td>
                <td>{{ rack.ip }}</td>
                <td>{{ rack.port }}</td>
                <td>{{ rack.model }}</td>
                <td>{{ rack.created|default:"–" }}</td>
                <td class="controls">
                    <a class="bt-edit" href="{% url 'storage:rackgroup_edit' rack.id %}">
                        Edit
                    </a>
                    <a class="bt-delete" href="{% url 'storage:rackgroup_delete' rack.id %}">
                        Delete
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}


