{% extends "homepage/base.html" %}
{% load helper_tags i18n %}

{% block meta_tags %}
{% endblock %}

{% block content %}
  <h3>Редактирование типа документа</h3>
  <form method="POST" action=".">
      {% csrf_token %}
      <fieldset>
          {{ form|as_form }}
      </fieldset>

      <div class="button">
        <input type="submit" value="Сохранить">
      </div>

      <div class="clear"><!--//--></div>
  </form>
{% endblock %}


