{% extends "homepage/base.html" %}
{% load pagination_tags helper_tags i18n %}

{% block breadcrumbs %}
    {{ block.super }}
{% endblock %}

{% block content %}

<script type="text/javascript">
$(function() {
    $('#add').submit(function(){
        $.post("{% url 'storage:document_type_create' %}", function() {
            var search = "";// document.getElementById('add_search').value;
            console.log('POST: ' + search);
            window.location = "{% url 'storage:document_type_create' %}?s=" + search;
        });
        return false;
    });
});
</script>

<div ng-app="archivistapp" class="wrapper ng-scope iterfaces" id="form_wrap" ng-controller="TaskCtrl">
  <div style=";">
    <div style="width:50%;float:left;display:inline-block;">
          <h3 class="title">Тип документа</h3>
      </div>
      <div style="margin-left:50%;">
        <span style="display: block;overflow: hidden;">
        <input type="text" id="search" style="width: 100%;" placeholder="Искать" ng-keyup="document_type_keyup($event.which)" /></span>
      </div>
  </div>
  {% if error_message %}
  <br/>
  <div class="error">{{ error_message }}</div>
  {% endif %}
  <br/>
  <br/>

    <div class="button">
        <form enctype="application/x-www-form-urlencoded" method="POST" name="add" id="add" action =".">
            <table>
              <input type="submit" value="Создать новый"/>
            </table>
        </form>
        <noscript>
          <a href="{% url 'storage:document_type_create' %}">
            Создать
          </a>
        </noscript>
    </div>
    <br/>
    <br/>
      <div id="document_type_details">
            {% include 'storage/document_type/details.html' %}
      </div>
{% endblock %}
