{% load pagination_tags %}
    {% paginate %}
    <table cellspacing="0" class="stdAppTable">
        <tr>
            <th>Политика хранения</th>
            <th>Описание</th>
            <th>Цвет</th>
            <th></th>
        </tr>

        {% for item in object_list %}
        <tr class="{% cycle 'odd' 'even' %}" id="{{ item.id }}" > 
          <!--
          {% if item.color|length %} style="background: {{ item.color }}" {% endif %}>
          -->
                <td>{{ item.name }}</td>
                <td>{{ item.description }}</td>
                <td {% if item.color|length %} style="background: {{ item.color }}" {% endif %}>
                  {% for c in colors %}
                    {% if item.color|upper == c.0|upper %}
                      {{ c.1 }}
                    {% endif %}
                  {% endfor %}
                </td>

                <td class="controls">
                    <a class="bt-edit" href="{% url 'storage:retention_policies_edit' item.id %}">
                        Редактировать
                    </a>
                    <a class="bt-delete" href="{% url 'storage:retention_policies_delete' item.id %}">
                        Удалить
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <table cellspacing="0" class="stdAppTable">
        <tr>
        </tr>

        {% for policy in object_list %}
            <tr class="{% cycle 'odd' 'even' %}" id="{{ policy.id }}">
            </tr>
        {% endfor %}
    </table>
    {% paginate %}

