{% extends "homepage/base.html" %}
{% load pagination_tags helper_tags i18n %}

{% block breadcrumbs %}
    {{ block.super }}
{% endblock %}

{% block content %}
<script type="text/javascript">
$(function() {
      $('form').submit(function(){
            $.post("{% url 'storage:rack_create' %}", function() {
                    window.location = "{% url 'storage:items' %}";
                        });
                return false;
                  });
      });
</script>
    <h3>Правило заполнения</h3>
    <br/>
    <br/>


    <div class="button">
        <form enctype="application/x-www-form-urlencoded" method="POST" >
            <table>
              <input type="submit" value="Создать новый"/>
            </table>
        </form>
        <noscript>
          <a href="{% url 'storage:rack_create' %}">
            Создать 
          </a>
        </noscript>
    </div>
    <br/>
    <br/>
    <table cellspacing="0" class="stdAppTable">
        <tr>
            <th>Наименование</th>
            <th>Состояние</th>
            <th>Описание</th>
        </tr>

        {% for rule in object_list %}
            <tr class="{% cycle 'odd' 'even' %}" id="{{ rule.id }}">
            </tr>
        {% endfor %}
    </table>
{% endblock %}


