{% extends "homepage/base.html" %}
{% load helper_tags i18n static %}

{% block meta_tags %}
{% endblock %}

{% block content %}
<section class="page-section vector-bg">
  <h3>Команда</h3>
  {% if error_message %}
  <br/>
  <div class="error">{{ error_message }}</div>
  {% endif %}
  <br/>

  {% if form %}
  <form method="POST" action="."> 
          {% csrf_token %}
          <fieldset>
              {{ form|as_form }}
              <div class="clear"></div>
          </fieldset>
          <div class="button">
          <input type="submit" value="{% trans "Save" %}">
          </div>
          <div class="clear"><!--//--></div>
      </form>
  {% endif %}
</section>
{% endblock %}

