    <table cellspacing="0" class="stdAppTable">
        <tr>
            <th>ID</th>
            <th>Наименование</th>
            <th>Код</th>
            <th>Модель</th>
            <th>Функция</th>
            <th></th>
        </tr>

        {% for cmd in object_list %}
            <tr class="{% cycle 'odd' 'even' %}" id="{{ cmd.id }}">
                <td>{{ cmd.id }}</td>
                <td>{{ cmd.name }}</td>
                <td>
                {% if cmd.code %}
                  {{ cmd.code }}
                {% endif %}
                </td>
                <td>{{ cmd.model }}</td>
                <td>{{ cmd.function}}</td>

                <td class="controls">
                    <a class="bt-edit" href="{% url 'storage:command_edit' cmd.id %}">
                       Изменить
                    </a>
                    <a class="bt-delete" href="{% url 'storage:command_delete' cmd.id %}">
                       Удалить
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
