{% load i18n static helper_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<style>
@page {size: a4 portrait; @frame header_frame {-pdf-frame-content: header_content; left: 50pt; width: 512pt; top: 50pt; height: 40pt;} @frame content_frame { left: 50pt; width: 512pt; top: 90pt; height: 632pt;} @frame footer_frame { -pdf-frame-content: footer_content; left: 50pt; width: 512pt; top: 772pt; height: 20pt;}}
</style>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css"
          href="{% static "css/reset.css" %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static "css/layout.css" %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static "css/jquery-ui.css" %}"/>
    {% block specific_css %}{% endblock %}
    {% block specific_js_scripts %}{% endblock %}
    {% block extra_head %}{% endblock %}
    <title>Архивист Проф</title>
    <style>
    * { padding:0; margin:0; }
      html, body { height:100%; }
      #container { height:100%; border-collapse:collapse; }
    </style>
</head>

<body>

    <div id="container">
        {% block content %}
        {% endblock %}

</div>

{% block endofbody %}
{% endblock %}
</body>
</html>
