{% extends "homepage/base.html" %}
{% load pagination_tags helper_tags i18n static %}

{% block breadcrumbs %}
{{ block.super }}
{% endblock %}

{% block content %}
{% if error_message %}
<div class="error">{{ error_message }}</div>
<br/>
<br/>
{% endif %}
<h3 class="title">Отчет по уничтожаемым единицам</h3>
<br/>
<br/>
<div class="interfaces">
<form method="POST" action="." id="report_form">
    Дата отчета: <input type="text" id="datepicker" name="val_datepicker" value="{{ request.GET.datepicker}}">
    Фильтр <button>Применить</button>
    <button name="cleanall">Очистить</button>
    <button name="print_pdf" id="print_pdf">Печать в PDF</button>
    {% if user.arcuser.role|stringformat:"i" in '1,2'|slice:',' %}
    <button name="send_delete">Отправить на уничтожение</button>
    {% endif %}
    <br/>
    <br/>

    Поле:
    <select name="add_field">
        <option value="">---</option>
        {% if fields|length %}
        {% if not  'number' in fields %}
        <option value="number">Регистрационный №</option>
        {% endif %}
        {% if not  'name' in fields %}
        <option value="name">Наменование</option>
        {% endif %}
        {% if not  'created_by' in fields %}
        <option value="created_by">Создал</option>
        {% endif %}
        {% if not  'owner' in fields %}
        <option value="owner">Ответственное лицо</option>
        {% endif %}
        {% if not  'rack_group' in fields %}
        <option value="rack_group">Мобильная группа</option>
        {% endif %}
        {% if not  'department' in fields %}
        <option value="department">Отдел</option>
        {% endif %}
        {% if not  'item_type' in fields %}
        <option value="item_type">Тип единицы</option>
        {% endif %}
        {% if not  'retention_policy' in fields %}
        <option value="retention_policy">Период хранения</option>
        {% endif %}
        {% if not  'created' in fields %}
        <option value="created">Дата создания</option>
        {% endif %}
        {% if not  'retention_date' in fields %}
        <option value="retention_date">Дата уничтожения</option>
        {% endif %}
        {% else %}
        <option value="number">Регистрационный №</option>
        <option value="name">Наменование</option>
        <option value="created_by">Создал</option>
        <option value="owner">Ответственное лицо</option>
        <option value="rack_group">Мобильная группа</option>
        <option value="department">Отдел</option>
        <option value="item_type">Тип единицы</option>
        <option value="retention_policy">Период хранения</option>
        <option value="created">Дата создания</option>
        <option value="retention_date">Дата уничтожения</option>
        {% endif %}
    </select>
    <button>Добавить</button>
    <br/>
    <!--
         <input type="text" placeholder="{{ search_placeholder }}"/> 
       -->
    <br/>
    <input type="hidden" value={{ idx_list }} name="idx_list" />

    {% paginate %}
    <table cellspacing="0" class="stdAppTable">
        {% if fields|length %}
        <tr>
            {% if 'number' in fields %}
            <th>№ единицы<br/>хранения&nbsp;<br/><button name="del_number">x</button></th>
            {% endif %}
            {% if 'name' in fields %}
            <th>Наменование&nbsp;<br/><button name="del_name">x</button></th>
            {% endif %}
            {% if 'created_by' in fields %}
            <th>Создал&nbsp;<br/><button name="del_created_by">x</button></th>
            {% endif %}
            {% if 'owner' in fields %}
            <th>Ответственное<br/>лицо&nbsp;<br/><button name="del_owner">x</button></th>
            {% endif %}
            {% if 'rack_group' in fields %}
            <th>Мобильная<br/>группа&nbsp;<br/><button name="del_rack_group">x</button></th>
            {% endif %}
            {% if 'department' in fields %}
            <th>Отдел&nbsp;<br/><button name="del_department">x</button></th>
            {% endif %}
            {% if 'item_type' in fields %}
            <th>Тип единицы<br/>хранения&nbsp;<br/><button name="del_item_type">x</button></th>
            {% endif %}
            {% if 'retention_policy' in fields %}
            <th>Период<br/>хранения&nbsp;<br/><button name="del_retention_policy">x</button></th>
            {% endif %}
            {% if 'created' in fields %}
            <th>Дата<br/>создания&nbsp;<br/><button name="del_created">x</button></th>
            {% endif %}
            {% if 'retention_date' in fields %}
            <th>Дата<br/>уничтожения&nbsp;<br/><button name="del_retention_date">x</button></th>
            {% endif %}
        </tr>
        {% endif %}
        {% if fields|length %}
        <tr>
            {% if 'number' in fields %}
            <th><input type="text" style="width: 100%" name="val_number" value="{{ request.GET.number }}"/></th>
            {% endif %}
            {% if 'name' in fields %}
            <th><input type="text" style="width: 100%" name="val_name" value="{{ request.GET.name }}"/></th>
            {% endif %}
            {% if 'created_by' in fields %}
            <th>
                <select name="val_created_by" id="val_created_by">
                    {% for item in pers %}
                    <option value="{{ item.0 }}"{% if request.GET.created_by == item.0 %} selected {% endif %}/>
                    {{ item.1 }}</option>
                    {% endfor %}
                </select>
            </th>
            {% endif %}
            {% if 'owner' in fields %}
            <th>
                <select name="val_owner" id="val_owner">
                    {% for item in pers %}
                    <option value="{{ item.0 }}"{% if request.GET.owner == item.0 %} selected {% endif %}/>
                    {{ item.1 }}</option>
                    {% endfor %}
                </select>
            </th>
            {% endif %}
            {% if 'rack_group' in fields %}
            <th>
                <select name="val_rack_group" id="val_rack_group" style="max-width: 30em;">
                    {% for item in rack_groups %}
                    <option value="{{ item.0 }}"{% if request.GET.rack_group == item.0 %} selected {% endif %}/>
                    {{ item.1 }}</option>
                    {% endfor %}
                </select>
            </th>
            {% endif %}
            {% if 'department' in fields %}
            <th>
                <select name="val_department" id="val_department">
                    {% for item in departments %}
                    <option value="{{ item.0 }}"{% if request.GET.department == item.0 %} selected {% endif %}/>
                    {{ item.1 }}</option>
                    {% endfor %}
                </select>
            </th>
            {% endif %}
            {% if 'item_type' in fields %}
            <th>
                <select name="val_item_type" id="val_item_type">
                    {% for item in item_types %}
                    <option value="{{ item.0 }}"{% if request.GET.item_type == item.0 %} selected {% endif %}/>
                    {{ item.1 }}</option>
                    {% endfor %}
                </select>
            </th>
            {% endif %}
            {% if 'retention_policy' in fields %}
            <th>
                <select name="val_retention_policy" id="val_retention_policy">
                    {% for item in policies %}
                    <option value="{{ item.0 }}"{% if request.GET.retention_policy == item.0 %} selected {% endif %}/>
                    {{ item.1 }}</option>
                    {% endfor %}
                </select>
            </th>
            {% endif %}
            {% if 'created' in fields %}
            <th><input type="text" style="width: 100%" name="val_created" value="{{ request.GET.created }}"/></th>
            {% endif %}
            {% if 'retention_date' in fields %}
            <th><input type="text" style="width: 100%" name="val_retention_date" value="{{ request.GET.retention_date }}"/></th>
            {% endif %}
        </tr>
        {% endif %}

        {% if fields|length %}
        {% for item in object_list %}
        <tr class="{% cycle 'odd' 'even' %}">
            {% if 'number' in fields %}
            <td>
                {{ item.number }}
            </td>
            {% endif %}
            {% if 'name' in fields %}
            <td>
                {{ item.name|default_if_none:'-' }}
            </td>
            {% endif %}
            {% if 'created_by' in fields %}
            <td>
                {{ item.created_name }}
            </td>
            {% endif %}
            {% if 'owner' in fields %}
            <td>
                {{ item.owner }}
            </td>
            {% endif %}
            {% if 'rack_group' in fields %}
            <td>
                {% for slot in item.slot_set.all %}
                      {% if slot.state == 3 or slot.state == 1 %}
                            {% with slot.shelf as shelf %}
                                {% with shelf.section.row as row %}
                                      {{ row.rack.rack_group }}
                                      <br/>
                                      {{ row|default_if_none:'-' }}
                                      <br/>
                                {% endwith %}
                                  {{ shelf.section }}
                                  <br/>
                                  {{ shelf }}
                                  <br/>
                            {% endwith %}
                            {{ slot }}
                        {% endif %}
                {% endfor %}
            </td>
            {% endif %}
            {% if 'department' in fields %}
            <td>
                {{ item.department|default_if_none:'-' }}
            </td>
            {% endif %}
            {% if 'item_type' in fields %}
            <td>
                {{ item.item_type|default_if_none:'-' }}
            </td>
            {% endif %}
            {% if 'retention_policy' in fields %}
            <td>
                {{ item.retention_policy|default_if_none:'-' }}
            </td>
            {% endif %}
            {% if 'created' in fields %}
            <td>
                {{ item.created }}
            </td>
            {% endif %}
            {% if 'retention_date' in fields %}
            <td>
                {{ item.combined_date }}
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        {% endif %}
    </table>
    {% paginate %}

</form>
</div>

{% endblock %}
{% block specific_js_scripts %}
<script type="text/javascript" src="{% static "js/jquery_cal_ru.js" %}"></script>
<script>
 $( function() {
	   $( "#datepicker" ).datepicker({
	       changeMonth: true,
	       changeYear: true
	   });
	   $.datepicker.setDefaults( $.datepicker.regional[ "ru" ] );
     $('#print_pdf').click(function(){
         $('#report_form')[0].setAttribute("target", "_blank");
         setTimeout(function() {
             $('#report_form')[0].setAttribute("target", "_self");
         }, 100);
     });

 } );
 
</script>
{% endblock %}
