{% extends "homepage/base.html" %}
{% load pagination_tags helper_tags i18n %}

{% block content %}
    {% if error_message %}
    <div class="error">{{ error_message }}</div>
    <br/>
    <br/>
    {% endif %}
    <h3 class="title">Отчет по единицам хранения</h3>
    <br/>
    <br/>
    <div class="interfaces">
    <form method="POST" action="." id="report_form">
    <!--
    <input type="text" placeholder="{{ search_placeholder }}"/>
    -->
    Статус:
    <select id="val_scope" name="val_scope">
      <option>Все</option>
      <option {% if request.GET.scope == 'На хранении' %} selected="selected"{% endif %}>На хранении</option>
      <option {% if request.GET.scope == 'Выданные' %} selected="selected"{% endif %}>Выданные</option>
    </select>

    Фильтр <button>Применить</button>
    <button name="cleanall">Очистить</button>
    <button name="print_pdf" id="print_pdf">Печать в PDF</button>
    <br/>
    <br/>

    Поле:
    <select name="add_field">
        <option value="">---</option>
        {% if fields|length %}
            {% if not 'client' in fields %}
              <option value="client">Группа</option>
            {% endif %}
            {% if not 'number' in fields %}
              <option value="number">Регистрационный №</option>
            {% endif %}
            {% if not 'name' in fields %}
              <option value="name">Наменование</option>
            {% endif %}
            {% if not 'description' in fields %}
              <option value="description">Описание</option>
            {% endif %}
            {% if not 'created_by' in fields %}
              <option value="created_by">Создал</option>
            {% endif %}
            {% if not 'owner' in fields %}
              <option value="owner">Ответственное лицо</option>
            {% endif %}
            {% if not 'released_to' in fields %}
              <option value="released_to">Выдано</option>
            {% endif %}
            {% if not 'rack_group' in fields %}
              <option value="rack_group">Мобильная группа</option>
            {% endif %}
            {% if not 'department' in fields %}
              <option value="department">Отдел</option>
            {% endif %}
            {% if not 'item_type' in fields %}
              <option value="item_type">Тип единицы</option>
            {% endif %}
            {% if not 'retention_policy' in fields %}
              <option value="retention_policy">Период хранения</option>
            {% endif %}
            {% if not 'fiscal_year' in fields %}
              <option value="fiscal_year">Финансовый год</option>
            {% endif %}
            {% if not 'created' in fields %}
              <option value="created">Дата создания</option>
            {% endif %}
        {% else %}
          <option value="client">Группа</option>
          <option value="number">Регистрационный №</option>
          <option value="name">Наменование</option>
          <option value="description">Описание</option>
          <option value="created_by">Создал</option>
          <option value="owner">Ответственное лицо</option>
          <option value="released_to">Выдано</option>
          <option value="rack_group">Мобильная группа</option>
          <option value="department">Отдел</option>
          <option value="item_type">Тип единицы</option>
          <option value="retention_policy">Период хранения</option>
          <option value="fiscal_year">Финансовый год</option>
          <option value="created">Дата создания</option>
        {% endif %}
    </select>
    <button>Добавить</button>
    <br/>
    <br/>

    {% paginate %}
    <table cellspacing="0" class="stdAppTable">
        {% if fields|length %}
        <tr>
            {% if 'client' in fields %}
            <th>Группа&nbsp;<br/><button name="del_client">x</button></th>
            {% endif %}
            {% if 'number' in fields %}
            <th>№ единицы<br/>хранения&nbsp;<br/><button name="del_number">x</button></th>
            {% endif %}
            {% if 'name' in fields %}
            <th>Наменование&nbsp;<br/><button name="del_name">x</button></th>
            {% endif %}
            {% if 'description' in fields %}
            <th>Описание&nbsp;<br/><button name="del_description">x</button></th>
            {% endif %}
            {% if 'created_by' in fields %}
            <th>Создал&nbsp;<br/><button name="del_created_by">x</button></th>
            {% endif %}
            {% if 'owner' in fields %}
            <th>Ответственное<br/>лицо&nbsp;<br/><button name="del_owner">x</button></th>
            {% endif %}
            {% if 'released_to' in fields %}
            <th>Выдано&nbsp;<br/><button name="del_released_to">x</button></th>
            {% endif %}
            {% if 'rack_group' in fields %}
            <th>Мобильная<br/>группа&nbsp;<br/><button name="del_rack_group">x</button></th>
            {% endif %}
            {% if 'department' in fields %}
            <th>Отдел&nbsp;<br/><button name="del_department">x</button></th>
            {% endif %}
            {% if 'item_type' in fields %}
            <th>Тип единицы<br/>хранения&nbsp;<br/><button name="del_item_type">x</button></th>
            {% endif %}
            {% if 'retention_policy' in fields %}
            <th>Период<br/>хранения&nbsp;<br/><button name="del_retention_policy">x</button></th>
            {% endif %}
            {% if 'fiscal_year' in fields %}
            <th>Финансовый<br/>год&nbsp;<br/><button name="del_fiscal_year">x</button></th>
            {% endif %}
            {% if 'created' in fields %}
            <th>Дата<br/>создания&nbsp;<br/><button name="del_created">x</button></th>
            {% endif %}
        </tr>
        {% endif %}
        {% if fields|length %}
        <tr>
            {% if 'client' in fields %}
            <th><input type="text" style="width: 100%" name="val_client" value="{{ request.GET.client }}"/></th>
            {% endif %}
            {% if 'number' in fields %}
            <th><input type="text" style="width: 100%" name="val_number" value="{{ request.GET.number }}"/></th>
            {% endif %}
            {% if 'name' in fields %}
            <th><input type="text" style="width: 100%" name="val_name" value="{{ request.GET.name }}"/></th>
            {% endif %}
            {% if 'description' in fields %}
            <th><input type="text" style="width: 100%" name="val_description" value="{{ request.GET.description }}"/></th>
            {% endif %}
            {% if 'created_by' in fields %}
            <th>
              <select name="val_created_by" id="val_created_by">
                  {% for item in pers %}
                  <option value="{{ item.0 }}"{% if request.GET.created_by == item.0 %} selected {% endif %}/>
                  {{ item.1 }}</option>
                  {% endfor %}
              </select>
            </th>
            {% endif %}
            {% if 'owner' in fields %}
            <th>
              <select name="val_owner" id="val_owner">
                  {% for item in pers %}
                  <option value="{{ item.0 }}"{% if request.GET.owner == item.0 %} selected {% endif %}/>
                  {{ item.1 }}</option>
                  {% endfor %}
              </select>
            </th>
            {% endif %}
            {% if 'released_to' in fields %}
            <th>
              <select name="val_released_to" id="val_released_to">
                  {% for item in pers %}
                  <option value="{{ item.0 }}"{% if request.GET.released_to == item.0 %} selected {% endif %}/>
                  {{ item.1 }}</option>
                  {% endfor %}
              </select>
            </th>
            {% endif %}
            {% if 'rack_group' in fields %}
            <th>
              <select name="val_rack_group" id="val_rack_group" style="max-width: 30em;">
                  {% for item in rack_groups %}
                  <option value="{{ item.0 }}"{% if request.GET.rack_group == item.0 %} selected {% endif %}/>
                  {{ item.1 }}</option>
                  {% endfor %}
              </select>
            </th>
            {% endif %}
            {% if 'department' in fields %}
            <th>
              <select name="val_department" id="val_department">
                  {% for item in departments %}
                  <option value="{{ item.0 }}"{% if request.GET.department == item.0 %} selected {% endif %}/>
                  {{ item.1 }}</option>
                  {% endfor %}
              </select>
            </th>
            {% endif %}
            {% if 'item_type' in fields %}
            <th>
              <select name="val_item_type" id="val_item_type">
                  {% for item in item_types %}
                  <option value="{{ item.0 }}"{% if request.GET.item_type == item.0 %} selected {% endif %}/>
                  {{ item.1 }}</option>
                  {% endfor %}
              </select>
            </th>
            {% endif %}
            {% if 'retention_policy' in fields %}
            <th>
              <select name="val_retention_policy" id="val_retention_policy">
                  {% for item in policies %}
                  <option value="{{ item.0 }}"{% if request.GET.retention_policy == item.0 %} selected {% endif %}/>
                  {{ item.1 }}</option>
                  {% endfor %}
              </select>
            </th>
            {% endif %}
            {% if 'fiscal_year' in fields %}
            <th><input type="text" style="width: 100%" name="val_fiscal_year" value="{{ request.GET.fiscal_year }}"/></th>
            {% endif %}
            {% if 'created' in fields %}
            <th><input type="text" style="width: 100%" name="val_created" value="{{ request.GET.created }}"/></th>
            {% endif %}
        </tr>
        {% endif %}

        {% if fields|length %}
          {% for item in object_list %}
          <tr class="{% cycle 'odd' 'even' %}">
            {% if 'client' in fields %}
              <td>
                {{ item.client|default_if_none:'-' }}
              </td>
            {% endif %}
            {% if 'number' in fields %}
              <td>
                {{ item.number }}
              </td>
            {% endif %}
            {% if 'name' in fields %}
              <td>
                {{ item.name|default_if_none:'-' }}
              </td>
            {% endif %}
            {% if 'description' in fields %}
              <td>
                {{ item.description|default_if_none:'-' }}
              </td>
            {% endif %}
            {% if 'created_by' in fields %}
              <td>
                {{ item.created_name }}
              </td>
            {% endif %}
            {% if 'owner' in fields %}
              <td>
                {{ item.owner }}
              </td>
            {% endif %}
            {% if 'released_to' in fields %}
              <td>
                {{ item.released_to|default_if_none:'-' }}
              </td>
            {% endif %}
            {% if 'rack_group' in fields %}
              <td>
                  {% for slot in item.slot_set.all %}
                      {% if slot.state == 3 or slot.state == 1 %}
                            {% with slot.shelf as shelf %}
                                {% with shelf.section.row as row %}
                                      {{ row.rack.rack_group }}
                                      <br/>
                                      {{ row|default_if_none:'-' }}
                                      <br/>
                                {% endwith %}
                                  {{ shelf.section }}
                                  <br/>
                                  {{ shelf }}
                                  <br/>
                            {% endwith %}
                            {{ slot }}
                        {% endif %}
                  {% endfor %}
              </td>
            {% endif %}
            {% if 'department' in fields %}
              <td>
                {{ item.department|default_if_none:'-' }}
              </td>
            {% endif %}
            {% if 'item_type' in fields %}
              <td>
                {{ item.item_type|default_if_none:'-' }}
              </td>
            {% endif %}
            {% if 'retention_policy' in fields %}
              <td>
                {{ item.retention_policy|default_if_none:'-' }}
              </td>
            {% endif %}
            {% if 'fiscal_year' in fields %}
              <td>
                {{ item.fiscal_year|default_if_none:'-' }}
              </td>
            {% endif %}
            {% if 'created' in fields %}
              <td>
                  {{ item.created }}
              </td>
              {% endif %}
          </tr>
          {% endfor %}
          {% endif %}
    </table>
    {% paginate %}

    </form>
    </div>
    {% endblock %}
    {% block endofbody %}
    <script>
     $(document).ready(function(){
         $('#print_pdf').click(function(){
             $('#report_form')[0].setAttribute("target", "_blank");
             setTimeout(function() {
                 $('#report_form')[0].setAttribute("target", "_self");
             }, 100);
         });
     });
    </script>
    {% endblock %}
